{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load templatetags %}

{% block title %} Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .btn-to-pet 
    {
        margin-bottom: 3px;
    }
    .tooltip-inner {
     max-width: none;
    }

    .loading-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8); 
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar-img {
        width: 32px !important;
        height: 32px !important;
    }

    .wave {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        border-radius: 50%;
        animation: waveAnimation 1.5s infinite;
    }

    @keyframes waveAnimation {
        0%, 100% {
            transform: scale(1);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.1);
            opacity: 1;
        }
    }
</style>

{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Pets
            <button class="btn btn-dark btn-sm lift lift-sm">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet</th>
                        <th>Species</th>
                        <th>Birthday</th>
                        <th>Owner</th>
                        <th>Status</th>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar me-2">
                                    <div class="loading-placeholder">
                                        <div class="wave"></div>
                                    </div>
                                    <img class="avatar-img img-fluid" src="{{ pet.picture.url }}" onload="hidePlaceholder(this)"/>
                                </div>
                                {{ pet.name }}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark btn-to-pet" href="{% url 'admin-view-pet-page' pet.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Pet Details">
                                    <i data-feather="external-link"></i>
                                </a>
                            </div>
                        </td>
                        <td>{{ pet.species }}</td>
                        <td>{{ pet.birthday }}</td>
                        <td >
                            {{ pet.client.full_name }}
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' pet.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Owner Details">
                                <i data-feather="external-link"></i>
                            </a>
                            {% if request.user.is_authenticated and pet.client.user.id == request.user.id %}
                            (You)
                            {% endif %}
                        </td>
                        <td>
                            {% if pet.is_active %}
                                <span class="badge bg-success">Active</span>
                            {% else %}
                                <span class="badge bg-danger">Deleted</span>
                            {% endif %}
                        </td>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-health-card-treatment-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Encode Health Card">
                                <i data-feather="credit-card"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-medical-prescription-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Prescription">
                                <i data-feather="list"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-medical-record-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Encode Medical Record">
                                <i data-feather="heart"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-calendar' %}?pet_id={{ pet.id }}&owner_id={{ pet.client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Set Appointment">
                                <i data-feather="calendar"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script> -->
<script>
    function hidePlaceholder(imgElement) {
        console.log(imgElement)
        const card = imgElement.closest('.avatar');
        const placeholder = card.querySelector('.loading-placeholder');
        if (placeholder) {
            placeholder.style.display = 'none';
        }
    }


    window.addEventListener('DOMContentLoaded', event => {
        const datatablesSimple = document.getElementById('datatablesSimple');
        
        var max_page = {{ pets|length }};
        var lastIndex = max_page > 25 ? max_page : 50;

        if (datatablesSimple) {
            let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
                paging: true,
                perPageSelect: [5, 10, 25, 50],
                perPage: 10,
                fixedHeight: false,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });

            //initialize bootstrap tooltip
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }
    });
</script>
{% endblock %}
