{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load templatetags %}

{% block title %} Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .btn-to-pet 
    {
        margin-bottom: 3px;
    }
    .tooltip-inner {
     max-width: none;
    }

    .loading-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8); 
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar-img {
        width: 32px !important;
        height: 32px !important;
    }

    .wave {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        border-radius: 50%;
        animation: waveAnimation 1.5s infinite;
    }

    @keyframes waveAnimation {
        0%, 100% {
            transform: scale(1);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.1);
            opacity: 1;
        }
    }
</style>

{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Pets
            <button class="btn btn-dark btn-sm lift lift-sm" onclick="printTable()">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" style="display: none;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet</th>
                        <th>Species</th>
                        <th>Birthday</th>
                        <th>Owner</th>
                        <th>Status</th>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-between">  <!-- Add justify-content-between -->
                                <div class="d-flex align-items-center">  <!-- Wrap the avatar and name in a new flex container -->
                                    <div class="avatar me-2">
                                        <div class="loading-placeholder">
                                            <div class="wave"></div>
                                        </div>
                                        {% if pet.picture %}
                                        <img class="avatar-img img-fluid" src="{{ pet.picture.url }}" onload="hidePlaceholder(this)"/>
                                        {% else %}
                                        <img class="avatar-img img-fluid" src="{% static 'images/no-image-placeholder.jpg' %}" alt="{{ pet.name }}" onload="hidePlaceholder(this)">
                                        {% endif %}
                                    </div>
                                    {{ pet.name }}
                                </div>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark btn-to-pet" href="{% url 'admin-view-pet-page' pet.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Pet Details">
                                    <i data-feather="external-link"></i>
                                </a>
                            </div>
                        </td>
                        
                        <td>{{ pet.species }}</td>
                        <td>{{ pet.birthday }}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-between">  <!-- Add justify-content-between -->
                                <div>  <!-- Wrap the name and (You) text in a div -->
                                    {{ pet.client.full_name }}
                                    {% if request.user.is_authenticated and pet.client.user.id == request.user.id %}
                                    (You)
                                    {% endif %}
                                </div>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' pet.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Owner Details">
                                    <i data-feather="external-link"></i>
                                </a>
                            </div>
                        </td>
                        
                        <td>
                            {% if pet.is_active %}
                                <span class="badge bg-success">Active</span>
                            {% else %}
                                <span class="badge bg-danger">Deleted</span>
                            {% endif %}
                        </td>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <td>
                            {% if pet.is_active %}
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-health-card-treatment-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Health Card">
                                <i data-feather="credit-card"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-medical-prescription-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Prescription">
                                <i data-feather="list"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-medical-record-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Record">
                                <i data-feather="heart"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-calendar' %}?pet_id={{ pet.id }}&owner_id={{ pet.client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Set Appointment">
                                <i data-feather="calendar"></i>
                            </a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% static 'images/barraca.png' as static_image %}
{{ pets|length|json_script:"CM_max_page" }}
{{ pet_data|json_script:"CM_dataRaw" }}
{{ pets|length|json_script:"CM_pets_length" }}
{{ request.user.client.full_name|json_script:"CM_logged_in_user" }}
{{ static_image|json_script:"CM_print_image" }}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'js/record/pet_module/pet_module.js' %}"></script>
<script>
    function hidePlaceholder(imgElement) {
        
        const card = imgElement.closest('.avatar');
        const placeholder = card.querySelector('.loading-placeholder');
        if (placeholder) {
            placeholder.style.display = 'none';
        }
    }
</script>
{% endblock %}
