{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load templatetags %}

{% block title %} Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .btn-to-pet 
    {
        margin-bottom: 3px;
    }
    .tooltip-inner {
     max-width: none;
    }

    .loading-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8); 
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar-img {
        width: 32px !important;
        height: 32px !important;
    }

    .wave {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eee;
        border-radius: 50%;
        animation: waveAnimation 1.5s infinite;
    }

    @keyframes waveAnimation {
        0%, 100% {
            transform: scale(1);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.1);
            opacity: 1;
        }
    }
</style>

{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Pets
            <button class="btn btn-dark btn-sm lift lift-sm" onclick="printTable()">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet</th>
                        <th>Species</th>
                        <th>Birthday</th>
                        <th>Owner</th>
                        <th>Status</th>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar me-2">
                                    <div class="loading-placeholder">
                                        <div class="wave"></div>
                                    </div>
                                    <img class="avatar-img img-fluid" src="{{ pet.picture.url }}" onload="hidePlaceholder(this)"/>
                                </div>
                                {{ pet.name }}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark btn-to-pet" href="{% url 'admin-view-pet-page' pet.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Pet Details">
                                    <i data-feather="external-link"></i>
                                </a>
                            </div>
                        </td>
                        <td>{{ pet.species }}</td>
                        <td>{{ pet.birthday }}</td>
                        <td >
                            {{ pet.client.full_name }}
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' pet.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Owner Details">
                                <i data-feather="external-link"></i>
                            </a>
                            {% if request.user.is_authenticated and pet.client.user.id == request.user.id %}
                            (You)
                            {% endif %}
                        </td>
                        <td>
                            {% if pet.is_active %}
                                <span class="badge bg-success">Active</span>
                            {% else %}
                                <span class="badge bg-danger">Deleted</span>
                            {% endif %}
                        </td>
                        {% if request.user|has_permission:'record_management.add_treatment' %}
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-health-card-treatment-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Encode Health Card">
                                <i data-feather="credit-card"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-add-pet-medical-prescription-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Prescription">
                                <i data-feather="list"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-medical-record-page' %}?pet_id={{ pet.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Encode Medical Record">
                                <i data-feather="heart"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-calendar' %}?pet_id={{ pet.id }}&owner_id={{ pet.client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Set Appointment">
                                <i data-feather="calendar"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script> -->
<script>
    function hidePlaceholder(imgElement) {
        
        const card = imgElement.closest('.avatar');
        const placeholder = card.querySelector('.loading-placeholder');
        if (placeholder) {
            placeholder.style.display = 'none';
        }
    }


    window.addEventListener('DOMContentLoaded', event => {
        const datatablesSimple = document.getElementById('datatablesSimple');
        
        var max_page = {{ pets|length }};
        var lastIndex = max_page > 25 ? max_page : 50;

        if (datatablesSimple) {
            let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
                paging: true,
                perPageSelect: [5, 10, 25, 50],
                perPage: 10,
                fixedHeight: false,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });

            //initialize bootstrap tooltip
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function getFormattedDate(date)
    {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }
    
    function printTable()
    {
        var dataRaw = {{ pet_data|safe }};
        var signatureData = [];

        for (var i = 0; i < 7; i++) {
            signatureData.push({
                signature: '‎',
                total: '‎',
            });
        }
      
        signatureData.push({
            total: '‎',
            signature: `<div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;"><span style='font-size:9pt;font-weight:600;'>Prepared by</span><br><span style='font-size:12pt;font-weight:600;'>${'{{ request.user.client.full_name}}'}</span></div>`,
        });
                

        signatureData.push({
            signature: '‎',
            total: '‎',
        });

        signatureData.push({
            total: '‎', 
            signature: `<div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;"><span style='font-size:12pt;font-weight:600;'>____________________</span><br><span style='font-size:10pt;font-weight:600;'>Date Signed</span></div>`,
        });

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "PET LIST";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
                <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000;'>
                    <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                        <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                        <div><span style='font-size:12pt;'><span style='font-size:12pt;font-weight:bold;'>Total Pets:</span> ${'{{ pets|length }}'}</span></div>
                        <div><span style='font-size:12pt;'><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</span></div>
                    </div>
                    <img src='${imgSrc}' style='width: 30%;' />
                </div>
            `;

        var tableContent = dataRaw.map(c => 
        `
        <tr>
            <td>${c.id}</td>
            <td>${c.name}</td>
            <td>${c.species}</td>
            <td>${c.breed}</td>
            <td>${c.color}</td>
            <td>${c.gender}</td>
            <td>${c.birthday}</td>
            <td>${c.weight}</td>
            <td>${c.owner}</td>
            <td>${c.status}</td>
        </tr>
        `).join('');

        var footerContent = signatureData.map(row => `
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>${row.signature} ${row.total}</td>
            </tr>
        `).join('');

        var completeHTML = `
            ${header}
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">ID</th>
                        <th class="table-header">Name</th>
                        <th class="table-header">Species</th>
                        <th class="table-header">Breed</th>
                        <th class="table-header">Color</th>
                        <th class="table-header">Gender</th>
                        <th class="table-header">Birthday</th>
                        <th class="table-header">Weight (kg)</th>
                        <th class="table-header">Owner</th>
                        <th class="table-header">Status</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContent}
                </tbody>
            </table>
            <table>
                <thead class="second-thead"> 
                    <tr>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                    </tr> 
                </thead>
                <tbody class="second-tbody">
                    ${footerContent}
                </tobdy>
            </table>
        `;
        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            gridStyle: css_gridStyle,
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 8px 12px;
                text-align: center; 
                border-top: 0px solid black;
                border-bottom: 1px solid black;
            }

            .first-thead th, .first-tbody td {
                padding-bottom: 12px !important;
                padding-top: 12px !important;
                font-size: 10pt;
            }
            
            .second-tbody td {
                border: none; 
                padding: 2px 2px;
                padding-top: 12px !important;
            }        
        `,
        });
    }
</script>
{% endblock %}
