{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Pet - {{ pet.name }} | Barraca Veterinary Clinic {% endblock %}

<a href="{% url 'pet-list-page' %}">Back</a>

{% block extrastyles %}
<style>
    .nav-wizard .nav-link 
    {
        padding: 0.5rem;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link 
    {
        color: white;
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-icon 
    {
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-text .wizard-step-text-name 
    {
        color: #121212;
    }

    .nav-wizard .nav-link.active .wizard-step-icon i, .nav-wizard .nav-link.active .wizard-step-icon svg, .nav-wizard .nav-link.active .wizard-step-icon .feather 
    {
        color: #121212;
    }
    .card {
        box-shadow: 0 0rem 0rem 0 rgba(255, 255, 255, 0.15);
    }
    .card-header {
        background-color: rgba(255, 222, 173, 0);
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 10px;
        display: none; 
        border-radius: 15px;
    }
    .toggle-text-btn {
        z-index: 10;
    }
    .img-thumbnail {
        border-radius: 0.35rem;
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease, border-color 0.3s ease;
        padding: 0rem !important;
    }
    
    .img-thumbnail:hover {
        transform: scale(1.05);  
        border-color: #232323; 
    }

    .img-thumbnail.selected {
        border-color: #e81500;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
    <nav class="mt-4 rounded mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb px-3 py-2 rounded mb-0">
            <li class="breadcrumb-item"><a href="{% url 'admin-pet-list-page' %}">Pets</a></li>
            <li class="breadcrumb-item active">{{ pet.name }}</li>
        </ol>
    </nav>
    
        <!-- Wizard card example with navigation-->
        <div class="card">
            <div class="card-header border-bottom">
                <!-- Wizard navigation-->
                <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                    <!-- Wizard navigation item 1-->
                    <a class="nav-item nav-link active" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="info"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Pet Information</div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 2-->
                    <a class="nav-item nav-link" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="heart"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Health Card</div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 3-->
                    <a class="nav-item nav-link" id="wizard3-tab" href="#wizard3" data-bs-toggle="tab" role="tab" aria-controls="wizard3" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="activity"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Medical Record</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="cardTabContent">
                    <!-- Wizard tab pane item 1-->
                    
                    <div class="tab-pane py-5 py-xl-2 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <h1>{{ pet.name }}</h1>
                                <br>
                                <p>Species: {{ pet.species }}</p>
                                <p>Breed: {{ pet.breed }}</p>
                                <p>Birthday: {{ pet.birthday }}</p>
                                <p>Age: {{ pet.age }}</p>
                                <p>Gender: {{ pet.gender }}</p>
                                <p>Color: {{ pet.color }}</p>
                                <p>Weight: {{ pet.weight }} kg</p>
                                <p>Owner: {{ pet.client.full_name }}
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' pet.client.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View Owner" style="margin-bottom: 4px;">
                                        <i data-feather="external-link"></i>
                                    </a>
                                </p>

                            </div>
                            <div class="col-md-6">
                                <img src="{{ pet.picture.url }}" alt="{{ pet.name }}" class="img-fluid" style="border-radius: 10px;">
                            </div>
                        </div>
                        <br>
                        <a href="{% url 'admin-update-pet-page' pet.id %}" class="btn btn-dark btn-sm lift-sm"><i data-feather="settings"></i>&nbsp;Update</a>
                        <!-- <a href="{% url 'delete-pet-page' pet.id %}" class="btn btn-dark">Delete</a> -->
                        <a href="{% url 'admin-calendar' %}?pet_id={{ pet.id }}&owner_id={{ pet.client.id }}" class="btn btn-dark btn-sm lift-sm"><i data-feather="calendar"></i>&nbsp;Set Appointment</a>
                    </div>
                    
                    <!-- Wizard tab pane item 2-->
                    <div class="tab-pane py-5 py-xl-2 fade" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                        <div class="row justify-content-center">
                            <div class="card card-collapsable mb-2">
                                <a class="card-header" href="#dewCard" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="dewCard">
                                    Deworming
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </a>
                                <div class="collapse show" id="dewCard">
                                    <div class="card-body">
                                        <table id="deworming-health-card-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Visit Date</th>
                                                    <th>Next Deworming</th>
                                                    <th>Weight</th>
                                                    <th>Treatment</th>
                                                    <th>Veterenarian</th>
                                                    <th>Medicine</th>
                                                    <th>Medicine Sticker</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for treatment in deworming_health_card %}
                                                {% if treatment.isActive %}
                                                <tr>
                                                    <td><span class="treatment-id">{{ treatment.id }}</span></td>
                                                    <td>
                                                        <!-- convert date to Dec 25, 2023 12:00 AM format -->
                                                        {{ treatment.treatment_date|date:"M d, Y" }} {{ treatment.treatment_date|time:"g:i A" }}
                                                    </td>
                                                    <td>
                                                        {% if treatment.appointment %}
                                                            {{ treatment.appointment.date|date:"M d, Y" }} - {{ treatment.appointment.get_timeOfTheDay_display }}
                                                        {% else %}
                                                            <i data-feather="x-square"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ treatment.treatment_weight }}</td>
                                                    <td>{{ treatment.treatment }}</td>
                                                    <td>Yvette Mae Barraca</td>
                                                    <td>
                                                    {% for prescription_medicine in treatment.petmedicalprescription.prescriptionmedicines_set.all %}
                                                        {{ prescription_medicine.medicine.product_name }} 
                                                    {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% if treatment.get_lab_result_image_for_health_card %}
                                                        <a href="{{ treatment.get_lab_result_image_for_health_card.url }}" class="btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Image">
                                                            <i data-feather="image"></i>
                                                        </a>
                                                        <!-- <span class="small">{{ treatment.medical_images }}</span> -->
                                                        {% else %}
                                                            <i data-feather="x-square"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin-update-pet-health-card-treatment-page' treatment.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                            <i data-feather="edit"></i>
                                                        </a> 
                                                        <a href="#" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark btn-delete-treatment" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide">
                                                            <i data-feather="trash-2"></i>
                                                        </a> 
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapsable">
                                <a class="card-header" href="#vaccCard" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="vaccCard">
                                    Vaccination
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </a>
                                <div class="collapse show" id="vaccCard">
                                    <div class="card-body">
                                        <table id="vaccination-health-card-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Visit Date</th>
                                                    <th>Next Vaccination</th>
                                                    <th>Weight</th>
                                                    <th>Treatment</th>
                                                    <th>Veterenarian</th>
                                                    <th>Medicine</th>
                                                    <th>Medicine Sticker</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for treatment in vaccination_health_card %}
                                                {% if treatment.isActive %}
                                                <tr>
                                                    <td><span class="treatment-id">{{ treatment.id }}</span></td>
                                                    <td>
                                                        <!-- convert date to Dec 25, 2023 12:00 AM format -->
                                                        {{ treatment.treatment_date|date:"M d, Y" }} {{ treatment.treatment_date|time:"g:i A" }}
                                                    </td>
                                                    <td>
                                                        {% if treatment.appointment %}
                                                            {{ treatment.appointment.date|date:"M d, Y" }} - {{ treatment.appointment.get_timeOfTheDay_display }}
                                                        {% else %}
                                                            <i data-feather="x-square"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ treatment.treatment_weight }}</td>
                                                    <td>{{ treatment.treatment }}</td>
                                                    <td>Yvette Mae Barraca</td>
                                                    <td>
                                                    {% for prescription_medicine in treatment.petmedicalprescription.prescriptionmedicines_set.all %}
                                                        {{ prescription_medicine.medicine.product_name }} 
                                                    {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% if treatment.get_lab_result_image_for_health_card %}
                                                        <a href="{{ treatment.get_lab_result_image_for_health_card.url }}" class="btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Image">
                                                            <i data-feather="image"></i>
                                                        </a>
                                                        <!-- <span class="small">{{ treatment.medical_images }}</span> -->
                                                        {% else %}
                                                            <i data-feather="x-square"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin-update-pet-health-card-treatment-page' treatment.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                            <i data-feather="edit"></i>
                                                        </a> 
                                                        <a href="#" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark btn-delete-treatment" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide">
                                                            <i data-feather="trash-2"></i>
                                                        </a> 
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <a href="{% url 'admin-add-pet-health-card-treatment-page' %}?pet_id={{ pet.id }}" class="btn btn-dark mt-4 btn-sm">
                                <i data-feather="plus-circle"></i>
                                &nbsp;
                                Add Treatment
                            </a>
                            <button class="btn btn-dark btn-sm mt-4 lift-sm" onclick="printHealthCard()">
                                <i data-feather="printer"></i>
                                &nbsp;
                                Print
                            </button>
                        </div>
                        <div class="card card-collapsable">
                            <a class="card-header collapsed" href="#acrhiveHealthCardCollapseCard" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="acrhiveHealthCardCollapseCard"><div><i data-feather="archive" style="margin-top: 3px;"></i> Archive ({{ inactive_health_card|length }})</div>
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="acrhiveHealthCardCollapseCard">
                                <div class="card-body">
                                    <table id="health-card-archive-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Visit Date</th>
                                                <th>Next Vaccination/Deworming</th>
                                                <th>Weight</th>
                                                <th>Treatment</th>
                                                <th>Veterenarian</th>
                                                <th>Medicine</th>
                                                <th>Medicine Sticker</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for treatment in inactive_health_card %}
                                            <tr>
                                                <td><span class="treatment-id">{{ treatment.id }}</span></td>
                                                <td>
                                                    <!-- convert date to Dec 25, 2023 12:00 AM format -->
                                                    {{ treatment.treatment_date|date:"M d, Y" }} {{ treatment.treatment_date|time:"g:i A" }}
                                                </td>
                                                <td>
                                                    {% if treatment.appointment %}
                                                        {{ treatment.appointment.date|date:"M d, Y" }} - {{ treatment.appointment.get_timeOfTheDay_display }}
                                                    {% else %}
                                                        <i data-feather="x-square"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ treatment.treatment_weight }}</td>
                                                <td>{{ treatment.treatment }}</td>
                                                <td>Yvette Mae Barraca</td>
                                                <td>
                                                {% for prescription_medicine in treatment.petmedicalprescription.prescriptionmedicines_set.all %}
                                                    {{ prescription_medicine.medicine.product_name }} 
                                                {% endfor %}
                                                </td>
                                                <td>
                                                    {% if treatment.get_lab_result_image_for_health_card %}
                                                    <a href="{{ treatment.get_lab_result_image_for_health_card.url }}" class="btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Image">
                                                        <i data-feather="image"></i>
                                                    </a>
                                                    <!-- <span class="small">{{ treatment.medical_images }}</span> -->
                                                    {% else %}
                                                        <i data-feather="x-square"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="#" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i data-feather="edit"></i>
                                                    </a> 
                                                    <a href="#" target="_blank" class="btn btn-datatable btn-icon btn-transparent-dark btn-enable-treatment" data-bs-toggle="tooltip" data-bs-placement="top" title="Enable">
                                                        <i data-feather="corner-right-up"></i>
                                                    </a> 
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Wizard tab pane item 3-->
                    <div class="tab-pane py-5 py-xl-2 fade" id="wizard3" role="tabpanel" aria-labelledby="wizard3-tab">
                        <div class="row justify-content-center">
                            <table id="treatment-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th><span class="small">Visit Date</span></th>
                                        <th><span class="small">Symptomps</span></th>
                                        <th><span class="small">Temperature</span></th>
                                        <th><span class="small">Weight</span></th>
                                        <th><span class="small">Diagnosis</span></th>
                                        <th><span class="small">Treatment</span></th>
                                        <th><span class="small">Lab Results</span></th>
                                        <th><span class="small">Prescription</span></th>
                                        <th><span class="small">Next Appointment</span></th>
                                        <th><span class="small">Actions</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for treatment in pet_treatment %}
                                    {% if treatment.isActive %}
                                    <tr>
                                        <td><span class="treatment-id">{{ treatment.id }}</span></td>
                                        <td>
                                            <!-- convert date to Dec 25, 2023 12:00 AM format -->
                                            {{ treatment.treatment_date|date:"M d, Y" }} {{ treatment.treatment_date|time:"g:i A" }}
                                        </td>
                                        <td>{{ treatment.symptoms }}</td>
                                        <td>{{ treatment.temperature }}</td>
                                        <td>{{ treatment.treatment_weight }}</td>
                                        <td>{{ treatment.diagnosis }}</td>
                                        <td>{{ treatment.treatment }}</td>
                                        <td>
                                            {% if treatment.lab_results %}
                                                <button class="openLabResultsBtn btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Laboratory Results" data-treatment-id="{{ treatment.id }}">
                                                    <i data-feather="heart"></i>
                                                </button>
                                            {% else %}
                                                <i data-feather="x-square"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if treatment.petmedicalprescription %}
                                                <a href="{% url 'admin-view-prescription-page' treatment.petmedicalprescription.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Prescription">
                                                    <i data-feather="list"></i>
                                                </a>
                                            {% else %}
                                                <i data-feather="x-square"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if treatment.appointment %}
                                                {{ treatment.appointment.date|date:"M d, Y" }} - {{ treatment.appointment.get_timeOfTheDay_display }}
                                            {% else %}
                                                <i data-feather="x-square"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'admin-update-consultation-page' treatment.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                <i data-feather="edit"></i>
                                            </a> 
                                            <a href="#" class="btn btn-datatable btn-icon btn-transparent-dark btn-delete-treatment" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide">
                                                <i data-feather="trash-2"></i>
                                            </a> 
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-4">
                            <a href="{% url 'admin-medical-record-page' %}?pet_id={{ pet.id }}" class="btn btn-dark mt-4 btn-sm"><i data-feather="plus-circle"></i>&nbsp;Add Treatment</a>
                            <button class="btn btn-dark btn-sm mt-4 lift-sm" onclick="printMedicalRecord()">
                                <i data-feather="printer"></i>
                                &nbsp;
                                Print
                            </button>
                        </div>
                        <div class="card card-collapsable">
                            <a class="card-header collapsed" href="#acrhiveCollapseCard" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="acrhiveCollapseCard"><div><i data-feather="archive" style="margin-top: 3px;"></i> Archive ({{ inactive_pet_treatment|length }})</div>
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="acrhiveCollapseCard">
                                <div class="card-body">
                                    <table id="treatment-archive-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th><span class="small">Visit Date</span></th>
                                                <th><span class="small">Symptomps</span></th>
                                                <th><span class="small">Temperature</span></th>
                                                <th><span class="small">Weight</span></th>
                                                <th><span class="small">Diagnosis</span></th>
                                                <th><span class="small">Treatment</span></th>
                                                <th><span class="small">Lab Results</span></th>
                                                <th><span class="small">Prescription</span></th>
                                                <th><span class="small">Next Appointment</span></th>
                                                <th><span class="small">Actions</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for treatment in inactive_pet_treatment %}
                                            <tr>
                                                <td><span class="treatment-id">{{ treatment.id }}</span></td>
                                                <td>
                                                    <!-- convert date to Dec 25, 2023 12:00 AM format -->
                                                    {{ treatment.treatment_date|date:"M d, Y" }} {{ treatment.treatment_date|time:"g:i A" }}
                                                </td>
                                                <td>{{ treatment.symptoms }}</td>
                                                <td>{{ treatment.temperature }}</td>
                                                <td>{{ treatment.treatment_weight }}</td>
                                                <td>{{ treatment.diagnosis }}</td>
                                                <td>{{ treatment.treatment }}</td>
                                                <td>
                                                    {% if treatment.lab_results %}
                                                        <button class="openLabResultsBtn btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Laboratory Results" data-treatment-id="{{ treatment.id }}">
                                                            <i data-feather="heart"></i>
                                                        </button>
                                                    {% else %}
                                                        <i data-feather="x-square"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if treatment.petmedicalprescription %}
                                                        <a href="{% url 'admin-view-prescription-page' treatment.petmedicalprescription.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Prescription">
                                                            <i data-feather="list"></i>
                                                        </a>
                                                    {% else %}
                                                        <i data-feather="x-square"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if treatment.appointment %}
                                                        {{ treatment.appointment.date|date:"M d, Y" }} - {{ treatment.appointment.get_timeOfTheDay_display }}
                                                    {% else %}
                                                        <i data-feather="x-square"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin-update-consultation-page' treatment.id %}" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                        <i data-feather="edit"></i>
                                                    </a> 
                                                    <a href="#" class="btn btn-datatable btn-icon btn-transparent-dark btn-enable-treatment" data-bs-toggle="tooltip" data-bs-placement="top" title="Enable">
                                                        <i data-feather="corner-right-up"></i>
                                                    </a> 
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% include 'admin/pet_module/view_pet_modals.html' %}
{% endblock %}

{% block extrascripts %}
{% include 'admin/pet_module/view_pet_script.html' %}
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script>
    function getFormattedDate(date)
    {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }

    function printMedicalRecord()
    {
        var medicalRecordDataRaw = {{ medical_record_data|safe }}

        var signatureData = [];

        for (var i = 0; i < 2; i++) {
            signatureData.push({
                signature: '‎'
            });
        }

        signatureData.push({
            total: '‎',
            signature: `
            <div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;">
                <span style='font-size:12pt;font-weight:600;'>
                    Yvette Mae Barraca, DVM
                </span>
                <br>
                <span style='font-size:9pt;font-weight:600;'>
                    LC. NO: 00000
                </span>
            </div>`,
        });

        signatureData.push({
            signature: '‎',
            total: '‎',
        });

        signatureData.push({
            total: '‎', 
            signature: `
            <div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;">
                <span style='font-size:12pt;font-weight:600;'>
                    ____________________
                </span>
                <br>
                <span style='font-size:10pt;font-weight:600;'>
                    Date Signed
                </span>
            </div>`,
        });

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "PET MEDICAL RECORD";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000; margin-bottom:20px;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <div><span style='font-size:12pt;font-weight:bold;'>Client:</span> ${'{{ pet.client.full_name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Pet Name:</span> ${'{{ pet.name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</div>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;

        var tableContent = medicalRecordDataRaw.map(c => 
        `
        <tr>
            <td style="font-size:9pt;">${c.visit_date}</td>
            <td style="font-size:9pt;">${c.next_visit_date}</td>
            <td>${c.symptoms}</td>
            <td>${c.weight}</td>
            <td>${c.temp}</td>
            <td>${c.diagnosis}</td>
            <td>${c.treatment}</td>
        </tr>
        `).join('');

        var footerContent = signatureData.map(row => `
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>${row.signature}</td>
        </tr>
            `).join('');

        var completeHTML = `
            ${header}
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Visit Date</th>
                        <th class="table-header">Next Visit</th>
                        <th class="table-header">Symptoms</th>
                        <th class="table-header">Weight (kg)</th>
                        <th class="table-header">Temperature (celcius)</th>
                        <th class="table-header">Diagnosis</th>
                        <th class="table-header">Treatment</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContent}
                </tbody>
            </table>
            <table>
                <thead class="second-thead"> 
                    <tr>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                    </tr> 
                </thead>
                <tbody class="second-tbody">
                    ${footerContent}
                </tobdy>
            </table>
        `;

        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            repeatTableHeader: true,
            scanStyles: true,
            gridStyle: css_gridStyle,
            modalMessage: 'Generating prescription report, this might take a while...',
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
                margin: 45px 70px 45px 70px; 
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 12px 12px;
                text-align: center; 
                border-bottom: 1px solid black;
            }
            
            .first-thead th, .first-tbody td{
                font-size: 10pt;
            }
            
            tfoot td {
                border: none; 
                padding: 2px 2px;
                padding-top: 12px;
            }
        `,
        });
    }

    function printHealthCard()
    {
        var dewormingDataRaw = {{ deworming_data|safe }};
        var vaccinationDataRaw = {{ vaccination_data|safe }};

        var signatureData = [];

        for (var i = 0; i < 2; i++) {
            signatureData.push({
                signature: '‎'
            });
        }

        signatureData.push({
            total: '‎',
            signature: `
            <div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;">
                <span style='font-size:12pt;font-weight:600;'>
                    Yvette Mae Barraca, DVM
                </span>
                <br>
                <span style='font-size:9pt;font-weight:600;'>
                    LC. NO: 00000
                </span>
            </div>`,
        });

        signatureData.push({
            signature: '‎',
            total: '‎',
        });

        signatureData.push({
            total: '‎', 
            signature: `
            <div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;">
                <span style='font-size:12pt;font-weight:600;'>
                    ____________________
                </span>
                <br>
                <span style='font-size:10pt;font-weight:600;'>
                    Date Signed
                </span>
            </div>`,
        });

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "PET HEALTH CARD";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000; margin-bottom:20px;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <div><span style='font-size:12pt;font-weight:bold;'>Client:</span> ${'{{ pet.client.full_name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Pet Name:</span> ${'{{ pet.name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</div>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;

        var tableContentDew = dewormingDataRaw.map(c => 
        `
        <tr>
            <td style="font-size:9pt;">${c.visit_date}</td>
            <td style="font-size:9pt;">${c.next_visit_date}</td>
            <td>${c.weight}</td>
            <td>${c.temp}</td>
            <td>${c.medicine}</td>
        </tr>
        `).join('');

        var tableContentVacc = vaccinationDataRaw.map(c => 
        `
        <tr>
            <td style="font-size:9pt;">${c.visit_date}</td>
            <td style="font-size:9pt;">${c.next_visit_date}</td>
            <td>${c.weight}</td>
            <td>${c.temp}</td>
            <td>${c.medicine}</td>
        </tr>
        `).join('');

        var footerContent = signatureData.map(row => `
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>${row.signature}</td>
        </tr>
            `).join('');

        var completeHTML = `
            ${header}
            {% if deworming_data|length > 0 %}
            <div style="width: 100%; text-align:center;">
                <span style="font-weight:600;">- DEWORMING -</span>
            </div>
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Visit Date</th>
                        <th class="table-header">Next Visit</th>
                        <th class="table-header">Weight (kg)</th>
                        <th class="table-header">Temperature (celcius)</th>
                        <th class="table-header">Medicine</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContentDew}
                </tbody>
            </table>
            {% endif %}
            {% if vaccination_data|length > 0 %}
            <div style="width: 100%; text-align:center;">
                <span style="font-weight:600;">- VACCINATION -</span>
            </div>
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Visit Date</th>
                        <th class="table-header">Next Visit</th>
                        <th class="table-header">Weight (kg)</th>
                        <th class="table-header">Temperature (celcius)</th>
                        <th class="table-header">Medicine</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContentVacc}
                </tbody>
            </table>
            {% endif %}
            <table>
                <thead class="second-thead"> 
                    <tr>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>
                        <th class="table-header">‎</th>

                    </tr> 
                </thead>
                <tbody class="second-tbody">
                    ${footerContent}
                </tobdy>
            </table>
        `;

        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            repeatTableHeader: true,
            scanStyles: true,
            gridStyle: css_gridStyle,
            modalMessage: 'Generating prescription report, this might take a while...',
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
                margin: 45px 70px 45px 70px; 
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 12px 12px;
                text-align: center; 
                border-bottom: 1px solid black;
            }
            
            .first-thead th, .first-tbody td{
                font-size: 10pt;
            }
            
            tfoot td {
                border: none; 
                padding: 2px 2px;
                padding-top: 12px;
            }
        `,
        });
    }
</script>
{% endblock %}
