{% load static %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    {% comment %} <div class="sidenav-menu-heading d-sm-none">Account</div>
                    <a class="nav-link d-sm-none" href="#!">
                        <div class="nav-link-icon"><i data-feather="bell"></i></div>
                        Alerts
                        <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                    </a>
                    <a class="nav-link d-sm-none" href="#!">
                        <div class="nav-link-icon"><i data-feather="mail"></i></div>
                        Messages
                        <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                    </a>
                    <a class="nav-link d-sm-none" href="{% url 'home' %}">
                        <div class="nav-link-icon"><i data-feather="layout"></i></div>
                        Visit Site
                    </a> {% endcomment %}
                    {% with request.resolver_match.url_name as current_url_name %}
                    <div class="sidenav-menu-heading">Home</div>
                    <a class="nav-link {% if current_url_name == 'customer-dashboard' %}active{% endif %}" href="{% url 'customer-dashboard' %}">
                        <div class="nav-link-icon"><i class="fas fa-chart-pie text-grey-200"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link {% if current_url_name == 'pet-list-page' or current_url_name == 'register-pet-page' or current_url_name == 'view-pet-page' or current_url_name == 'update-pet-page' or current_url_name == 'delete-pet-page' or current_url_name == 'pet-success-page' or current_url_name == 'view-prescription-page' %} active {% endif %}" href="{% url 'pet-list-page' %}">
                        <div class="nav-link-icon"><i class="fas fa-cat text-grey-200"></i></div>
                        My Pets
                    </a>
                    <!-- {% if current_url_name == 'admin-vet' %}active{% endif %} MUST ADD!!!!!-->
                    <!-- <a class="nav-link" href="#"> 
                        <div class="nav-link-icon"><i data-feather="credit-card"></i></div>
                        Pet Health Card
                    </a> -->
                    <a class="nav-link {% if current_url_name == 'client_calendar' %}active{% endif %}" href="{% url 'client_calendar' %}">
                        <div class="nav-link-icon"><i class="fas fa-calendar-days text-grey-200"></i></div>
                        Appointments
                    </a>
                    <!-- <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                        My Transactions
                    </a> -->
                    {% endwith %}
                </div>
            </div>
            <!-- Sidenav Footer-->
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Logged in as:</div>
                    <div class="sidenav-footer-title">{{ user.client }}</div>
                </div>
            </div>
        </nav>
    </div>
