:root
{
  --fc-button-active-bg-color: lightgreen;
  --fc-button-active-border-color: lightgreen;
  /* --fc-button-text-color: white; */
}

.calendar-container {

  padding: 0;
  font-size: 14px;
}

.calendar-container #calendar {
  max-width: 850px;
  margin: 0 auto;
}

.calendar-container .day-available {
  background-color: white;
}

.calendar-container .day-full {
  background-color: #ff3d3d70 !important;
}

.calendar-container .day-disabled-morning {
  background-color: #001e5570 !important;
}

.calendar-container .day-disabled-afternoon {
  background-color: #00502170 !important;
}

.calendar-container .day-disabled-whole-day {
  background-color: #ff3d3d70 !important;
}

.calendar-container .fc-popover
{
  background-color: white;
}

.calendar-container .fc-daygrid-day-number {
  color: #232323;
}

.calendar-container .fc-daygrid-day-number:hover {
  cursor: pointer;
  text-decoration: none;
  color: maroon;
}

.calendar-container .fc-col-header-cell-cushion
{
  color: #232323;
}

.calendar-container .fc .fc-button-primary:not(:disabled).fc-button-active, .calendar-container .fc .fc-button-primary:not(:disabled):active 
{
  color: #232323;
}

.calendar-container .fc-daygrid-more-link, .calendar-container .fc-more-link
{
  color: #232323;
}

.calendar-container .fc-h-event 
{
  cursor: pointer;
}

.calendar-container .fc-col-header-cell-cushion
{
  cursor:default;
}

.calendar-container .fc-toolbar-chunk-mobile {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: red;
}

.calendar-container .fc .fc-toolbar-title {
  font-weight: bold;
}

.flex-container {
  display: flex; 
  flex-direction: row; 
}

.parent-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

#calendar-wrap {
  flex: 3;
  margin-left: 20px;
}

#external-events {
  position: relative;
  padding: 0 10px;
  text-align: left;
  flex: 0 0 2in; 
  margin-right: 20px;
}

.height-wrapper
{
  border: 1px solid #ccc;
  padding: 10px
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 3px 0;
  cursor: pointer;
}

.fc-h-event {
  background-color: darkorange;
  border: none;
  cursor: move;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

.fc-h-event .fc-event-title-container {
  text-align: center;
}

#external-events-list .custom-rebook-color
{
  background: darkorange;
  border:none;
}

.fc-h-event .fc-event-main {
  text-align: center;
}

@media (max-width: 876px) {
  .calendar-container .fc .fc-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calendar-container .fc .fc-toolbar-title {
    font-size: 1.55em;
    margin: 10px;
    font-weight: bold;
  }

  .calendar-container .fc .fc-button-group {
    margin-bottom: 10px;
  }

  .calendar-container .fc .fc-today-button {
    margin-bottom: 10px;
  }

  .calendar-container .fc .fc-daygrid-more-link {
    line-height: 2;
  }

  .calendar-container .fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) 
  {
    border: none;
  }

  .calendar-container .fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    margin-left: 0px;
  }

  .flex-container {
    flex-direction: column;
  }
  
  #calendar-wrap {
    margin-left: 0px;
  }

  .fc-view-harness, .fc-view-harness-active
  {
    height: 500px;
  }

  .calendar-container {

    padding: 0;
    font-size: 3vw;
  }
  
  .calendar-container #calendar {
    max-width: 1000px;
    margin: 0 auto;
  }

  .card {
    --bs-card-spacer-y: 0.2rem !important;
    --bs-card-spacer-x: 0.2rem !important;
  }

  .slot-element
  {
    display: none !important;
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
}
  #calendar-wrap {
    flex: 1;
  }

  #external-events {
    flex: 0 0 0in;
    margin-right: 0px;
    margin-top: auto;
  }

  .fc .fc-view-harness {
    height: 280px !important
  }

}

@media (min-width: 577px) {
  .mobile-only {
      display: none;
  }
}

@media (max-width: 576px) {
  .desktop-only {
      display: none;
  }
}



