<script>

    function showSuccess(message)
    {
        $('#successModal .modal-body').text(message);
        $('#successModal').modal('show');
    }

    function showError(message)
    {
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }
    
    window.addEventListener('DOMContentLoaded', event => {

        let selectedPetName;
        let selectedPetId;
        let selectedProductIds = new Set();

        let productsSelected = new Map();

        const petTable = document.getElementById('petTable');
    
        if (petTable) {
            let dataTable = new simpleDatatables.DataTable(petTable, {
                paging: true,
                perPageSelect: [5, 10, 25, 50],
                perPage: 10,
                fixedHeight: true,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });
        }
    
        const nextButtons = document.querySelectorAll('.next-button');
        const previousButtons = document.querySelectorAll('.previous-button');
        const navLinks = document.querySelectorAll('.nav-item.nav-link');
    
        function activateTab(tabIndex) {
            if (tabIndex >= 0 && tabIndex < navLinks.length) {
                navLinks[tabIndex].click();
            }
        }

        function navigateTabs(direction) {
            const activeTab = document.querySelector('.nav-item.nav-link.active');
            const activeTabIndex = [...navLinks].indexOf(activeTab);
            const targetTabIndex = activeTabIndex + direction;
    
            activateTab(targetTabIndex);
    
            if (direction === 1 && targetTabIndex === navLinks.length - 1) {
                nextButtons.forEach(btn => {
                    btn.classList.add('disabled');
                    btn.setAttribute('disabled', true);
                });
            } else {
                nextButtons.forEach(btn => {
                    btn.classList.remove('disabled');
                    btn.removeAttribute('disabled');
                });
            }
    
            if (direction === -1 && targetTabIndex === 0) {
                previousButtons.forEach(btn => {
                    btn.classList.add('disabled');
                    btn.setAttribute('disabled', true);
                });
            } else {
                previousButtons.forEach(btn => {
                    btn.classList.remove('disabled');
                    btn.removeAttribute('disabled');
                });
            }
        }
    
        nextButtons.forEach(button => {
            button.addEventListener('click', () => {
                navigateTabs(1);
            });
        });
    
        previousButtons.forEach(button => {
            button.addEventListener('click', () => {
                navigateTabs(-1);
            });
        });
    
        function setupSelectButtons() {
            const selectPetButtons = document.querySelectorAll('.select-pet-button');
    
            function deselectAllPets() {
                selectPetButtons.forEach(button => {
                    const textSpan = button.querySelector('span');
                    if (textSpan.textContent === 'Selected') {
                        textSpan.textContent = 'Select';
                        textSpan.style.color = 'rgba(33, 40, 50, 0.5)';
                        textSpan.style.fontWeight = '500';
                    }
                });
            }
    
            selectPetButtons.forEach(button => {
                button.addEventListener('click', (event) => {
                    deselectAllPets();
    
                    const textSpan = event.currentTarget.querySelector('span');
                    textSpan.textContent = 'Selected';
                    textSpan.style.color = 'green';
                    textSpan.style.fontWeight = '600';
                    const row = event.currentTarget.closest('tr');
                    selectedPetId = row.cells[0].textContent.trim();
                    selectedPetName = row.cells[1].textContent.trim();

                });
            });
    
        }
    
        setupSelectButtons();
    
        $('#addMedicineModal').on('show.bs.modal', function (event) 
        {
            {% for type, products in product_dict.items %}
                const datatablesSimple_products_{{ forloop.counter }} = document.getElementById('table-medicines-{{ forloop.counter }}');
    
                if (datatablesSimple_products_{{ forloop.counter }}) {
                    var dataTable_{{ forloop.counter }} = new simpleDatatables.DataTable(datatablesSimple_products_{{ forloop.counter }}, {
                        paging: true,
                        perPageSelect: [5, 10, 25, {% if products_count > 50 %} {{ products_count }} {% else %} 50 {% endif %}],
                        perPage: 5,
                        sortable: true,
                        searchable: true,
                        hiddenHeader: false,
                        // labels: {
                        //     info: `Products Table`,
                        // },
                    });
    
                    var searchInput = document.querySelector('.datatable-input');
                    searchInput.addEventListener('search', function(e) {
                        if (e.target.value == '') {
                            dataTable_{{ forloop.counter }}.search('');
                        }
                    });
                }
    
                $(datatablesSimple_products_{{ forloop.counter }}).find('.add-product').each(function() {
                    var productId = $(this).data('product-id');
                    var row = $(this).closest('tr');
                    if (selectedProductIds.has(productId)) {
                        row.find('.add-product').prop('disabled', true); 
                        row.find('.add-text').text("Added");
                    } 
    
                    $.ajax({
                        url: '/admin/inventory/check-expiry/' + productId + '/',
                        method: 'GET',
                        success: function(data) {
                            var stockExpiry = data.expiry;
        
                            if(stockExpiry != null) {
                                var stockExpiryDate = new Date(stockExpiry);
                                var today = new Date();
        
                                if(stockExpiryDate < today) {
                                    row.find('.add-product').prop('disabled', true);
                                }
                            }
                        }
                    });
    
                    $.ajax({
                        url: '/admin/inventory/check-quantity/' + productId + '/',
                        method: 'GET',
                        success: function(data) {
                            var stockQuantity = data.quantity;
        
                            if(stockQuantity != null) {
                                if(parseFloat(stockQuantity) == 0) {
                                    row.find('.add-product').prop('disabled', true);
                                }
                            }
                        }
                    });
                });
                var searchInput = document.querySelector('.datatable-input');
    
                searchInput.addEventListener('search', function(e) {
                    if (e.target.value == '') {
                        datatablesSimple_products_{{ forloop.counter }}.search('');
                    }
                });
            {% endfor %}
        });
    
        let productRowIndexMap = new Map();

        $(document).on('click', '.add-product', function() 
        { 
            $(this).attr('data-active-ajax', true);
            var $this = $(this);
    
            var productId = $(this).data('product-id');
            
            if (selectedProductIds.has(productId)) {
                $this.prop('disabled', true);
                return;
            }
    
            var row = $(this).closest('tr');
            var productName = row.find('.product-name').text();
            var productStrength = row.find('.product-strength').val();
            var productForm = row.find('.product-form option:selected').val();
            var productFormText = row.find('.product-form option:selected').text();
            var quantityInput = row.find('.product-quantity');
            var quantity = quantityInput.val();
            var productDosage = row.find('.product-dosage').val();
            var productFrequency = row.find('.product-frequency').val();
            var productRemarks = row.find('.product-remarks').val();
    
            if(productStrength == null || productStrength == "") {
                showError("Please enter the strength of the medicine.");
                return;
            }
            if(productForm == null || productForm == "----") {
                showError("Please select form.");
                return;
            }
            else if((quantity.split('.')[1] || []).length > 2)
            {
                showError("Only 2 decimal points for the quantity.");
                quantityInput.focus();
                return;
            }
            else if(productDosage == null || productDosage == "") {
                showError("Please enter the dosage of the medicine.");
                return;
            }
            else if(productFrequency == null || productFrequency == "") {
                showError("Please enter the frequency of the medicine.");
                return;
            }
            else if(parseFloat(quantity) <= 0)
            {
                showError("The entered quantity is invalid.");
                return;
            }


            var activeAjaxRequests = 0;
            
            $(document).ajaxStart(function() {
                activeAjaxRequests++;
                if (activeAjaxRequests === 1) { 
    
                    var $this = $('.add-product[data-active-ajax="true"]');
                    $this.prop('disabled', true);
                    $this.find('.add-text').text("Adding...");
                    $this.find('.add-product-ajax-loading').removeClass('d-none');
                }
            }).ajaxStop(function() {
                activeAjaxRequests--;
                if (activeAjaxRequests === 0) { 
                    var $this = $('.add-product[data-active-ajax="true"]');
                    // $this.prop('disabled', false);
                    // $this.find('.add-text').text("Add");
                    $this.find('.add-product-ajax-loading').addClass('d-none');
                    $this.removeAttr('data-active-ajax'); 
                }
            });
   
            $.ajax({
                    url: '/admin/inventory/check-quantity/' + productId + '/',
                    method: 'GET',
                    success: function(data) {
                        var stockQuantity = data.quantity;

                        if(stockQuantity != null) {
                            if(parseFloat(stockQuantity) == 0) {
                                showError("The product is out of stock.");
                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");
                                return;
                            }
                            else if(parseFloat(quantity) > stockQuantity) {
                                showError(`You only have ${stockQuantity} of this product in stock.`);
                                quantityInput.focus();
                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");
                                return;
                            }
                        }

                        selectedProductIds.add(productId);

                        var productDetails = {
                            strength: productStrength,
                            form: productForm,
                            quantity: quantity,
                            dosage: productDosage,
                            frequency: productFrequency,
                            remarks: productRemarks,
                        };

                        productsSelected.set(productId, productDetails);

                        let rowObj = {
                            "#": productId, 
                            "Product": productName,
                            "Strength": productStrength,
                            "Form": productForm,
                            "Quantity": quantity,
                            "Dosage": productDosage,
                            "Frequency": productFrequency,
                            "Remarks": productRemarks
                        };
                        prescriptionSummaryDataTable.insert([rowObj]);

                        let rowIndex = prescriptionSummaryDataTable.rows.dt.data.data.length - 1;
                        
                        productRowIndexMap.set(productId, rowIndex);

                        $this.prop('disabled', true);
                        $this.find('.add-text').text("Added");
                        
                        quantity = parseFloat(quantity);
                        
                        var newRow = `
                            <tr class="selected-product" data-product-id="${productId}" data-product-quantity="${quantity}">
                                <td>
                                    <div class="fw-bold">
                                        ${productName} (<span class="product-quantity">${quantity.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</span>)
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark remove-product" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                                            <i data-feather="delete"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-end fw-bold">${productStrength}</td>
                                <td class="text-end fw-bold">${productFormText}</td>
                                <td class="text-end fw-bold">${productDosage}</td>
                                <td class="text-end fw-bold">${productFrequency}</td>
                            </tr>
                        `;
                        
                        $('#total-row').before(newRow);
                        // $('#addProductModal').modal('hide');
                        feather.replace();
                    }
            });
    
        }); 
        
        $(document).on('click', '.remove-product', function(e) 
        {
            e.preventDefault();
    
            var productId = $(this).parents('tr').data('product-id');
    
            selectedProductIds.delete(productId);
    
            console.log( prescriptionSummaryDataTable.rows.dt.data.data)
            console.log(productRowIndexMap)

            let rowIndex = productRowIndexMap.get(productId);

            prescriptionSummaryDataTable.rows.remove(rowIndex);


            productRowIndexMap.delete(productId);

            productRowIndexMap.forEach((index, id) => {
                if (index > rowIndex) {
                    productRowIndexMap.set(id, index - 1);
                }
            });

            console.log( prescriptionSummaryDataTable.rows.dt.data.data)
            console.log(productRowIndexMap)

            $('.add-product[data-product-id="' + productId + '"]').prop('disabled', false);
            var addProductButton = $('.add-product[data-product-id="' + productId + '"]');
            addProductButton.html('<span class="spinner-border spinner-border-sm add-product-ajax-loading d-none" role="status" aria-hidden="true"></span><span class="add-text">Add</span>');
            addProductButton.prop('disabled', false);
    
            $(this).closest('tr').remove();
        });


        $(document).on('click', '.submit-button', function(e)
        {
            if(selectedPetId == null)
            {
                activateTab(0);
                showError("Please select a pet.");
                return;
            }

            var lab_results = $('#inputLabResults').val();
            var temperature = $('#inputTemperature').val();
            var weight = $('#inputTreatmentWeight').val();
            var diagnosis = $('#inputDiagnosis').val();
            var treatment = $('#inputTreatment').val();

            if(lab_results == null || lab_results == "")
            {
                activateTab(1);
                showError("Please enter the lab results.");
                return;
            }
            else if(temperature == null || temperature == "")
            {
                activateTab(1);
                showError("Please enter the temperature.");
                return;
            }
            else if(weight == null || weight == "")
            {
                activateTab(1);
                showError("Please enter the weight.");
                return;
            }
            else if(diagnosis == null || diagnosis == "")
            {
                activateTab(1);
                showError("Please enter the diagnosis.");
                return;
            }
            else if(treatment == null || treatment == "")
            {
                activateTab(1);
                showError("Please enter the treatment.");
                return;
            }

            var med_images = $('#inputMedImages').val();

            var appointment_date = $('#litepickerSingleDate').val();
            var appointment_time_of_the_day = $('#inputNextAppointmentTimeOfTheDay').val();
            var appointment_purpose = $('#nextAppointmentPurpose').val();
            
            var med_images = $('#inputMedImages')[0].files[0];
            var formData = new FormData();
            formData.append('productsSelected', JSON.stringify([...productsSelected]));
            formData.append('selectedPetId', selectedPetId);
            formData.append('appointment_date', appointment_date);
            formData.append('appointment_time_of_the_day', appointment_time_of_the_day);
            formData.append('appointment_purpose', appointment_purpose);
            formData.append('lab_results', lab_results);
            formData.append('temperature', temperature);
            formData.append('weight', weight);
            formData.append('diagnosis', diagnosis);
            formData.append('treatment', treatment);
            formData.append('med_images', med_images);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                url: "{% url 'admin-submit-consultation-page' %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    showSuccess(response.message);
                    $(document).on('click', '.successOKBtn', function(e)
                    {
                        location.reload();
                    });
                },
                error: function(response)
                {
                    showError(data.message);
                }
            });
        });

        function populateTable(tableElement) {
            if (!tableElement) return;
            const tableBody = tableElement.querySelector('tbody');
            let index = 1;
        
            tableBody.innerHTML = '';
            
            productsSelected.forEach((value, key) => {
                let row = tableBody.insertRow();
                
                let cell1 = row.insertCell(0);
                cell1.innerHTML = index++;

                let cell2 = row.insertCell(1);
                cell2.innerHTML = key;
                
                let cell3 = row.insertCell(2);
                cell3.innerHTML = value.strength;

                let cell4 = row.insertCell(3);
                cell4.innerHTML = value.form;

                let cell5 = row.insertCell(4);
                cell5.innerHTML = value.quantity;    
                
                let cell6 = row.insertCell(5);
                cell6.innerHTML = value.dosage; 

                let cell7 = row.insertCell(6);
                cell7.innerHTML = value.frequency; 

                let cell8 = row.insertCell(7);
                cell8.innerHTML = value.remarks; 
            });
        }
        
        const prescriptionSummary = document.getElementById('table-medicines-summary');
        let prescriptionSummaryDataTable;

        if (prescriptionSummary) {
            
            prescriptionSummaryDataTable = new simpleDatatables.DataTable(prescriptionSummary, {
                paging: false,
                perPageSelect: [5, 10, 25, 50],
                perPage: 10,
                fixedHeight: false,
                sortable: false,
                searchable: false,
                hiddenHeader: false,
            });

        }    

        function getTableDataFromSelectedProducts() {
            let dataArray = [];
            let index = 1;
            
            productsSelected.forEach((value, key) => {
                let rowObj = {
                    "#": index++, 
                    "Product": key,
                    "Strength": value.strength,
                    "Form": value.form,
                    "Quantity": value.quantity,
                    "Dosage": value.dosage,
                    "Frequency": value.frequency,
                    "Remarks": value.remarks
                };

                dataArray.push(rowObj);
            });
            return dataArray;
        }

        document.getElementById('wizard4-tab').addEventListener('shown.bs.tab', function (event) {
            
            $('.selected-pet-name').text(selectedPetName || "None");
            $('.lab-results').text($('#inputLabResults').val() || "None");
            $('.treatment-weight').text($('#inputTreatmentWeight').val() || "None");
            $('.temperature').text($('#inputTemperature').val() || "None");
            $('.diagnosis').text($('#inputDiagnosis').val() || "None");
            $('.treatment').text($('#inputTreatment').val() || "None");

            let appointmentDate = $('#litepickerSingleDate').val();
            let appointmentTimeText = $('#inputNextAppointmentTimeOfTheDay option:selected').text();
            $('.next-appointment').text((appointmentDate && appointmentTimeText) ? (appointmentDate + ' - ' + appointmentTimeText) : "None");   
            let rows = prescriptionSummaryDataTable.rows;
        });
    });
    </script>