<div class="modal fade" id="addMedicineModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addMedicineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMedicineModalLabel">Add Medicine</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header border-bottom">
                        <!-- Dashboard card navigation-->
                        <ul class="nav nav-tabs card-header-tabs scrollable-tab" id="dashboardNav" role="tablist">
                            {% for type, products in product_dict.items %}
                                <li class="nav-item me-1">
                                    <a class="nav-link{% if forloop.first %} active{% endif %}" id="{{ type }}-pill" href="#{{ type }}" data-bs-toggle="tab" role="tab" aria-controls="{{ type }}" aria-selected="{{ forloop.first }}">
                                        {{ type }} ({{ products|length }})
                                    </a>
                                </li>
                            {% endfor %}      
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="dashboardNavContent">
                            {% for type, products in product_dict.items %}
                            <!-- Dashboard Tab Pane 2-->
                            <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="{{ type }}" role="tabpanel" aria-labelledby="{{ type }}-pill">
                                <table id="table-medicines-{{ forloop.counter }}">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Medicine</th>
                                            <th>Strength</th>
                                            <th>Form</th>
                                            <th>Quantity</th>
                                            <th>Dosage</th>
                                            <th>Frequency</th>
                                            <th>Remarks</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        {% if product.active %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>
                                                <span class="product-name">
                                                    {{ product.product_name }}
                                                </span>
                                                <span class="product-type" style="display: none;">
                                                    {{ product.type }}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-strength" placeholder="Ex. 100mg" required>
                                            </td>
                                            <td>
                                                <select type="text" class="form-select product-form" required>
                                                    <option value="">----</option>
                                                    {% for value, form_type in formList %}
                                                        <option value="{{ value }}">{{ form_type }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control product-quantity" min="1" step="0.01" value="1" style="width: 80px;" onkeydown="javascript: return event.keyCode !== 69" required>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-dosage" placeholder="Ex. 1 tablet twice daily" required>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-frequency" placeholder="Ex. Every 12 hours" required>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-remarks" placeholder="Ex. Feed with food" required>
                                            </td>
                                            <td>
                                                <button class="btn btn-dark btn-sm add-product" data-product-id="{{ product.id }}">
                                                    <span class="add-text">Add</span>
                                                    <span class="add-product-ajax-loading spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
                                                </button>                                                                      
                                            </td>                                
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark successOKBtn" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>