{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Calendar | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/calendar/fullcalendar-custom.css' %}">
<script src="{% static 'plugins/fullcalendar/js/index.global.js' %}"></script>
<!-- <script src="{% static 'js/calendar/fullcalendar-settings.js' %}"></script> -->
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script> -->
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/sms/send_sms.js' %}"></script>
{% endblock %}

{% block content %}
<div class="calendar-container mt-4">
    <div class="card mb-5 card-collapsable card-waves animated--fade-in-up ">
        <a class="card-header" href="#collapseCardExample" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                Calendar
          <div class="card-collapsable-arrow">
              <i class="fas fa-chevron-down"></i>
          </div>
        </a>
        <div class="collapse show" id="collapseCardExample">
          <div class="card-body animated--fade-in-up flex-container">
            <div class="parent-container">
                
                <div id='external-events' {% if not rebook_appointments %} style="display: none;"{% endif %}>
                    <div class="height-wrapper">
                        <h4>Rebook List</h4>
                        <div id='external-events-list'>
                            {% if rebook_appointments %}
                            {% for appointment in rebook_appointments %}
                                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event custom-rebook-color' id='{{ appointment.id }}' data-client-id="{{ appointment.client.id }}" data-client-name="{{ appointment.client.full_name }}" data-pet-id="{{ appointment.pet.id }}" data-pet-rname="{{ appointment.pet.name }}" data-purpose-id="{{ appointment.purpose.id }}" data-purpose-val="{{ appointment.purpose.service_type }}" data-time-of-day="{{ appointment.timeOfTheDay }}" data-daySMS-sent="{{ appointment.daily_reminder_sent }}" data-weekSMS-sent="{{ appointment.weekly_reminder_sent }}" onclick="showAppointmentDetails('{{ appointment.id }}')">
                                    <div class='fc-event-main'>#{{ appointment.id }} - {{ appointment.client.full_name }}</div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <p>
                            <span>View an appointment and click rebook to add here. <br><br><br>Note that dropping only works for <b>Month</b> and <b>Year</b> calendar view.</span>
                        </p>
                    </div>
                </div>
                
                <div id='calendar-wrap'>
                    <div id='calendar'></div>
                </div>
            </div>
          </div>
          <div class="card-footer small text-muted">
            <div class="container">
                <div class="row desktop-only">
                    <div class="col text-start">
                        Legend:&nbsp;
                        <span class="badge" style="background: #3788d8;">Morning</span> 
                        <span class="badge" style="background: green;">Afternoon</span> 
                        <span class="badge" style="background: darkorange;">Pending Rebook</span>
                    </div>
                </div>
                <div class="row mobile-only">
                    Please visit the desktop version of this page for better experience.
                </div>
            </div>
        </div>
        </div>
      </div>
</div>

<div class="card mb-4 appointment-table" hidden>
    <div class="card-header">
        <span class="appointment-table-title">August 5, 2020 | Appointments</span>
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="appointments-list-table">
            <thead>
                <tr>
                    <th>Appointment Number</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Day Reminder Status</th>
                    <th>Week Reminder Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button type="button" class="btn btn-warning btn-sm lift lift-sm" onclick="confirmSendBulkSMS()">Notify All</button>&nbsp;&nbsp;<span style="font-size: 12px;"><i>Only the visible rows will be notified</i></span>
    </div>
</div>

{% include 'admin/calendar_modal.html' %}

<input id="hiddenClientPhone" value="" hidden>
<input id="hiddenAppointmentID" value="" hidden>
<div id="sms-data" data-url="{% url 'send_sms_to_client' %}"></div>

{% endblock %}

{% block extrascripts %}
{% include 'admin/calendar_script.html' %}
{% endblock %}
