{% load templatetags %}
<style>
.event-click-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">
             <!-- Event start will be displayed here -->
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="eventModalBody">
          <!-- Event title will be displayed here -->
        </div>
        {% if request.user|has_permission:'record_management.add_treatment' %}
        <div class="modal-footer event-click-buttons">
            <a class="btn btn-dark btn-sm" id="btn-create-health-card" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Health Card">
                Health Card
            </a>
            <a class="btn btn-dark btn-sm" id="btn-create-medical-record" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Record">
                Consultation
            </a>
            <a class="btn btn-dark btn-sm" id="btn-create-prescription" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Medical Prescription">
                Prescription
            </a>
        </div>
        {% endif %}
        <div class="modal-footer event-click-buttons">
          <button type="button" class="btn btn-dark btn-sm" id="deleteEvent">Cancel Appointment</button>
          <button type="button" class="btn btn-dark btn-sm" id="rebookEvent">Rebook</button>
          <button type="button" class="btn btn-dark btn-sm" id="doneEvent">Appointment Done</button>
          <!-- <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button> -->
        </div>
      </div>
    </div>
</div>  

<div class="modal fade" id="rebookListAppointmentModal" tabindex="-1" aria-labelledby="rebookListAppointmentLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rebookListAppointmentLabel">
             <!-- Event start will be displayed here -->
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="rebookListAppointmentBody">
          <!-- Event title will be displayed here -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-sm" id="deleteRebookList">Cancel Appointment</button>
            <button type="button" class="btn btn-dark btn-sm" id="doneRebookList">Appointment Done</button>
            <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button>
      </div>
      </div>
    </div>
</div>  

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Send SMS Confirmation</h5>
            <button id="close-sms-confirmation-button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to remind this client?<br><br>
            <b>Name:</b> <span id="clientName"></span><br>
            <b>Phone Number:</b> <span id="clientPhoneNumber"></span>
        </div>
        <div class="modal-footer">
            <button id="cancelSMSButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button id="sendSMSButton" type="button" class="btn btn-success btn-sm" onclick="sendSMS(document.getElementById('hiddenClientPhone').value, document.getElementById('hiddenAppointmentID').value)">
                Yes
                <span id="smsSendingSpinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
            </button>
        </div>
        </div>
    </div>
</div>   

<div class="modal fade" id="bulkConfirmationModal" tabindex="-1" aria-labelledby="bulkConfirmationModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulkConfirmationModalLabel">Send Bulk SMS Confirmation</h5>
                <button id="closeBulkSMSButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bulk-modal-body">
                Are you sure you want to send SMS reminders to all clients?
            </div>
            <div class="modal-footer">
                <button id="cancelBulkSMSButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button id="sendBulkSMSButton" type="button" class="btn btn-success btn-sm" onclick="sendBulkSMS()">
                    Yes
                    <span id="bulkSMSSendingSpinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">SMS Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="messageModalBody">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="dayChoiceModal" tabindex="-1" aria-labelledby="dayChoiceModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="dayChoiceModalLabel">Select Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="messageModalBody">
            <span class="fw-700">Day Clicked:</span> <span class="day-clicked"></span> <br>
            <span class="fw-700" style="display: none;">Available Slots:</span> <span class="available-slots" style="display: none;"></span>
            <span class="fw-700">Morning Slots:</span> <span class="morning-slots"></span> <br>
            <span class="fw-700">Afternoon Slots:</span> <span class="afternoon-slots"></span> <br>
            <!-- <span class="fw-700">Slots:</span> <span class="slots"></span> <br> -->
            <span class="fw-700">Availability:</span> <span class="availability"></span>
        </div>
        <div class="modal-footer">
            <button id="adjust-slot-choice" type="button" class="btn btn-dark btn-sm">Adjust Slot</button>
            <button id="enable-day-choice" type="button" class="btn btn-dark btn-sm" hidden>Enable Day</button>
            <button id="disable-day-choice" type="button" class="btn btn-dark btn-sm">Disable Day</button>
            <button id="add-appointment-day-choice" class="btn btn-dark btn-sm">Add Appointment</button>
            <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="disableDayModal" tabindex="-1" aria-labelledby="disableDayModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableDayModalLabel">Disable Day Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Day Clicked: <span class="day-clicked"></span> <br><br>
                Are you sure you want to disable this day?
                <br><br>
                <form method="POST" id="disableDayForm">
                {% csrf_token %}
                {{ disable_day_form.as_p }}
                <input type="hidden" id="selectedDateToDisable" name="date">
            </div>
            <div class="modal-footer">
                <button id="cancelDisableDayModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">No</button>
                <button id="yesDisableDayModalButton" type="submit" class="btn btn-danger btn-sm">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="enableDayModal" tabindex="-1" aria-labelledby="enableDayModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enableDayModalLabel">Enable Day Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Day Clicked: <span class="day-clicked"></span> <br><br>
                Are you sure you want to enable this day?
                <input type="hidden" id="selectedDateToEnable" name="date">
            </div>
            <div class="modal-footer">
                <button id="cancelEnableDayModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">No</button>
                <button id="yesEnableDayModalButton" type="submit" class="btn btn-danger btn-sm">Yes</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="addAppointmentModal" tabindex="-1" aria-labelledby="addAppointmentModal" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addAppointmentModalLabel">Add Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="addAppointmentModalBody">
            <form method="POST" id="appointmentForm">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" id="selectedDate" name="date">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="deleteAppointmentModal" tabindex="-1" aria-labelledby="deleteAppointmentModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteAppointmentModalLabel">Cancel Appointment Confirmation</h5>
            <button id="close-sms-confirmation-button" type="button" class="btn-close cancelDeleteAppointmentButton" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to cancel this appointment?<br><br>
            <label for="cancel-appointment-reason" class="form-label small">Reason <span class="text-red">*</span></label>
            <input class="form-control" id="cancel-appointment-reason" type="text" placeholder="Reason" aria-label="Reason">
        </div>
        <div class="modal-footer">
            <button id="cancelDeleteAppointmentButton" type="button" class="btn btn-dark btn-sm cancelDeleteAppointmentButton" data-bs-dismiss="modal">No</button>
            <button id="yesDeleteAppointmentButton" type="button" class="btn btn-danger btn-sm">
                Yes
            </button>
        </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="rebookConfirmAppointmentModal" tabindex="-1" aria-labelledby="rebookConfirmAppointmentModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="rebookConfirmAppointmentModalLabel">Rebook Appointment</h5>
        <button type="button" id="closeIconRebookConfirmationAppointmentModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="rebookConfirmAppointmentModalBody">
            <p><b>Client:</b> <span id="clientName-rebook"></span></p>
            <form method="POST" id="rebookAppointmentForm">
                {% csrf_token %}
                {{ rebook_form.as_p }}
                <input type="hidden" id="selectedDate" name="date">
                <p><b>Old Date:</b> <span id="oldDate"></span></p>
                <p><b>New Date:</b> <span id="newDate"></span></p>
        </div>
        <div class="modal-footer">
            <button type="button" id="closeRebookConfirmationAppointmentModal" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="submitRebookConfirmationAppointmentModal" class="btn btn-dark btn-sm">Submit</button>
            </form>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="doneAppointmentModal" tabindex="-1" aria-labelledby="doneAppointmentModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="doneAppointmentModalLabel">Appointment Done Confirmation</h5>
            <button id="close-sms-confirmation-button" type="button" class="btn-close cancelDoneAppointmentButton" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you this appointment is done?<br><br>
        </div>
        <div class="modal-footer">
            <button id="cancelDoneAppointmentButton" type="button" class="btn btn-dark btn-sm cancelDoneAppointmentButton" data-bs-dismiss="modal">No</button>
            <button id="yesDoneAppointmentButton" type="button" class="btn btn-danger btn-sm">
                Yes
            </button>
        </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="rebookConfModal" tabindex="-1" aria-labelledby="rebookConfModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="rebookConfModalLabel">Appointment Rebook Confirmation</h5>
            <button id="cancelRebookConfButton" type="button" class="btn-close cancelRebookConfButton" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to add this appointment to rebook list?<br><br>
        </div>
        <div class="modal-footer">
            <button id="cancelRebookConfButton" type="button" class="btn btn-dark btn-sm cancelRebookConfButton" data-bs-dismiss="modal">No</button>
            <button id="yesRebookConfButton" type="button" class="btn btn-danger btn-sm">
                Yes
            </button>
        </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Oh no!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- message here -->
        </div>
        <div class="modal-footer">
            <button id="OKErrorModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Success!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- message here -->
        </div>
        <div class="modal-footer">
            <button id="OKSuccessModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="adjustSlotModal" tabindex="-1" aria-labelledby="adjustSlotModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adjustSlotModalLabel">Adjust Slot</h5>
                <button type="button" id="cancelAdjustSlotModalIconButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Day Clicked: <span class="day-clicked"></span> <br><br>
                <!-- Minimum 1 - Maximum <span id="maximum-appointments-allowed"></span><br><br> -->
                <span class="small">You can also disable this day, by clicking Disable Day button in the previous modal.</span>
                <br><br>
                <form method="POST" id="adjustSlotForm">
                {% csrf_token %}
                {{ slots_form.as_p }}
                <input type="hidden" id="selectedDateToDisable-slots" name="date">
            </div>
            <div class="modal-footer">
                <button id="cancelAdjustSlotModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button id="yesAdjustSlotModalButton" type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="adjustTimeOfTheDayModal" tabindex="-1" aria-labelledby="adjustTimeOfTheDayModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adjustTimeOfTheDayModalLabel">#<span class="day-clicked-time-change-id"></span> - Adjust time of the day</h5>
                <button type="button" id="cancelAdjustTimeOfTheDayModalIconButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Rebook time of the day for date <b><span class="day-clicked-time-change"></span></b>
                <br><br>
                <form method="POST" id="adjustTimeOfTheDayForm" onsubmit="return false">
                {% csrf_token %}
                {{ change_time_form.as_p }}
            </div>
            <div class="modal-footer">
                <button id="cancelAdjustTimeOfTheDayModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button id="yesAdjustTimeOfTheDayModalButton" type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> 