<script>
    let ind = 1; 
    
    function preventDecimal(event) {
        return ![69, 190, 188].includes(event.keyCode);
    }
    
    function removeDecimal(inputElement) {
        inputElement.value = inputElement.value.replace('.', '');
    }

    function showSuccess(message)
    {
        $('#successModal .modal-body-success-message').text(message);
        $('#successModal').modal('show');
    }

    function showError(message)
    {
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }
    
    window.addEventListener('DOMContentLoaded', event => {

        let selectedPetName;
        let selectedPetId;
        let selectedProductIds = new Set();
        let productsSelected = new Map();

        let parameter = new URLSearchParams(window.location.search);
        let _pet_id = parameter.get('pet_id');

        if(_pet_id != null)
        {
            selectedPetId = _pet_id;
        }

        const petTable = document.getElementById('petTable');
    
        if (petTable) {
            let dataTable = new simpleDatatables.DataTable(petTable, {
                paging: true,
                perPageSelect: [5, 10, 25, 50],
                perPage: 10,
                fixedHeight: true,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })

                console.log(selectedPetId)

                setupSelectButtons();
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                setupSelectButtons();
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                    setupSelectButtons();
                }
            });
        }
    
        const nextButtons = document.querySelectorAll('.next-button');
        const previousButtons = document.querySelectorAll('.previous-button');
        const navLinks = document.querySelectorAll('.nav-item.nav-link');
    
        function activateTab(tabIndex) {
            if (tabIndex >= 0 && tabIndex < navLinks.length) {
                navLinks[tabIndex].click();
            }
        }

        function navigateTabs(direction) {
            const activeTab = document.querySelector('.nav-item.nav-link.active');
            const activeTabIndex = [...navLinks].indexOf(activeTab);
            const targetTabIndex = activeTabIndex + direction;
    
            activateTab(targetTabIndex);
    
            if (direction === 1 && targetTabIndex === navLinks.length - 1) {
                nextButtons.forEach(btn => {
                    btn.classList.add('disabled');
                    btn.setAttribute('disabled', true);
                });
            } else {
                nextButtons.forEach(btn => {
                    btn.classList.remove('disabled');
                    btn.removeAttribute('disabled');
                });
            }
    
            if (direction === -1 && targetTabIndex === 0) {
                previousButtons.forEach(btn => {
                    btn.classList.add('disabled');
                    btn.setAttribute('disabled', true);
                });
            } else {
                previousButtons.forEach(btn => {
                    btn.classList.remove('disabled');
                    btn.removeAttribute('disabled');
                });
            }
        }
    
        nextButtons.forEach(button => {
            button.addEventListener('click', () => {
                navigateTabs(1);
            });
        });
    
        previousButtons.forEach(button => {
            button.addEventListener('click', () => {
                navigateTabs(-1);
            });
        });
    
        function setupSelectButtons() {
            const selectPetButtons = document.querySelectorAll('.select-pet-button');

            function deselectAllPets() {
                selectPetButtons.forEach(button => {
                    const textSpan = button.querySelector('span');
                    if (textSpan.textContent === 'Selected') {
                        textSpan.textContent = 'Select';
                        textSpan.style.color = 'rgba(33, 40, 50, 0.5)';
                        textSpan.style.fontWeight = '500';
                    }
                });
            }

            function selectPetById() {
                if (selectedPetId) {
                    deselectAllPets();
                    selectPetButtons.forEach(button => {
                        const row = button.closest('tr');
                        if (row.cells[0].textContent.trim() === selectedPetId) {
                            const textSpan = button.querySelector('span');
                            textSpan.textContent = 'Selected';
                            textSpan.style.color = 'green';
                            textSpan.style.fontWeight = '600';
                            
                            selectedPetName = row.querySelector('.pet-name').textContent.trim();
                            const selectedPetImage = row.querySelector('.avatar-img').getAttribute('src');
                            const selectedPetLink = row.querySelector('.btn-to-pet').getAttribute('href');
                            const selectedPetInfoDivs = document.querySelectorAll('.selected-pet-info');
                            selectedPetInfoDivs.forEach(div => {
                                div.querySelector('.selected-pet-image').setAttribute('src', selectedPetImage);
                                div.querySelector('.selected-pet-name').textContent = selectedPetName;
                                div.querySelector('.selected-pet-link').setAttribute('href', selectedPetLink);
                                div.style.display = 'flex'; 
                            });
                        }
                    });
                }
            }

            selectPetButtons.forEach(button => {
                button.addEventListener('click', (event) => {
                    deselectAllPets();

                    const textSpan = event.currentTarget.querySelector('span');
                    textSpan.textContent = 'Selected';
                    textSpan.style.color = 'green';
                    textSpan.style.fontWeight = '600';
                    const row = event.currentTarget.closest('tr');
                    selectedPetId = row.cells[0].textContent.trim();
                    selectedPetName = row.querySelector('.pet-name').textContent.trim();
                    const selectedPetImage = row.querySelector('.avatar-img').getAttribute('src');
                    const selectedPetLink = row.querySelector('.btn-to-pet').getAttribute('href');

                    const selectedPetInfoDivs = document.querySelectorAll('.selected-pet-info');
                    selectedPetInfoDivs.forEach(div => {
                        div.querySelector('.selected-pet-image').setAttribute('src', selectedPetImage);
                        div.querySelector('.selected-pet-name').textContent = selectedPetName;
                        div.querySelector('.selected-pet-link').setAttribute('href', selectedPetLink);
                        div.style.display = 'flex'; 
                    });
                });
            });

            selectPetById();
        }
    
        setupSelectButtons();

        if(selectedPetId != null){
            parameter.delete('pet_id');
            history.pushState({}, null, location.pathname);
        }
        
        var productInputValues = {};

        let previews = {};

        $('table tr').each(function() {
            let row = $(this);
            let productId = row.find('.product-id').text().trim();
            productId = parseInt(productId);
        
            if (!productInputValues[productId]) {
                productInputValues[productId] = {};
            }
        
            row.find('input').each(function() {
                let inputElem = $(this);
                let inputClass = inputElem.attr('class').split(' ')[1];
                productInputValues[productId][inputClass] = inputElem.val();
            });
        });
        
        $('table').on('input', 'input', function() {
            let row = $(this).closest('tr');
            let productId = row.find('.product-id').text().trim();
            productId = parseInt(productId);
            
            let inputClass = $(this).attr('class').split(' ')[1]; 
            productInputValues[productId][inputClass] = $(this).val();
        });
        
        function refreshProductRows() {
            $('.add-product').each(function() {
                var row = $(this).closest('tr');
                var productId = row.find('.product-id').text().trim();
                productId = parseInt(productId);
                
                if (productInputValues[productId]) {
                    for (let inputClass in productInputValues[productId]) {
                        row.find('.' + inputClass).val(productInputValues[productId][inputClass]);
                    }
                } 
 
                if (selectedProductIds.has(productId)) {
                    console.log(productId);
                    $(this).prop('disabled', true);
                    row.find('.add-text').text("Added");
                } else {
                    $(this).prop('disabled', false);
                    row.find('.add-text').text("Add");
                }
            });
        }

        document.addEventListener('input', function (event) {
            
            if (!event.target.matches('.product-strength, .product-quantity, .product-dosage, .product-frequency, .product-remarks')) {
                return;
            }

            let row = event.target.closest('tr');
            if (row && row.querySelector('.product-id')) {
                let productID = row.querySelector('.product-id').textContent.trim();
                let productName = row.querySelector('.product-name').textContent.trim();
                let productType = row.querySelector('.product-type').textContent.trim();
                let productForm = row.querySelector('.product-form').textContent.trim().toLowerCase();
                let productQuantity = row.querySelector('.product-quantity').value.trim();
                let strength = row.querySelector('.product-strength').value || '[STRENGTH]';
                let dosage = row.querySelector('.product-dosage').value || '[DOSAGE]';
                let frequency = row.querySelector('.product-frequency').value || '[FREQUENCY]';
                let remarks = row.querySelector('.product-remarks').value || '[REMARKS]';
                
                remarks = remarks.charAt(0).toLowerCase() + remarks.slice(1);
                frequency = frequency.charAt(0).toLowerCase() + frequency.slice(1);
                let dosageUnit = getDosageUnit(productForm, dosage);
                let rowIndex = [...row.parentNode.children].indexOf(row);
                let previewText = `${productID} - Prescribed: <b>${productQuantity}</b> of <b>${productName}</b> (<b>${strength}</b> per ${dosageUnit}). Dosage: Administer <b>${dosage} ${dosageUnit}</b> to the pet <b>${frequency}</b>. For best results or safety, it's recommended to <b>${remarks}</b>.`;
        
                previews[productID] = previewText;

                let previewKeys = Object.keys(previews).sort();
                let previewTexts = previewKeys.map(key => previews[key]);
                document.getElementById('preview-text').innerHTML = previewTexts.join('<br>');
            }
        });

        {% for type, products in product_dict.items %}
        var dataTable_{{ forloop.counter }};
        {% endfor %}

        {% for type, products in product_dict.items %}
        const datatablesSimple_products_{{ forloop.counter }} = document.getElementById('table-medicines-{{ forloop.counter }}');

        if (datatablesSimple_products_{{ forloop.counter }}) {
            dataTable_{{ forloop.counter }} = new simpleDatatables.DataTable(datatablesSimple_products_{{ forloop.counter }}, {
                paging: true,
                perPageSelect: [5, 10, 25, {% if products_count > 50 %} {{ products_count }} {% else %} 50 {% endif %}],
                perPage: 5,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
                // labels: {
                //     info: `Products Table`,
                // },
            });
        }

        dataTable_{{ forloop.counter }}.on('datatable.update', function() {
            refreshProductRows();
        });
        dataTable_{{ forloop.counter }}.on('datatable.page', function(page) {
            refreshProductRows();
        });
        dataTable_{{ forloop.counter }}.on('datatable.search', function(query, matched) {
            refreshProductRows();
        });
        dataTable_{{ forloop.counter }}.on('datatable.sort', refreshProductRows);

        var searchInput = document.querySelector(`[aria-controls="table-medicines-{{ forloop.counter }}"]`);
     
        if (searchInput) {
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable_{{ forloop.counter }}.search('');
                    refreshProductRows();
                }
            });
        }
        {% endfor %}

        var isFirstRun = true;

        $('#addMedicineModal').on('show.bs.modal', function (event) 
        {


            {% for type, products in product_dict.items %}
 
                $(datatablesSimple_products_{{ forloop.counter }}).find('.add-product').each(function() {
                    //var productId = $(this).data('product-id');
                    var productId = $(this).closest('tr').find('.product-id').text().trim();
                    
                    var row = $(this).closest('tr');
                    if (selectedProductIds.has(productId)) {
                        row.find('.add-product').prop('disabled', true); 
                        row.find('.add-text').text("Added");
                    } 
                    if(isFirstRun)
                    {
                        $.ajax({
                            url: '/admin/inventory/check-expiry/' + productId + '/',
                            method: 'GET',
                            success: function(data) {
                                var stockExpiry = data.expiry;
                
                                if(stockExpiry != null) {
                                    var stockExpiryDate = new Date(stockExpiry);
                                    var today = new Date();
                
                                    if(stockExpiryDate < today) {
                                        row.find('.add-product').prop('disabled', true);
                                    }
                                }
                            }
                        });
            
                        $.ajax({
                            url: '/admin/inventory/check-quantity/' + productId + '/',
                            method: 'GET',
                            success: function(data) {
                                var stockQuantity = data.quantity;
            
                                if(stockQuantity != null) {
                                    if(parseFloat(stockQuantity) == 0) {
                                        row.find('.add-product').prop('disabled', true);
                                    }
                                }
                            }
                        });
                        isFirstRun = false;
                    }
    
                });
                //var searchInput = document.querySelector('.datatable-input');
    
                //searchInput.addEventListener('search', function(e) {
                //    if (e.target.value == '') {
                //        datatablesSimple_products_{{ forloop.counter }}.search('');
                //    }
                //});
            {% endfor %}
        
        });

        function getDosageUnit(form, dosage) {
            const liquidForms = ['syrup', 'liquid', 'oral_solution', 'suspension', 'ear_drop', 'gel', 'cream', 'ointment', 'lotion'];
            if (liquidForms.includes(form)) {
                return 'mL';
            } else {
                if (dosage === '1') {
                    return form;
                } else {
                    return form + 's';
                }
            }
        }
        let productRowIndexMap = new Map();

        $(document).on('click', '.add-product', function() 
        { 
            $(this).attr('data-active-ajax', true);
            var $this = $(this);
    
            var productId = $(this).closest('tr').find('.product-id').text().trim();
            productId = parseInt(productId);
            
            if (selectedProductIds.has(productId)) {
                $this.prop('disabled', true);
                return;
            }
    
            var row = $(this).closest('tr');
            var productName = row.find('.product-name').text();
            var productStrength = row.find('.product-strength').val();
            //var productForm = row.find('.product-form option:selected').val();
           // var productFormText = row.find('.product-form option:selected').text();
            var quantityInput = row.find('.product-quantity');
            var quantity = quantityInput.val();
            var productDosage = row.find('.product-dosage').val();
            var productFrequency = row.find('.product-frequency').val();
            var productRemarks = row.find('.product-remarks').val();
    
            if(productStrength == null || productStrength == "") {
                showError("Please enter the strength of the medicine.");
                return;
            }
            // else if(productForm == null || productForm == "----") {
            //     showError("Please select form.");
            //     return;
            // }
            else if((quantity.split('.')[1] || []).length > 2)
            {
                showError("Only 2 decimal points for the quantity.");
                quantityInput.focus();
                return;
            }
            else if(productDosage == null || productDosage == "") {
                showError("Please enter the dosage of the medicine.");
                return;
            }
            else if(productFrequency == null || productFrequency == "") {
                showError("Please enter the frequency of the medicine.");
                return;
            }
            else if(parseFloat(quantity) <= 0)
            {
                showError("The entered quantity is invalid.");
                return;
            }


            var activeAjaxRequests = 0;
            
            $(document).ajaxStart(function() {
                activeAjaxRequests++;
                if (activeAjaxRequests === 1) { 
    
                    var $this = $('.add-product[data-active-ajax="true"]');
                    $this.prop('disabled', true);
                    $this.find('.add-text').text("Adding...");
                    $this.find('.add-product-ajax-loading').removeClass('d-none');
                }
            }).ajaxStop(function() {
                activeAjaxRequests--;
                if (activeAjaxRequests === 0) { 
                    var $this = $('.add-product[data-active-ajax="true"]');
                    // $this.prop('disabled', false);
                    // $this.find('.add-text').text("Add");
                    $this.find('.add-product-ajax-loading').addClass('d-none');
                    $this.removeAttr('data-active-ajax'); 
                }
            });
   
            $.ajax({
                    url: '/admin/inventory/check-quantity/' + productId + '/',
                    method: 'GET',
                    success: function(data) {
                        var stockQuantity = data.quantity;

                        if(stockQuantity != null) {
                            if(parseFloat(stockQuantity) == 0) {
                                showError("The product is out of stock.");
                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");
                                return;
                            }
                            else if(parseFloat(quantity) > stockQuantity) {
                                showError(`You only have ${stockQuantity} of this product in stock.`);
                                quantityInput.focus();
                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");
                                return;
                            }
                        }

                        selectedProductIds.add(productId);

                        var productDetails = {
                            strength: productStrength,
                            //form: productForm,
                            quantity: quantity,
                            dosage: productDosage,
                            frequency: productFrequency,
                            remarks: productRemarks,
                        };

                        productsSelected.set(productId, productDetails);
                        console.log(productsSelected);
                        let rowObj = {
                            "#": productId, 
                            "Product": productName,
                            "Strength": productStrength,
                            //"Form": productForm,
                            "Quantity": quantity,
                            "Dosage": productDosage,
                            "Frequency": productFrequency,
                            "Remarks": productRemarks
                        };

                        $this.prop('disabled', true);
                        $this.find('.add-text').text("Added");
                        
                        quantity = parseFloat(quantity);
                        
                        var newRow = `
                            <tr class="selected-product" data-product-id="${productId}" data-product-quantity="${quantity}">
                                <td>
                                    <div class="fw-bold">
                                        ${productName} (<span class="product-quantity">${quantity.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</span>)
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark remove-product" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                                            <span class="product-id-remove-button" style="display: none;">${productId}</span>
                                            <i data-feather="delete"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-end fw-bold">${productStrength}</td>
                                <td class="text-end fw-bold">${productDosage}</td>
                                <td class="text-end fw-bold">${productFrequency}</td>
                                <td class="text-end fw-bold">${productRemarks}</td>
                            </tr>
                        `;
                        
                        $('#total-row').before(newRow);
                        // $('#addProductModal').modal('hide');
                        feather.replace();
                    }
            });
    
        }); 
        
        $(document).on('click', '.remove-product', function(e) 
        {
            e.preventDefault();
    
            var productId = $(this).find('.product-id-remove-button').text();
            productId = parseInt(productId);
    
            selectedProductIds.delete(productId);
    
            let rowIndex = productRowIndexMap.get(productId);
            console.log(productsSelected);
            productRowIndexMap.delete(productId);
            productsSelected.delete(productId);
            console.log(productsSelected);
            productRowIndexMap.forEach((index, id) => {
                if (index > rowIndex) {
                    productRowIndexMap.set(id, index - 1);
                }
            });

            $('.add-product[data-product-id="' + productId + '"]').prop('disabled', false);
            var addProductButton = $('.add-product[data-product-id="' + productId + '"]');
            addProductButton.html('<span class="spinner-border spinner-border-sm add-product-ajax-loading d-none" role="status" aria-hidden="true"></span><span class="add-text">Add</span>');
            addProductButton.prop('disabled', false);
    
            $(this).closest('tr').remove();
        });

        $(document).on('click', '.submit-button', function(e)
        {
            $('#confirmationModal').modal('show');
        });

        $(document).on('click', '#confirm-prescription-button', function(e)
        {
            if(selectedPetId == null)
            {
                activateTab(0);
                showError("Please select a pet.");
                return;
            }
            if(productsSelected.size == 0)
            {
                activateTab(1);
                showError("Please add at least one product.");
                return;
            }

            var formData = new FormData();

            formData.append('productsSelected', JSON.stringify([...productsSelected]));
            formData.append('selectedPetId', selectedPetId);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                url: "{% url 'admin-submit-pet-medical-prescription-page' %}",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if(response.success)
                    {
                        var petLink = document.querySelector('.pet-link a');
                        var originalHref = petLink.getAttribute('href');
                        var newHref = originalHref.replace('0', response.prescription_id);
                        petLink.setAttribute('href', newHref);

                        showSuccess(response.message);

                        var ownerID = response.pet_owner_id;

                        $(document).on('click', '.successOKBtn', function(e)
                        {
                            window.location.href = '/admin/bill/?to=' + ownerID;
                        });
                    }
                    else
                    {
                        showError(response.message);
                        $(document).on('click', '.errorOKBtn', function(e)
                        {
                            if(response.appointment_error)
                            {
                                activateTab(1);
                            }
                            
                        });
                    }

                },
                error: function(response)
                {
                    showError(response.message);
                }
            });
        });

        document.getElementById('wizard1-tab').addEventListener('shown.bs.tab', function (event) {
            localStorage.setItem('activeTab', 'wizard1');
        });
        document.getElementById('wizard2-tab').addEventListener('shown.bs.tab', function (event) {
            localStorage.setItem('activeTab', 'wizard2');
        });
    });
    </script>