{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Prescription {{ prescription.id }} | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .table-responsive, .datatable-wrapper .datatable-container 
    {
        margin-top: -60px;
    }

    .invoice .table tbody tr td, .invoice .datatable-table tbody tr td 
    {
        padding-top: 0;
    }

    @media screen and (max-width: 600px) 
    {
        .table-responsive, .datatable-wrapper .datatable-container 
        {
            margin-top: -30px;
        }
    }

    #prescription-image {
        background-image: url("{% static 'images/prescription-background.png' %}");
    }
</style>
{% endblock %}

{% block content %}
<div id="prescription" class="card invoice mt-2 mb-5 mt-5 animated--fade-in">
    <div class="card-header p-4 p-md-5 border-bottom-0 bg-dark text-white-50">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                <!-- Invoice branding-->
                <img class="invoice-brand-img rounded-circle mb-2" src="{% static 'images/prescription-logo.png' %}" alt=""/>
                <div class="h2 text-white mb-0">
                    Barraca
                </div>
                Veterinary Clinic
            </div>
            <div class="col-12 col-lg-auto text-center text-lg-end">
                <!-- Invoice details-->
                <div class="h3 text-white">Medical Prescription</div>
                Prescription No. <span class="prescriptionNumber" class="prescription-number">{{ prescription.id }}</span>
                <br />
                <span class="prescriptionDate">{{ prescription.date_prescribed|date:"F j, Y - g:i A" }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="row" style="padding: 0.75rem 0.75rem;">
            <div class="col-md-6 col-lg-3 mb-lg-0">
                <!-- Invoice - sent to info-->
                <div class="small text-muted text-uppercase fw-700 mb-2">
                    Client
                </div>
                <span class="clientName">{{ client.full_name }}</span>
                <div class="small text-muted text-uppercase fw-700 mb-2 mt-3">
                    Pet
                </div>
                <span class="petName">{{ pet.name }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="table-responsive prescription-table">
            <table class="table table-borderless mb-0 mt-0">
                <thead class="">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">Medicines</th>
                        <th class="text-end" scope="col"></th>
                        <th class="text-end" scope="col"></th>
                        <th class="text-end" scope="col"></th>
                        <th class="text-end" scope="col"></th>
                        <th class="text-end" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="tbody-products">
                    {% if prescription_medicines %}
                    {% for medicine in prescription_medicines %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                <i data-feather="arrow-right-circle" style="margin-top:3px;"></i> 
                                <span class="prescription-details">{{ medicine.get_prescription_details }}</span>
                            </div>
                            <div class="small text-muted d-none d-md-block">
                                <span class="prescription-quantity"></span>
                                <span class="prescription-form"></span>
                                <span class="quantity-description"></span>
                            </div>
                            
                        </td>
                        <td class="text-end fw-bold"></td>
                        <td class="text-end fw-bold"></td>
                        <td class="text-end fw-bold"></td>
                        <td class="text-end fw-bold"></td>
                        <td class="text-end fw-bold"></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <hr class="my-4" />
        <button id="printButton" class="btn btn-dark btn-sm lift lift-sm" style="margin-left:10px;" onclick="printPrescription()">Print</button>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Oh no!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- message here -->
        </div>
        <div class="modal-footer">
            <button id="OKErrorModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/billing/view_bill.js' %}"></script>
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script>
    function showError(message) {
        $("#OKErrorModalButton").off("click");
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }

    function getFormattedDate(date)
    {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }

    function printPrescription() 
    {
        var productsDataRaw = {{ prescription_data|safe }}

        if(productsDataRaw.length <= 0)
        {
            showError("There are no medicines to print.");
            return;
        }

        var clientName = document.getElementsByClassName("clientName").innerText;
        var billNo = document.getElementsByClassName("prescriptionNumber").innerText;
        var billDate = document.getElementsByClassName("prescriptionDate").innerText;

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "PET MEDICAL PRESCRIPTION";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <div><span style='font-size:12pt;font-weight:bold;'>Client:</span> ${'{{ client.full_name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Pet Name:</span> ${'{{ pet.name }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Prescription No.:</span> ${'{{ prescription.id }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Prescription Date:</span> ${'{{ prescription.date_prescribed|date:"F j, Y - g:i A" }}'}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</div>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;

        var tableContent = productsDataRaw.map(c => 
        `
        <tr>
            <td>${c.name}</td>
            <td>${c.quantity}</td>
            <td>${c.volume}</td>
            <td>${c.strength}</td>
            <td>${c.form}</td>
            <td>${c.dosage}</td>
            <td>${c.frequency}</td>
            <td>${c.remarks}</td>
        </tr>
        `).join('');

        var completeHTML = `
            ${header}
            <img style="margin-top:20px;" src="{% static 'images/rx-logo-pet.png' %}" width="10%"/>
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Medicine</th>
                        <th class="table-header">Qty.</th>
                        <th class="table-header">Volume</th>
                        <th class="table-header">Strength</th>
                        <th class="table-header">Type</th>
                        <th class="table-header">Dosage</th>
                        <th class="table-header">Frequency</th>
                        <th class="table-header">Remarks</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContent}
                </tbody>
            </table>
            <div style="width: 100%; display: flex; justify-content: space-between; margin-top:70px;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style='font-size:12pt;font-weight:600;'>‎</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style='font-size:9pt;font-weight:600;'>‎</span>
                    <span style='font-size:9pt;font-weight:600;'>‎</span>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span style='font-size:12pt;font-weight:600;'>Yvette Mae Barraca, DVM</span>
                    <span style='font-size:9pt;font-weight:600;'>LC. NO: 00000</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style='font-size:9pt;font-weight:600;'>____________________________</span>
                    <span style='font-size:9pt;font-weight:600;'>Date Signed</span>
                </div>
            </div>
        `;

        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            repeatTableHeader: true,
            scanStyles: true,
            gridStyle: css_gridStyle,
            modalMessage: 'Generating prescription report, this might take a while...',
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
                margin: 45px 70px 45px 70px; 
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 12px 12px;
                text-align: center; 
                border-bottom: 1px solid black;
            }
            
            .first-thead th, .first-tbody td{
                font-size: 10pt;
            }
            
            tfoot td {
                border: none; 
                padding: 2px 2px;
                padding-top: 12px;
            }
        `,
        });
    }
</script>

{% endblock %}
