{% load static %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">
                    <div class="sidenav-menu-heading d-sm-none">Account</div>
                    <a class="nav-link d-sm-none" href="#!">
                        <div class="nav-link-icon"><i data-feather="bell"></i></div>
                        Alerts
                        <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                    </a>
                    <a class="nav-link d-sm-none" href="#!">
                        <div class="nav-link-icon"><i data-feather="mail"></i></div>
                        Messages
                        <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                    </a>
                    <a class="nav-link d-sm-none" href="{% url 'home' %}">
                        <div class="nav-link-icon"><i data-feather="layout"></i></div>
                        Visit Site
                    </a>
                    {% with request.resolver_match.url_name as current_url_name %}
                    <div class="sidenav-menu-heading">Home</div>
                    <a class="nav-link {% if current_url_name == 'admin-vet' %}active{% endif %}" href="{% url 'admin-vet' %}">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="users"></i></div>
                        Manage Users
                    </a>
                    <!-- <a class="nav-link {% if current_url_name == 'sms-history' %}active{% endif %}" href="{% url 'sms-history' %}">
                        <div class="nav-link-icon"><i data-feather="send"></i></div>
                        SMS History
                    </a> -->
                    <div class="sidenav-menu-heading">Record</div>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="users"></i></div>
                        Clients
                    </a>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="gitlab"></i></div>
                        Pets
                    </a>
                    <a class="nav-link" href="#"> <!-- {% if current_url_name == 'admin-vet' %}active{% endif %} MUST ADD!!!!!-->
                        <div class="nav-link-icon"><i data-feather="credit-card"></i></div>
                        Health Card
                    </a>
                    <a class="nav-link" href="#"> <!-- {% if current_url_name == 'admin-vet' %}active{% endif %} MUST ADD!!!!!-->
                        <div class="nav-link-icon"><i data-feather="list"></i></div>
                        Medical Prescription
                    </a>
                    <a class="nav-link" href="#"> <!-- {% if current_url_name == 'admin-vet' %}active{% endif %} MUST ADD!!!!!-->
                        <div class="nav-link-icon"><i data-feather="heart"></i></div>
                        Consultation
                    </a>
                    <div class="sidenav-menu-heading">Appointment</div>
                    <a class="nav-link {% if current_url_name == 'admin-calendar' %}active{% endif %}" href="{% url 'admin-calendar' %}">
                        <div class="nav-link-icon"><i data-feather="calendar"></i></div>
                        Calendar
                    </a>
                    <div class="sidenav-menu-heading">Billing</div>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                        Billing & Payment
                    </a>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="paperclip"></i></div>
                        Sales
                    </a>
                    <div class="sidenav-menu-heading">Inventory & Services</div>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="box"></i></div>
                        Inventory
                    </a>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="table"></i></div>
                        Services
                    </a>
                    <a class="nav-link" href="#">
                        <div class="nav-link-icon"><i data-feather="list"></i></div>
                        Reorder List
                    </a>
                    {% endwith %}
                    <style>
                        .superadmin-card
                        {
                            margin: 0 auto;
                            max-width: 200px;
                        } 

                        .deeper-admin
                        {
                            font-weight: 600;
                        }

                        @media (max-width: 576px) {
                            .superadmin-card
                            {
                                margin-bottom: 45px;
                            } 
                        }
                    </style>
                    <div class="card card-header-actions mt-5 mb-2 superadmin-card">
                        <div class="card-body">
                            <span class="deeper-admin">Missing something?</span>
                            <br>
                            <center>
                                <a role="button" class="btn btn-sm btn-dark mt-3" href="{% url 'admin:index' %}" style="margin:0 auto;" target="_blank" rel="noopener noreferrer">Superadmin Page</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidenav Footer-->
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Logged in as:</div>
                    <div class="sidenav-footer-title">{{ user.client }}</div>
                </div>
            </div>
        </nav>
    </div>
