{% extends 'customer_dashboard/base.html' %}
{% load static %}

{% block title %} Dashboard | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
.card-custom-height {
  height: 150px; 
}

.card-custom-height img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card-darken-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
}
.card-header
{
    color: #232323 !important;
}
</style>
{% endblock %}


{% block header %}
<!-- <header class="page-header page-header-light bg-light mb-0">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="layout"></i></div>
                        Customer Dashboard
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header> -->
{% endblock %}

{% block content %}
<!-- <div class="row mt-5 animated--fade-in-up">
    <div class="col-xxl-4 col-xl-12 mb-4">
        <div class="card h-100">
            <div class="card-body h-100 p-5">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-xxl-12">
                        <div class="text-center text-xl-start text-xxl-center mb-4 mb-xl-0 mb-xxl-4">
                            <h1 class="text-primary">Welcome to Barraca<br>Veterinary Clinic!</h1>
                            <p class="text-gray-700 mb-0">I am Dr. Yvette Mae Barraca, and I am glad you found this page! Feel free to navigate in this page. I am happy to serve you!</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid" src="{% static 'plugins/sb-admin/assets/img/illustrations/at-work.svg' %}" style="max-width: 26rem" /></div>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <div class="row mt-5 animated--fade-in-up">
        <div class="col-lg-6 col-xl-3 mb-4">
            <div class="card bg-success text-white card-equal-height">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <div class="text-white-75 small">My Total Pets</div>
                            <div class="text-lg fw-bold">{{ pets|length }}</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="gitlab"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between small">
                    <a class="text-white stretched-link" href="{% url 'pet-list-page' %}">View Pets</a>
                    <div class="text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                </div>
            </div>
        </div>
        {% for pet_appointment in pets_appointments %}
        <div class="col-lg-6 col-xl-3 mb-4" style="cursor: default;">
            <div class="card card-custom-height card-darken-image">
                {% if pet_appointment.pet.picture %}
                <img class="card-img " src="{{ pet_appointment.pet.picture.url }}" alt="{{ pet_appointment.pet.name }}">
                {% else %}
                <img class="card-img" src="{% static 'images/no-image-placeholder.jpg' %}" alt="{{ pet.name }}">
                {% endif %}
                
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">{{ pet_appointment.pet.name }}</h5>
                    <p class="card-text text-white">{{ pet_appointment.pet.breed }}<br><br>
                    {% if pet_appointment.first_appointment %}
                        <span class="text-muted text-xs opacity-50">Next Appointment: <br>
                        {{ pet_appointment.first_appointment.date }} - {{ pet_appointment.first_appointment.purpose.service_type }}<br>
                    {% endif %}
                    </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="card mb-4">
        <div class="card-header">My Appointments</div>
        <div class="card-body">
            <table id="datatablesSimple" style="display: none;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Concern</th>
                        <th>Pet</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in my_appointment %}
                    <tr>
                        <td>{{ appointment.date }}</td>
                        <td><div class="badge bg-warning text-white rounded-pill">{{ appointment.purpose.service_type }}</div></td>
                        <td>{{ appointment.pet.name }}</td>
                        <td>
                            <button id="dropdownFadeIn" class="btn btn-datatable btn-icon btn-transparent-dark me-2"  type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownFadeIn">
                                <a data-pet-id="{{ appointment.pet.id }}" data-appointment-id="{{ appointment.id }}" class="dropdown-item view-appointment" href="#!">
                                    <div class="dropdown-item-icon">
                                        <i data-feather="calendar"></i>
                                    </div>
                                    View Appointment
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/Chart.js/Chart.min.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'plugins/sb-admin/assets/demo/chart-bar-demo.js' %}"></script> -->
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>

window.addEventListener('DOMContentLoaded', event => {
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        datatablesSimple.style.display = "";

        var appointment_length = {{ my_appointment|length }};
        console.log(appointment_length);
        var maxIndex = appointment_length > 25 ? appointment_length : 50;

        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
            paging: true,
            perPageSelect: [5, 10, 25, maxIndex],
            perPage: 10,
            fixedHeight: true,
            sortable: true,
            searchable: true,
            hiddenHeader: false,
        });

        window.dataTable = dataTable;

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        var searchInput = document.querySelector('.datatable-input');
        
        searchInput.addEventListener('search', function(e) {
            if (e.target.value == '') {
                dataTable.search('');
            }
        });
    }
});
</script>
<script src="{% static 'plugins/sb-admin/js/bundle.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/litepicker.js' %}"></script>
<script>
    $(document).ready(function(){
        $(".view-appointment").on('click', function(e){
            e.preventDefault();
            const appointmentId = $(this).data('appointment-id');
    
            if (appointmentId) {
                window.location.href = `{% url 'client_calendar' %}?appointment_id=${appointmentId}`;
            } else {
                showError("This pet does not have an appointment. Click set appointment to set an appointment for this pet.");
            }
        });
    });
    </script>
{% endblock %}