<script>
    function preventDecimal(event) {
        return ![69, 190, 188].includes(event.keyCode);
    }
    
    function removeDecimal(inputElement) {
        inputElement.value = inputElement.value.replace('.', '');
    }
$(document).ready(function() {
    var total = 0;

    var clientInput = $('.selected-client-input');

    var findClientButton = $('.find-client-button');
    var selectedServiceIds = new Set();
    var selectedProductIds = new Set();
    
    {% if selected_pet_owner_id %}
    var selectedClientId = {{ selected_pet_owner_id }};
    var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?to=' + selectedClientId;
    window.history.pushState({path: newUrl}, '', newUrl);
    {% else %}
    var selectedClientId = null;
    {% endif %}
    
    let dataTable_products;
    let dataTable_services;
    let dataTable_clients;

    var selectedMedicines = {% if selected_medicines %}{{ selected_medicines|safe }}{% else %}[]{%endif%};
    var selectedService = {% if selected_service %}{{ selected_service|safe }}{% else %}null{%endif%};

    if(clientInput.val().trim() != '') 
    {
        var client_help = document.getElementById('client-help');
        clientInput.prop('disabled', true);
        // findClientButton.css('display', 'none');
        $(client_help).attr('data-bs-original-title', "You have selected a client. You can change the client by clicking the add or remove client button.");
        new bootstrap.Tooltip(client_help, {
            html: true
        });
        $('.remove-client').show();

        var params = new URLSearchParams(window.location.search);
        var selectedClientId = params.get('to'); 

        // var cleanUrl = window.location.href.split("?")[0];
        // window.history.replaceState({}, document.title, cleanUrl);
    }

    $('#addClientModal').on('show.bs.modal', function (event)
    {
        const datatablesSimple_clients = document.getElementById('datatablesSimple-client');

        if (datatablesSimple_clients) {
            dataTable_clients = new simpleDatatables.DataTable(datatablesSimple_clients, {
                paging: true,
                perPageSelect: [5, 10, 25, {% if clients_count > 50 %} {{ clients_count }} {% else %} 50 {% endif %}],
                perPage: 5,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
        }

        var searchInput = document.querySelector('.datatable-input');

        searchInput.addEventListener('search', function(e) {
            if (e.target.value == '') {
                dataTable_clients.search('');
            }
        });
    });

    function refreshServiceRows()
    {
        $('.add-service, .remove-service-from-modal').each(function() {
            var serviceId = $(this).closest('tr').find('.service-id').text();
            //var row = $(this).closest('tr');
            if (selectedServiceIds.has(serviceId)) {
                // row.remove(); 
                // $(this).prop('disabled', true); 
                // row.find('.add-text').text("Added");
                $(this).removeClass('add-service').addClass('remove-service-from-modal');
                $(this).find('.add-text').text("Remove");
            } 
            else
            {
                $(this).removeClass('remove-service-from-modal').addClass('add-service');
                // $(this).prop('disabled', false); 
                $(this).find('.add-text').text("Add");
            }
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    }

    $('#addServiceModal').on('show.bs.modal', function (event) 
    {
        const datatablesSimple_services = document.getElementById('datatablesSimple-services');

        if (datatablesSimple_services) {
            dataTable_services = new simpleDatatables.DataTable(datatablesSimple_services, {
                paging: true,
                perPageSelect: [5, 10, 25, {% if services_count > 50 %} {{ services_count }} {% else %} 50 {% endif %}],
                perPage: 5,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
                // labels: {
                //     info: `Services Table`,
                // },
            });
        }

        dataTable_services.on('datatable.update', () => {
            refreshServiceRows();
        });

        dataTable_services.on('datatable.page', function(page) {
            refreshServiceRows();
        });

        dataTable_services.on('datatable.search', function(query, matched) {
            refreshServiceRows();
        });

        dataTable_services.on('datatable.sort', function(column, direction) {
            refreshServiceRows();
        });

        var searchInput = document.querySelector('.datatable-input');

        searchInput.addEventListener('search', function(e) {
            if (e.target.value == '') {
                dataTable_services.search('');
                refreshServiceRows();
            }
        });

        refreshServiceRows();
    });


    function refreshProductRows()
    {
        $('.add-product, .remove-product-from-modal').each(function() {
            var productId = $(this).closest('tr').find('.product-id').text();
            
            var row = $(this).closest('tr');

            if (selectedProductIds.has(productId)) {
                // $(this).prop('disabled', true); 
                // row.find('.add-text').text("Added");
                $(this).removeClass('add-product').addClass('remove-product-from-modal');
                $(this).find('.add-text').text("Remove");
            } 
            else
            {
                // $(this).prop('disabled', false); 
                // row.find('.add-text').text("Add");
                $(this).removeClass('remove-product-from-modal').addClass('add-product');
                // $(this).prop('disabled', false); 
                $(this).find('.add-text').text("Add");
            }
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    }

    {% for type, products in product_dict.items %}
        var dataTable_{{ forloop.counter }};
    {% endfor %}

    {% for type, products in product_dict.items %}
        const datatablesSimple_products_{{ forloop.counter }} = document.getElementById('datatablesSimple-products-{{ forloop.counter }}');

        if (datatablesSimple_products_{{ forloop.counter }}) {
            dataTable_{{ forloop.counter }} = new simpleDatatables.DataTable(datatablesSimple_products_{{ forloop.counter }}, {
                paging: true,
                perPageSelect: [5, 10, 25, {% if products_count > 50 %} {{ products_count }} {% else %} 50 {% endif %}],
                perPage: 5,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });

            window["dataTable_" + {{ forloop.counter }}] = dataTable_{{ forloop.counter }};

            dataTable_{{ forloop.counter }}.on('datatable.update', refreshProductRows);
            dataTable_{{ forloop.counter }}.on('datatable.page', refreshProductRows);
            dataTable_{{ forloop.counter }}.on('datatable.search', refreshProductRows);
            dataTable_{{ forloop.counter }}.on('datatable.sort', refreshProductRows);

            // Attach the search input event listener based on the current loop's counter
            var searchInput = document.querySelector(`[aria-controls="datatablesSimple-products-{{ forloop.counter }}"]`);
         
            if (searchInput) {
                searchInput.addEventListener('search', function(e) {
                    if (e.target.value == '') {
                        dataTable_{{ forloop.counter }}.search('');
                        refreshProductRows();
                    }
                });
            }
        }
    {% endfor %}

    var isFirstRun = true;

    $('#addProductModal').on('show.bs.modal', function (event) 
    {
        {% for type, products in product_dict.items %}
            
            $(datatablesSimple_products_{{ forloop.counter }}).find('.add-product').each(function() {
                var productId = $(this).closest('tr').find('.product-id').text();
                var row = $(this).closest('tr');
                // if (selectedProductIds.has(productId)) {
                //     $(this).prop('disabled', true); 
                //     row.find('.add-text').text("Added");
                // } 

                if(isFirstRun)
                {
                    $.ajax({
                        url: '/admin/inventory/check-expiry/' + productId + '/',
                        method: 'GET',
                        success: function(data) {
                            var stockExpiry = data.expiry;
        
                            if(stockExpiry != null) {
                                var stockExpiryDate = new Date(stockExpiry);
                                var today = new Date();
        
                                if(stockExpiryDate < today) {
                                    row.find('.add-product').prop('disabled', true);
                                }
                            }
                        }
                    });

                    $.ajax({
                        url: '/admin/inventory/check-quantity/' + productId + '/',
                        method: 'GET',
                        success: function(data) {
                            var stockQuantity = data.quantity;
        
                            if(stockQuantity != null) {
                                if(parseFloat(stockQuantity) == 0) {
                                    row.find('.add-product').prop('disabled', true);
                                }
                            }
                        }
                    });
                    isFirstRun = false;
                }

            });
            // var searchInput = document.querySelector('.datatable-input');

            // searchInput.addEventListener('search', function(e) {
            //     if (e.target.value == '') {
            //         datatablesSimple_products_{{ forloop.counter }}.search('');
            //     }
            // });
        {% endfor %}
        refreshProductRows();
    });
 

    $('#addClientModal').on('hidden.bs.modal', function (event) 
    {
        if (dataTable_clients) {
            dataTable_clients.destroy();
            dataTable_clients = null;
        }
    });

    $('#addServiceModal').on('hidden.bs.modal', function (event) 
    {
        if (dataTable_services) {
            dataTable_services.destroy();
            dataTable_services = null;
        }
    });

    $('#addProductModal').on('hidden.bs.modal', function (event) 
    {
        if (dataTable_products) {
            dataTable_products.destroy();
            dataTable_products = null;
        }
    });

    // $('#addServiceBtn').hide();

    $(document).on('click', '.add-client', function() 
    {
        var clientId = $(this).closest('tr').find('.client-id').text();

        var clientName = $(this).closest('tr').find('.client-value').text();

        $('.selected-client-input').val(clientName);
        $('.selected-client-input').addClass('selected-client');
        $('.selected-client-input').data('client-id', clientId);

        $('.selected-client-input').prop('disabled', true);

        selectedClientId = clientId;

        $('.remove-client').show();
        // $('#addServiceBtn').show(); 

        $('#addClientModal').modal('hide');

        var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?to=' + clientId;
        window.history.pushState({path: newUrl}, '', newUrl);
    });

    $(document).on('click', '.remove-client', function(e) 
    {
        e.preventDefault();
        e.stopPropagation();

        let $input = $('.selected-client-input');

        $input.val('')
            .prop('disabled', false)
            .removeClass('selected-client')
            .removeAttr('data-client-id');
        $('.remove-client').hide();

        selectedClientId = null;

        var url = window.location.href;
        var newUrl = url.split('?')[0];
        window.history.pushState({}, null, newUrl);
    });

    function addService(serviceId, row, button) {
        if (selectedServiceIds.has(serviceId)) {
            // button.prop('disabled', true);
            button.removeClass('add-service').addClass('remove-service-from-modal');
            button.find('.add-text').text("Remove");
            return;
        }
        
        var serviceName = row.find('.service-type').text();
        var serviceFee = row.find('.service-fee').text();
        var serviceRemarks = row.find('.service-remarks').text();

        selectedServiceIds.add(serviceId);
        
        // button.prop('disabled', true);
        // button.find('.add-text').text("Added");

        button.removeClass('add-service').addClass('remove-service-from-modal');
        button.find('.add-text').text("Remove");

        serviceFee = serviceFee.replace("₱", "").trim();
        serviceFee = serviceFee.replace(/,/g, "").trim();

        total += parseFloat(serviceFee);

        var newRow = `
            <tr class="selected-service" data-service-id="${serviceId}">
                <td>
                    <div class="fw-bold">
                        ${serviceName}
                        <a class="btn btn-datatable btn-icon btn-transparent-dark remove-service" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                            <span class="service-id-remove-button" style="display: none;">${serviceId}</span>
                            <i data-feather="delete"></i>
                        </a>
                    </div>
                    <div class="small text-muted d-none d-md-block">${serviceRemarks}</div>
                </td>
                <td class="text-end fw-bold"><!-- empty for spacing --></td>
                <td class="text-end fw-bold"><!-- empty for spacing --></td>
                <td class="text-end fw-bold service-fee">₱ ${parseFloat(serviceFee).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}</td>
            </tr>
        `;

        $('.tbody-services').append(newRow);
        // $('#addServiceModal').modal('hide');

        $('.total-amount').text('Total Amount: ₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));

        feather.replace();
    }

    function addProduct(productId, quantity, row, button) {
        button.attr('data-active-ajax', true);
        var $this = button;

        if (selectedProductIds.has(productId)) {
            // $this.prop('disabled', true);
            $this.removeClass('add-product').addClass('remove-product-from-modal');
            $this.find('.add-text').text("Remove");
            return;
        }

        var productName = row.find('.product-name').text();
        var productPrice = row.find('.product-price').text();
        var productType = row.find('.product-type').text();
        
        var quantity = quantity;

        var stockQuantity = row.find('.product-stock-quantity').text();
        stockQuantity = parseFloat(stockQuantity.replace(/,/g, ""));

        if((quantity.split('.')[1] || []).length > 2)
        {
            $('#errorModal .modal-body').text("Only 2 decimal points for the quantity.");
            $('#errorModal').modal('show');
            quantityInput.focus();
            return;
        }

        var activeAjaxRequests = 0;
        
        $(document).ajaxStart(function() {
            activeAjaxRequests++;
            if (activeAjaxRequests === 1) { 

                var $this = $('.add-product[data-active-ajax="true"]');
                $this.prop('disabled', true);
                $this.find('.add-text').text("Adding...");
                $this.find('.add-product-ajax-loading').removeClass('d-none');
            }
        }).ajaxStop(function() {
            activeAjaxRequests--;
            if (activeAjaxRequests === 0) { 
                var $this = $('.add-product[data-active-ajax="true"]');
                $this.prop('disabled', false);
                $this.find('.add-text').text("Add");
                $this.find('.add-product-ajax-loading').addClass('d-none');
                $this.removeAttr('data-active-ajax'); 
            }
        });
        
        $.ajax({
            url: '/admin/inventory/check-expiry/' + productId + '/',
            method: 'GET',
            success: function(data) {
                var stockExpiry = data.expiry;
                
                if(stockExpiry != null) {
                    var stockExpiryDate = new Date(stockExpiry);
                    var today = new Date();

                    if(stockExpiryDate < today) {
                        $('#errorModal .modal-body').html("The product is already expired. <br><br><a href='/admin/inventory/'>Click here</a> to view the list of product.");
                        $('#errorModal').modal('show');
                        //quantityInput.focus();
                        return;
                    }
                }
                
                $.ajax({
                    url: '/admin/inventory/check-quantity/' + productId + '/',
                    method: 'GET',
                    success: function(data) {
                        var stockQuantity = data.quantity;

                        if(stockQuantity != null) {
                            if(parseFloat(stockQuantity) == 0) {
                                $('#errorModal .modal-body').text("The product is out of stock.");
                                $('#errorModal').modal('show');

                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");

                                return;
                            }
                            else if(parseFloat(quantity) > stockQuantity) {
                                $('#errorModal .modal-body').text("The entered quantity is greater than the stock quantity.");
                                $('#errorModal').modal('show');
                                //quantityInput.focus();

                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");

                                return;
                            }
                            else if(parseFloat(quantity) <= 0)
                            {
                                $('#errorModal .modal-body').text("The entered quantity is invalid.");
                                $('#errorModal').modal('show');
                                //quantityInput.focus();
                                $this.prop('disabled', false);
                                $this.find('.add-text').text("Add");
                                return;
                            }
                        }

                        selectedProductIds.add(productId);

                        // $this.prop('disabled', true);
                        // $this.find('.add-text').text("Added");
                        
                        $this.removeClass('add-product').addClass('remove-product-from-modal');
                        $this.find('.add-text').text("Remove");
                        $this.find('.add-product-ajax-loading').addClass('d-none');
                        $this.prop('disabled', false);
                        
                        productPrice = productPrice.replace("₱", "").trim();
                        productPrice = productPrice.replace(/,/g, "").trim();
                        productPrice = parseFloat(productPrice);
                    
                        quantity = parseFloat(quantity);
                        
                        total += productPrice * parseFloat(quantity);
                    
                        var price = parseFloat(productPrice) * parseFloat(quantity);
                        var formattedPrice = price.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
                    
                        var newRow = `
                            <tr class="selected-product" data-product-id="${productId}" data-product-quantity="${quantity}">
                                <td>
                                    <div class="fw-bold">
                                        ${productName} (₱ ${productPrice.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})} x <span class="product-quantity">${quantity}</span>)
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark remove-product" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove">
                                            <span class="product-id-remove-button" style="display: none;">${productId}</span>
                                            <i data-feather="delete"></i>
                                        </a>
                                    </div>
                                    <div class="small text-muted d-none d-md-block">${productType}</div>
                                </td>
                                <td class="text-end fw-bold"><!-- empty for spacing --></td>
                                <td class="text-end fw-bold"><!-- empty for spacing --></td>
                                <td class="text-end fw-bold product-price">₱ ${formattedPrice}</td>
                            </tr>
                        `;
                        
                        $('#total-row').before(newRow);
                        // $('#addProductModal').modal('hide');
               
                        $('.total-amount').text('Total Amount: ₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));
                    
                        feather.replace();

                    }
                });
            }
        });
    }

    $(document).on('click', '.add-service', function() {
        var serviceId = $(this).closest('tr').find('.service-id').text();
        //var serviceId = $(this)[0].getAttribute('data-service-id');
        var row = $(this).closest('tr');
        addService(serviceId, row, $(this));
        refreshServiceRows();
    });
    
    $(document).on('click', '.add-product', function() {
        var productId = $(this).closest('tr').find('.product-id').text();
        var row = $(this).closest('tr');
        var quantityInput = row.find('.product-quantity');
        var quantity = quantityInput.val();
        addProduct(productId, quantity, row, $(this));
        refreshProductRows();
    });  

    $(document).on('click', '.remove-service', function(e) 
    {
        e.preventDefault();

        var tooltipInstance = bootstrap.Tooltip.getInstance($(this)[0]);
        if (tooltipInstance) {
            tooltipInstance.hide();
        }

        var serviceId = $(this).find('.service-id-remove-button').text();
        
        selectedServiceIds.delete(serviceId);
        var serviceFee = $(this).parents('tr').find('.service-fee').text();
        
        serviceFee = serviceFee.replace("₱", "").trim();
        serviceFee = serviceFee.replace(/,/g, "").trim();
        
        total -= parseFloat(serviceFee.replace("₱", "").trim());
        
        $(this).removeClass('remove-service-from-modal').addClass('add-service');
        $(this).find('.add-text').text("Add");

        $('.total-amount').text('Total Amount: ₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));

        $('.add-service[data-service-id="' + serviceId + '"]').prop('disabled', false);
        $('.add-service[data-service-id="' + serviceId + '"]').text("Add");

        $(this).closest('tr').remove();
    });

    $(document).on('click', '.remove-service-from-modal', function(e) 
    {
        e.preventDefault();

        var tooltipInstance = bootstrap.Tooltip.getInstance($(this)[0]);
        if (tooltipInstance) {
            tooltipInstance.hide();
        }

        var serviceId = $(this).closest('tr').find('.service-id').text();

        selectedServiceIds.delete(serviceId);
        var serviceFee = $(this).parents('tr').find('.service-fee').text();
        
        serviceFee = serviceFee.replace("₱", "").trim();
        serviceFee = serviceFee.replace(/,/g, "").trim();
        
        total -= parseFloat(serviceFee.replace("₱", "").trim());
        
        $(this).removeClass('remove-service-from-modal').addClass('add-service');
        $(this).find('.add-text').text("Add");

        $('.total-amount').text('Total Amount: ₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));

        $('.add-service[data-service-id="' + serviceId + '"]').prop('disabled', false);
        $('.add-service[data-service-id="' + serviceId + '"]').text("Add");

        var removeServiceRow = $('tr.selected-service[data-service-id="' + serviceId + '"]');
        removeServiceRow.remove();
    });

    $(document).on('click', '.remove-product', function(e) 
    {
        e.preventDefault();

        var tooltipInstance = bootstrap.Tooltip.getInstance($(this)[0]);
        if (tooltipInstance) {
            tooltipInstance.hide();
        }

        var productId = $(this).find('.product-id-remove-button').text();
        selectedProductIds.delete(productId);
        var productPrice = $(this).parents('tr').find('.product-price').text();
        productPrice = productPrice.replace("₱", "").trim();
        productPrice = productPrice.replace(/,/g, "").trim();

        total -= parseFloat(productPrice.replace("₱", "").trim());

        $('.total-amount').text('₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));

        $('.add-product[data-product-id="' + productId + '"]').prop('disabled', false);
        var addProductButton = $('.add-product[data-product-id="' + productId + '"]');
        addProductButton.html('<span class="spinner-border spinner-border-sm add-product-ajax-loading d-none" role="status" aria-hidden="true"></span><span class="add-text">Add</span>');
        addProductButton.prop('disabled', false);

        $(this).closest('tr').remove();
    });

    $(document).on('click', '.remove-product-from-modal', function(e) 
    {
        e.preventDefault();

        var tooltipInstance = bootstrap.Tooltip.getInstance($(this)[0]);
        if (tooltipInstance) {
            tooltipInstance.hide();
        }

        var productId = $(this).closest('tr').find('.product-id').text();
        selectedProductIds.delete(productId);
        var productPrice = $(document).find(`tr.selected-product[data-product-id="${productId}"] .product-price`).text();
        productPrice = productPrice.replace("₱", "").trim();
        productPrice = productPrice.replace(/,/g, "").trim();

        total -= parseFloat(productPrice.replace("₱", "").trim());

        $(this).removeClass('remove-product-from-modal').addClass('add-product');
        $(this).find('.add-text').text("Add");

        $('.total-amount').text('₱ ' + total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}));

        $('.add-product[data-product-id="' + productId + '"]').prop('disabled', false);
        var addProductButton = $('.add-product[data-product-id="' + productId + '"]');
        addProductButton.html('<span class="spinner-border spinner-border-sm add-product-ajax-loading d-none" role="status" aria-hidden="true"></span><span class="add-text">Add</span>');
        addProductButton.prop('disabled', false);

        var removeProductRow = $('tr.selected-product[data-product-id="' + productId + '"]');
        removeProductRow.remove();
    });

    $('#paid-button').on('click', function() 
    {
        // var clientId = $('.selected-client-input').data('client-id');
        var clientId = selectedClientId;
        var clientName = $('.selected-client-input').val().trim();
        var serviceIds = [];
        var productIds = [];

        $('.selected-service').each(function() {
            serviceIds.push($(this).data('service-id'));
        });

        $('.selected-product').each(function() {
            productIds.push($(this).data('product-id'));
        });

        if(!clientId && clientName === '')
        {
            $('#errorModal .modal-body').text("Client is not selected.");
            $('#errorModal').modal('show');
            return;
        }

        if(serviceIds.length == 0 && productIds.length == 0) {
            $('#errorModal .modal-body').text("At least one service or product should be added.");
            $('#errorModal').modal('show');
            return;
        }

        $('#confirmationModal').modal('show');
    });

    function getCookie(name) 
    {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#confirm-paid-button').on('click', function() 
    {
        // var clientId = $('.selected-client-input').data('client-id');
        var clientId = selectedClientId;
        console.log(clientId)
        if (clientId === '') {
            clientId = undefined;
        }
        var fullName = $('.selected-client-input').val();
        var serviceIds = [];
        var productIds = [];
        var quantities = [];

        $('.selected-service').each(function() {
            serviceIds.push($(this).data('service-id'));
        });

        $('.selected-product').each(function() {
            productIds.push({
                id: $(this).data('product-id'),
                quantity: $(this).data('product-quantity')
            });
        });

        // console.log(productIds)

        var data = {
            'full_name': fullName,
            'service_ids': serviceIds,
            'product_ids': productIds,
            'quantities': quantities,
        };

        if (clientId !== undefined) {
            data.client_id = clientId;
        }

        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url: '{% url 'post-bill' %}',
            method: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                $('#addBillSuccess').modal('show');
            },
            error: function(data) {
                $('#errorModal .modal-body').text(data.responseJSON.message);
                $('#errorModal').modal('show');
            }
        });
    });

    $('#success-add-billing').on('click', function() {
        window.location.href = "/admin/bill/";
    });

    $('#fullscreen-spinner').addClass('d-none');

    if (selectedMedicines && selectedMedicines.length > 0) {
        for (var i = 1; i <= {{ product_dict.items|length }}; i++) {
            if (window["dataTable_" + i]) {
                window["dataTable_" + i].options.paging = false;
                window["dataTable_" + i].refresh(); 
            }
        }
    
        for (var i = 0; i < selectedMedicines.length; i++) {
            var medicine = selectedMedicines[i];
            var productId = medicine.id;
            var quantity = medicine.details.quantity;
            
            var row = $(`.add-product[data-product-id="${productId}"]`).closest('tr');
            
            row.find('.product-quantity').val(quantity);
            
            $(`.add-product[data-product-id="${productId}"]`).click();
        }
    
        for (var i = 1; i <= {{ product_dict.items|length }}; i++) {
            if (window["dataTable_" + i]) {
                window["dataTable_" + i].options.paging = true;
                window["dataTable_" + i].refresh(); 
            }
        }
    }

    if (selectedService) {
        $(`.add-service[data-service-id="${selectedService}"]`).click();
    }
});

</script>