{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Sales | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .nav-wizard .nav-link 
    {
        padding: 0.5rem;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link 
    {
        color: white;
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-icon 
    {
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-text .wizard-step-text-name 
    {
        color: #121212;
    }

    .nav-wizard .nav-link.active .wizard-step-icon i, .nav-wizard .nav-link.active .wizard-step-icon svg, .nav-wizard .nav-link.active .wizard-step-icon .feather 
    {
    color: #121212;
    }

    .litepicker.mobilefriendly[data-plugins*="mobilefriendly"] 
    {
        width: 90%;
    }
    
    .litepicker.mobilefriendly-portrait 
    {
        --litepicker-day-width: 10vw;
    }

    .litepicker[data-plugins*="mobilefriendly"] .container__months 
    {
        overflow: visible;
    }

    .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
    {
        color: #fff;
        background-color: #232323;
    }

    .page-link, .datatable-pagination a 
    {
        color: #232323;
    }

    @media (max-width: 767.98px) 
    {
        .datatable-top > nav:first-child, .datatable-top > div:first-child, .datatable-bottom > nav:first-child, .datatable-bottom > div:first-child 
        {
            float: left;
            width: 100%;
            text-align: center;
        }

        .datatable-top > nav:last-child, .datatable-top > div:last-child, .datatable-bottom > nav:last-child, .datatable-bottom > div:last-child 
        {
            float: left;
            margin-top: 10px;
            width: 100%;
        }

        .datatable-pagination 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


</style>
<script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
        <!-- Wizard card example with navigation-->

        <div class="card">
            
            <div class="card-header border-bottom">
                <!-- Wizard navigation-->
                <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                    <!-- Wizard navigation item 1-->
                    <a class="nav-item nav-link active" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="menu"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Billing Statements History</div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 2-->
                    <a class="nav-item nav-link" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="bar-chart"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Sales & Services</div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3 mt-3">
                    <div class="col-12 col-xl-auto d-flex align-items-center">
                        <div class="input-group input-group-joined border-0 ml-3" style="width: 16.5rem">
                            <span class="input-group-text" style="background: #232323; color: white;">
                                <i class="text-light" data-feather="calendar"></i>
                            </span>
                            <input class="form-control ps-0 pointer input-litepicker" id="litepickerRangePlugin" placeholder="Select date range..." style="background: #232323;color: white;" />
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="cardTabContent">
                    <!-- Wizard tab pane item 1-->
                    <div class="tab-pane py-5 py-xl-2 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                        <div class="row justify-content-center">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Client</th>
                                        <th>Total Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in bills %}
                                    <tr>
                                        <td>
                                            <span class="billing-number">
                                                {{ bill.get_billing_number }}
                                            </span>
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'view-bill-page' bill.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="View Billing">
                                                <i data-feather="external-link"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {{ bill.client.full_name }}
                                            {% if bill.client.user.is_active %}
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' bill.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client">
                                                <i data-feather="external-link"></i>
                                            </a>
                                            {% endif %}
                                            <!-- {% if request.user.is_authenticated and bill.client.user.id == request.user.id %}
                                            (You)
                                            {% endif %} -->
                                        </td>
                                        <td>₱ {{ bill.get_total|floatformat:2|intcomma }}</td>
                                        <td>{{ bill.date_created|date:"F j, Y, g:i A" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!-- Wizard tab pane item 2-->
                    <div class="tab-pane py-5 py-xl-2 fade" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                        <div class="row justify-content-center">
                            qwe
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/bundle.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'plugins/sb-admin/js/litepicker.js' %}"></script>
{% endblock %}
