{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% load templatetags %}

{% block title %} Sales | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .nav-wizard .nav-link 
    {
        padding: 0.5rem;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link 
    {
        color: white;
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-icon 
    {
        background-color: #121212;
    }

    .nav-wizard .nav-link .wizard-step-text .wizard-step-text-name 
    {
        color: #121212;
    }

    .nav-wizard .nav-link.active .wizard-step-icon i, .nav-wizard .nav-link.active .wizard-step-icon svg, .nav-wizard .nav-link.active .wizard-step-icon .feather 
    {
    color: #121212;
    }

    .litepicker.mobilefriendly[data-plugins*="mobilefriendly"] 
    {
        width: 90%;
    }
    
    .litepicker.mobilefriendly-portrait 
    {
        --litepicker-day-width: 10vw;
    }

    .litepicker[data-plugins*="mobilefriendly"] .container__months 
    {
        overflow: visible;
    }

    .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
    {
        color: #fff;
        background-color: #232323;
    }

    .page-link, .datatable-pagination a 
    {
        color: #232323;
    }

    @media (max-width: 767.98px) 
    {
        .datatable-top > nav:first-child, .datatable-top > div:first-child, .datatable-bottom > nav:first-child, .datatable-bottom > div:first-child 
        {
            float: left;
            width: 100%;
            text-align: center;
        }

        .datatable-top > nav:last-child, .datatable-top > div:last-child, .datatable-bottom > nav:last-child, .datatable-bottom > div:last-child 
        {
            float: left;
            margin-top: 10px;
            width: 100%;
        }

        .datatable-pagination 
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .d-flex {
            flex-flow: column !important;
        }

        .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            border-top-right-radius: 0.35rem;
            border-bottom-right-radius: 0.35rem;
        }
    }

    .card {
        box-shadow: 0 0rem 0rem 0 rgba(255, 255, 255, 0.15);
    }

</style>

<script>
window.addEventListener('DOMContentLoaded', event => {
    const wizard1Tab = document.getElementById('wizard1-tab');
    const wizard2Tab = document.getElementById('wizard2-tab');

    var isTable1Initialized = false;
    var isTable2Initialized = false;
    var isTable3Initialized = false;

    isTable1Initialized = initDataTables('datatablesSimple', {{ bills|length }});

    wizard1Tab.addEventListener('click', function (event) {
        if (isTable1Initialized) {
            return;
        }
        isTable1Initialized = initDataTables('datatablesSimple', {{ bills|length }});
    });

    wizard2Tab.addEventListener('click', function (event) {
        if (isTable2Initialized && isTable3Initialized) {
            return;
        }
        isTable2Initialized = initDataTables('datatablesSimple-sales', {{ total_products_count }});
        isTable3Initialized = initDataTables('datatablesSimple-services', {{ total_services_count }});
    });
});

function initDataTables(tableId, maxPage) {
    const datatablesSimple = document.getElementById(tableId);
    
    var lastIndex = maxPage > 25 ? maxPage : 50;

    if (datatablesSimple) {
        datatablesSimple.style.display = "";
        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
        // DataTables options
        paging: true,
        perPageSelect: [5, 10, 25, lastIndex],
        perPage: 10,
        fixedHeight: false,
        sortable: true,
        searchable: true,
        hiddenHeader: false
        });

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        var searchInput = document.querySelector('.datatable-input');
        
        searchInput.addEventListener('search', function(e) {
            if (e.target.value == '') {
                dataTable.search('');
            }
        });
        
        return true;
    }

    return false;
   
}
</script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
        <!-- Wizard card example with navigation-->

        <div class="card">
            <div class="card-header border-bottom">
                <!-- Wizard navigation-->
                <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                    <!-- Wizard navigation item 1-->
                    <a class="nav-item nav-link active" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="menu"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Billing Statements History</div>
                        </div>
                    </a>
                    <!-- Wizard navigation item 2-->
                    <a class="nav-item nav-link" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                        <div class="wizard-step-icon"><i data-feather="bar-chart"></i></div>
                        <div class="wizard-step-text">
                            <div class="wizard-step-text-name">Sales & Services Breakdown</div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3 mt-3">
                    <div class="mb-2" style="text-align: center;">
                        <span class="fw-700">Gross Revenue: ₱ {{ gross_revenue|floatformat:2|intcomma }}</span>
                    </div>
                    <div class="col-12 col-xl-auto d-flex align-items-center">
                        {% if request.user|has_permission:'billing_management.change_billing' %}
                        <div class="input-group input-group-joined border-0 ml-3" style="width: 16.5rem">
                            <span class="input-group-text" style="background: #232323; color: white;">
                                <i class="text-light" data-feather="calendar"></i>
                            </span>
                            <input class="form-control ps-0 pointer input-litepicker" id="litepickerRangePlugin" placeholder="Select date range..." style="background: #232323;color: white;" />
                            
                        </div>
                        {% else %}
                        <span class="fw-700">Today ({% now "F j, Y" %})</span>
                        {% endif %}
                        
                    </div>
                </div>                  
                <div class="tab-content" id="cardTabContent">
                    <!-- Wizard tab pane item 1-->
                    <div class="tab-pane py-xl-2 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                        <div class="row justify-content-center">
                            <table id="datatablesSimple" style="display: none;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Client</th>
                                        <th>Bill Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bill in bills %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-between">  <!-- Add justify-content-between -->
                                                <span class="billing-number">
                                                    {{ bill.get_billing_number }}
                                                </span>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'view-bill-page' bill.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="View Bill">
                                                    <i data-feather="external-link"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-between">  <!-- Add justify-content-between -->
                                                <div>  <!-- Wrap the name and (You) text in a div -->
                                                    {{ bill.client.full_name }}
                                                    {% if request.user.is_authenticated and bill.client.user.id == request.user.id %}
                                                    (You)
                                                    {% endif %}
                                                </div>
                                                {% if bill.client.user.is_active %}
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' bill.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client">
                                                    <i data-feather="external-link"></i>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                        
                                        <td>₱{{ bill.get_total|floatformat:2|intcomma }}</td>
                                        <td>{{ bill.date_created|date:"F j, Y, g:i A" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <!-- Wizard tab pane item 2-->
                    <div class="tab-pane py-5 py-xl-2 fade" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                        <div class="row justify-content-center">
                            <div class="card card-collapsable mb-3">
                                <div class="card-header bg-transparent" href="#collapseSales" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseSales">
                                    Sales (Subtotal: ₱ {{ products_sub_total|intcomma }})
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="collapse show" id="collapseSales">
                                    <div class="card-body">
                                        <table id="datatablesSimple-sales" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>Under Bill #</th>
                                                    <th>Date Sold</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bill in bills %}
                                                {% for billing_product in bill.billing_products.all %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center justify-content-between">  
                                                            <span class="billing-number">
                                                                {{ bill.get_billing_number }}
                                                            </span>
                                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'view-bill-page' bill.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="View Bill">
                                                                <i data-feather="external-link"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>{{ bill.date_created|date:"F j, Y, g:i A" }}</td>
                                                    <td>{{ billing_product.product.product_name }}</td>
                                                    <td>{{ billing_product.quantity|floatformat:0|intcomma }}</td>
                                                    <td class="calc" data-price="{{ billing_product.product.price }}" data-quantity="{{ billing_product.quantity }}">
                                                        {{ billing_product.price_at_time_of_purchase|floatformat:2|intcomma }} x {{ billing_product.quantity|floatformat:0|intcomma }} = 
                                                        ₱<span class="total-price">0.00</span>
                                                    </td>                                            
                                                </tr>
                                                {% endfor %}
                                                {% endfor %}
                                            </tbody>                                            
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="card card-collapsable">
                                <div class="card-header bg-transparent" href="#collapseServices" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseServices">
                                    Services (Subtotal: ₱ {{ services_sub_total|intcomma }})
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="collapse show" id="collapseServices">
                                    <div class="card-body">
                                        <table id="datatablesSimple-services" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th>Under Bill #</th>
                                                    <th>Date Sold</th>
                                                    <th>Service</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bill in bills %}
                                                {% for billing_service in bill.billing_services.all %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center justify-content-between"> 
                                                            <span class="billing-number">
                                                                {{ bill.get_billing_number }}
                                                            </span>
                                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'view-bill-page' bill.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="View Bill">
                                                                <i data-feather="external-link"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>{{ bill.date_created|date:"F j, Y, g:i A" }}</td>
                                                    <td>{{ billing_service.service.service_type }}</td>
                                                    <td>₱{{ billing_service.price_at_time_of_purchase|intcomma }}</td>                                           
                                                </tr>
                                                {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark mt-4 btn-sm" onclick="printSales()"><span><i data-feather="printer"></i> Print Sales</span></button>
            </div>
        </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Oh no!</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/bundle.js' %}" crossorigin="anonymous"></script>
{% if request.user|has_permission:'billing_management.change_billing' %}
<script>
    window.addEventListener('DOMContentLoaded', event => {
        const urlParams = new URLSearchParams(window.location.search);
        const startDateString = urlParams.get('startDate');
        const endDateString = urlParams.get('endDate');
    
        const litepickerSingleDate = document.getElementById('litepickerSingleDate');
        if (litepickerSingleDate) {
            new Litepicker({
                element: litepickerSingleDate,
                format: 'MMM DD, YYYY'
            });
        }
    
        const litepickerDateRange = document.getElementById('litepickerDateRange');
        if (litepickerDateRange) {
            new Litepicker({
                element: litepickerDateRange,
                singleMode: false,
                format: 'MMM DD, YYYY'
            });
        }
    
        const litepickerDateRange2Months = document.getElementById('litepickerDateRange2Months');
        if (litepickerDateRange2Months) {
            new Litepicker({
                element: litepickerDateRange2Months,
                singleMode: false,
                numberOfMonths: 2,
                numberOfColumns: 2,
                format: 'MMM DD, YYYY'
            });
        }
    
        let currentYear = new Date().getFullYear();
        let today = new Date();
        let yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1);
        
        let weekStart = new Date();
        if (weekStart.getDay() === 0) {
            weekStart.setDate(weekStart.getDate() - 6);
        } else {
            weekStart.setDate(weekStart.getDate() - weekStart.getDay() + 1);
        }
    
        let weekEnd = new Date(weekStart);
        weekEnd.setDate(weekStart.getDate() + 6);
        
        const litepickerRangePlugin = document.getElementById('litepickerRangePlugin');
        if (litepickerRangePlugin) {
            let picker = new Litepicker({
                element: litepickerRangePlugin,
                startDate: new Date(),
                endDate: new Date(),
                singleMode: false,
                numberOfMonths: 2,
                numberOfColumns: 2,
                format: 'MMM DD, YYYY',
                plugins: ['mobilefriendly', 'ranges'],
                ranges: {
                    customRanges: {
                        'Today': [today, today],
                        'This Week': [weekStart, weekEnd],
                        'This Month': [new Date(currentYear, today.getMonth(), 1), new Date(currentYear, today.getMonth() + 1, 0)],
                        'This Year': [new Date(currentYear, 0, 1), new Date(currentYear, 11, 31)],
                        'Lifetime': [new Date(2010, 0, 1), new Date(currentYear, 11, 31)],
                    }
                },
                setup: (picker) => {
                    picker.on('selected', (date1, date2) => {
                        const newStartDate = date1.format('YYYY-MM-DD');
                        const newEndDate = date2.format('YYYY-MM-DD');
    
                        // Only update URL and reload page if the dates have changed
                        if (newStartDate !== startDateString || newEndDate !== endDateString) {
                            const url = new URL(window.location.href);
                            url.searchParams.set('startDate', newStartDate);
                            url.searchParams.set('endDate', newEndDate);
                            window.location.href = url;
                        }
                    });
                }
            });
            
            if (startDateString && endDateString) {
                let startDate = new Date(startDateString);
                let endDate = new Date(endDateString);
                picker.setDateRange(startDate, endDate);
            }
            
        }
    });
</script>
{% endif %}

<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script>
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    window.onload = function() {
        var calcs = document.getElementsByClassName('calc');
        for(var i=0; i<calcs.length; i++) {
            var price = parseFloat(calcs[i].dataset.price);
            var quantity = parseFloat(calcs[i].dataset.quantity);
            var totalPrice = price * quantity;
    
            calcs[i].getElementsByClassName('total-price')[0].textContent = numberWithCommas(totalPrice.toFixed(2));
        }
    };

    function showError(message)
    {
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }

    function getFormattedDate(date)
    {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }

    function printSales()
    {
        var billProductDataRaw = {{ billing_products_data|safe }};
        var billSericeDataRaw = {{ billing_services_data|safe }};
        
        if(billProductDataRaw.length <= 0 && billSericeDataRaw.length <= 0) {
            showError('There are no sales to print.');
            return;
        }

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "SALES REPORT";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000; margin-bottom:20px;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <div><span style='font-size:12pt;font-weight:bold;'>Range:</span> {{ range }}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Gross Revenue:</span> ₱ ${'{{ gross_revenue|floatformat:2|intcomma }}'} </div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</div>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;

        var servicesContent = billSericeDataRaw.map(c => 
        `
        <tr>
            <td>${c.id}</td>
            <td>${c.sold_under}</td>
            <td>${c.date_created}</td>
            <td>${c.service}</td>
            <td>₱${numberWithCommas(c.price)}</td>
            <td>${numberWithCommas(c.quantity)}</td>
            <td>₱${numberWithCommas(c.total_due)}</td>
        </tr>
        `).join('');

        var productsContent = billProductDataRaw.map(c => 
        `
        <tr>
            <td>${c.id}</td>
            <td>${c.sold_under}</td>
            <td>${c.date_created}</td>
            <td>${c.product}</td>
            <td>₱${numberWithCommas(c.price)}</td>
            <td>${numberWithCommas(c.quantity)}</td>
            <td>₱${numberWithCommas(c.total_due)}</td>
        </tr>
        `).join('');

        var completeHTML = `
            ${header}
            <div style="width: 100%; text-align:center;">
                <span style="font-weight:600;">- SERVICES -</span>
            </div>
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Under Bill No.</th>
                        <th class="table-header">Client</th>
                        <th class="table-header">Date Purchased</th>
                        <th class="table-header">Service</th>
                        <th class="table-header">Price</th>
                        <th class="table-header">Quantity</th>
                        <th class="table-header">Total Due</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${servicesContent}
                </tbody>
            </table>
            <div style="width: 100%; text-align:right;margin-bottom:25px;">
                <span style="font-weight:600;">Services Subtotal: ₱{{ services_sub_total|intcomma }}</span>
            </div>
            <div style="width: 100%; text-align:center;">
                <span style="font-weight:600;">- PRODUCTS -</span>
            </div>
            <table>
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Under Bill No.</th>
                        <th class="table-header">Client</th>
                        <th class="table-header">Date Purchased</th>
                        <th class="table-header">Product</th>
                        <th class="table-header">Price</th>
                        <th class="table-header">Quantity</th>
                        <th class="table-header">Total Due</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${productsContent}
                </tbody>
            </table>
            <div style="width: 100%; text-align:right;">
                <span style="font-weight:600;">Products Subtotal: ₱{{ products_sub_total|intcomma }}</span>
            </div>
            <br>
            <div style="width: 100%; text-align:right;">
                <span style="font-weight:600;text-decoration: underline;">Grand Total: ₱{{ gross_revenue|intcomma }}</span>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between; margin-top:50px;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span style="font-size:9pt;font-weight:600;">Prepared by</span>
                    <span style='font-size:12pt;font-weight:600;'>{{ request.user.client.full_name }}</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style='font-size:9pt;font-weight:600;'>____________________________</span>
                    <span style='font-size:9pt;font-weight:600;'>Date Signed</span>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span style="font-size:9pt;font-weight:600;">Approved by</span>
                    <span style='font-size:12pt;font-weight:600;'>Yvette Mae Barraca, DVM</span>
                    <span style='font-size:9pt;font-weight:600;'>LC. NO: 00000</span>
                    <span style="font-size:9pt;font-weight:600;">‎</span>
                    <span style='font-size:9pt;font-weight:600;'>____________________________</span>
                    <span style='font-size:9pt;font-weight:600;'>Date Signed</span>
                </div>
            </div>
        `;

        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "11pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            repeatTableHeader: true,
            scanStyles: true,
            gridStyle: css_gridStyle,
            modalMessage: 'Generating sales report, this might take a while...',
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
                margin: 45px 70px 45px 70px; 
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 12px 12px;
                text-align: center; 
                border-bottom: 1px solid black;
            }
            
            .first-thead th, .first-tbody td{
                font-size: 10pt;
            }
            
            tfoot td {
                border: none; 
                padding: 2px 2px;
                padding-top: 12px;
            }
        `,
        });
    }
    </script>
{% endblock %}
