{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Bill {{ bill.get_billing_number }} | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .table-responsive, .datatable-wrapper .datatable-container 
    {
        margin-top: -60px;
    }

    .invoice .table tbody tr td, .invoice .datatable-table tbody tr td 
    {
        padding-top: 0;
    }

    @media screen and (max-width: 600px) 
    {
        .table-responsive, .datatable-wrapper .datatable-container 
        {
            margin-top: -30px;
        }
    }


</style>
{% endblock %}

{% block content %}
<nav class="mt-5 rounded animated--fade-in" aria-label="breadcrumb">
    <ol class="breadcrumb px-3 py-2 rounded mb-0">
        <li class="breadcrumb-item"><a href="{% url 'sales-page' %}">Sales</a></li>
        <li class="breadcrumb-item active">Bill No. {{ bill.get_billing_number}}</li>
    </ol>
</nav>
<div id="bill" class="card invoice mt-2 mb-5 animated--fade-in">
    <div class="card-header p-4 p-md-5 border-bottom-0 bg-dark text-white-50">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                <!-- Invoice branding-->
                <img class="invoice-brand-img rounded-circle mb-2" src="{% static 'images/billing.png' %}" alt=""/>
                <div class="h2 text-white mb-0">
                    Barraca
                </div>
                Veterinary Clinic
            </div>
            <div class="col-12 col-lg-auto text-center text-lg-end">
                <!-- Invoice details-->
                <div class="h3 text-white">Billing Statement</div>
                Bill No. <span id="billNumber" class="billing-number">{{ bill.get_billing_number }}</span>
                <br />
                <span id="billDate">{{ bill.date_created|date:"F j, Y - g:i A" }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="row" style="padding: 0.75rem 0.75rem;">
            <div class="col-md-6 col-lg-3 mb-lg-0">
                <!-- Invoice - sent to info-->
                <div class="small text-muted text-uppercase fw-700 mb-2">
                    Client
                </div>
                <span id="clientName">{{ bill.client.full_name }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="table-responsive">
            <table class="table table-borderless mb-0">
                <thead class="">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">
                            Services 
                        </th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody class="tbody-services">
                    {% if bill.services.all %}
                    {% for service in bill.billing_services.all %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                {{ service.service.service_type }}
                            </div>
                            <div class="small text-muted d-none d-md-block">{{ service.service.service_description }}</div>
                        </td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold service-price">
                            ₱ {{ service.price_at_time_of_purchase|intcomma }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                None
                            </div>
                        </td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold service-price">
                            ₱ 0
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <hr>
            <table class="table table-borderless mb-0 mt-4">
                <thead class="">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">
                            Products
                        </th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                    </tr>
                </thead>
                <tbody class="tbody-products">
                    {% if bill.billing_products.all %}
                    {% for product in bill.billing_products.all %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                {{ product.product.product_name }} (₱ <span class="product-price">{{ product.price_at_time_of_purchase|intcomma }}</span> x <span class="product-quantity">{{ product.quantity|floatformat:2 }})</span>
                            </div>
                            <div class="small text-muted d-none d-md-block" id="productType">{{ product.product.type }}</div>
                        </td> 
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold product-price-multiplied">
                            <!-- here -->
                        </td> 
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                None
                            </div>
                        </td> 
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold product-price-multiplied">
                            ₱ 0
                        </td> 
                    </tr>
                    {% endif %}

                    <tr class="border-top" id="total-row">
                        <td class="text-end pb-0" colspan="3"><!-- empty for spacing --></td>
                        <td class="text-end pb-0 h5 mb-0 fw-700" style="padding-top: 20px;">Total Amount: <span class="total-amount">₱ {{ bill.get_total }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-dark btn-sm lift lift-sm" style="margin-left:10px;" onclick="printBill()">Print</button>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/billing/view_bill.js' %}"></script>
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script>
    function getServicesData() {
        var tbody = document.querySelector(".tbody-services");
        var rows = tbody.querySelectorAll("tr");
        var data = [];

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var rowData = {
                'Service': cells[0].innerText.trim(),
                'Amount': cells[3].innerText.trim()
            };
            data.push(rowData);
        }

        data.push({
            'Service': '',
            'Amount': ''
        });

        return data;
    }

    function getProductsData() 
    {
        var tbody = document.querySelector(".tbody-products");
        var rows = tbody.querySelectorAll("tr:not(#total-row)");
        var data = [];

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].querySelectorAll("td");
            var rowData = {
                'Product': cells[0].innerText.trim(),
                'Total Price': cells[3].innerText.trim()
            };
            data.push(rowData);
        }
        data.push({
            'Product': '',
            'Total Price': ''
        });

        return data;
    }

    function getTotalAmount() 
    {
        var totalRow = document.querySelector("#total-row");
        var totalCell = totalRow.querySelector(".total-amount");
        return totalCell.innerText;
    }

    function getFormattedDate(date)
    {
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }

    function printBill() 
    {
        var servicesData = getServicesData();
        var productsData = getProductsData();
        var totalAmount = getTotalAmount();

        var clientName = document.getElementById("clientName").innerText;
        var billNo = document.getElementById("billNumber").innerText;
        var billDate = document.getElementById("billDate").innerText;

        var billData = servicesData.map((service, index) => ({
            type: index === 0 ? 'Service' : '‎ ',
            name: service.Service,
            amount: service.Amount
        })).concat(productsData.map((product, index) => ({
            type: index === 0 ? 'Product' : '‎ ',
            name: product.Product,
            amount: product['Total Price']
        })));

        billData.push({type: 'Total', name: '', amount: totalAmount});

        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 1px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 1px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: bold; margin-bottom: 20px; font-family: Roboto;`;
        var headerName = "Sales Report";
        var imgSrc = "{% static 'images/barraca.png' %}";
        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 2px solid #000;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <span style='font-size:12pt; font-family: Roboto;'>Client: ${clientName}</span>
                    <span style='font-size:12pt; font-family: Roboto;'>Bill No.: ${billNo}</span>
                    <span style='font-size:12pt; font-family: Roboto;'>Bill Date: ${billDate}</span>
                    <span style='font-size:12pt; font-family: Roboto;'>Report Generated: ${formattedDate}</span>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;

        printJS({
            printable: billData,
            properties: ['type', 'name', 'amount'],
            type: 'json',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            gridStyle: css_gridStyle,
            style: "@page { size: auto;  margin: 5mm; }",
        });
    }
</script>

{% endblock %}
