{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Bill {{ bill.get_billing_number }} | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    .table-responsive, .datatable-wrapper .datatable-container 
    {
        margin-top: -60px;
    }

    .invoice .table tbody tr td, .invoice .datatable-table tbody tr td 
    {
        padding-top: 0;
    }

    @media screen and (max-width: 600px) 
    {
        .table-responsive, .datatable-wrapper .datatable-container 
        {
            margin-top: -30px;
        }
    }


</style>
{% endblock %}

{% block content %}
<nav class="mt-5 rounded animated--fade-in" aria-label="breadcrumb">
    <ol class="breadcrumb px-3 py-2 rounded mb-0">
        <li class="breadcrumb-item"><a href="{% url 'sales-page' %}">Sales</a></li>
        <li class="breadcrumb-item active">Bill No. {{ bill.get_billing_number}}</li>
    </ol>
</nav>
<div id="bill" class="card invoice mt-2 mb-5 animated--fade-in">
    <div class="card-header p-4 p-md-5 border-bottom-0 bg-dark text-white-50">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                <!-- Invoice branding-->
                <img class="invoice-brand-img rounded-circle mb-2" src="{% static 'images/billing.png' %}" alt=""/>
                <div class="h2 text-white mb-0">
                    Barraca
                </div>
                Veterinary Clinic
            </div>
            <div class="col-12 col-lg-auto text-center text-lg-end">
                <!-- Invoice details-->
                <div class="h3 text-white">Billing Statement</div>
                Bill No. <span id="billNumber" class="billing-number">{{ bill.get_billing_number }}</span>
                <br />
                <span id="billDate">{{ bill.date_created|date:"F j, Y - g:i A" }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="row" style="padding: 0.75rem 0.75rem;">
            <div class="col-md-6 col-lg-3 mb-lg-0">
                <!-- Invoice - sent to info-->
                <div class="small text-muted text-uppercase fw-700 mb-2">
                    Client
                </div>
                <span id="clientName">{{ bill.client.full_name }}</span>
            </div>
        </div>
    </div>

    <div class="card-body p-4 p-md-5">
        <div class="table-responsive">
            <table class="table table-borderless mb-0">
                <thead class="">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">
                            Services 
                        </th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody class="tbody-services">
                    {% if bill.services.all %}
                    {% for service in bill.billing_services.all %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                {{ service.service.service_type }}
                            </div>
                            <div class="small text-muted d-none d-md-block">{{ service.service.service_description }}</div>
                        </td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold service-price">
                            ₱ {{ service.price_at_time_of_purchase|intcomma }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                None
                            </div>
                        </td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold service-price">
                            ₱ 0
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <hr>
            <table class="table table-borderless mb-0 mt-4">
                <thead class="">
                    <tr class="small text-uppercase text-muted">
                        <th scope="col">
                            Products
                        </th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                        <th class="text-end" scope="col"><!-- empty for spacing --></th>
                    </tr>
                </thead>
                <tbody class="tbody-products">
                    {% if bill.billing_products.all %}
                    {% for product in bill.billing_products.all %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                {{ product.product.product_name }} (₱ <span class="product-price">{{ product.price_at_time_of_purchase|intcomma }}</span> x <span class="product-quantity">{{ product.quantity|floatformat:0 }})</span>
                            </div>
                            <div class="small text-muted d-none d-md-block" id="productType">{{ product.product.type }}</div>
                        </td> 
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold product-price-multiplied">
                            <!-- here -->
                        </td> 
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            <div class="fw-bold">
                                None
                            </div>
                        </td> 
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold"><!-- empty for spacing --></td>
                        <td class="text-end fw-bold product-price-multiplied">
                            ₱ 0
                        </td> 
                    </tr>
                    {% endif %}

                    <tr class="border-top" id="total-row">
                        <td class="text-end pb-0" colspan="3"><!-- empty for spacing --></td>
                        <td class="text-end pb-0 h5 mb-0 fw-700" style="padding-top: 20px;">Total Amount: <span class="total-amount">₱ {{ bill.get_total }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-dark btn-sm lift lift-sm" style="margin-left:10px;" onclick="printBill()">Print</button>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/billing/view_bill.js' %}"></script>
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script>

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function getFormattedDate(date)
    {
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];

        var day = date.getDate();
        day = day < 10 ? '0' + day : day;

        var monthIndex = date.getMonth();
        var year = date.getFullYear();

        var hours = date.getHours();
        var minutes = date.getMinutes();
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;

        var strTime = hours + ':' + minutes + ' ' + ampm;
        return formattedDate = months[monthIndex] + ' ' + day + ', ' + year + ' - ' + strTime;
    }

    function printBill() 
    {
        var billDataRaw = {{ bill_data|safe }};
        var billData = billDataRaw.map(entry => {
            return {
                ...entry,
                quantity: parseFloat(entry.qty),
                amount: parseFloat(entry.amount).toFixed(2),
                amount_total: parseFloat(entry.amount_total).toFixed(2)
            };
        });

        var clientName = document.getElementById("clientName").innerText;
        var billNo = document.getElementById("billNumber").innerText;
        var billDate = document.getElementById("billDate").innerText;
        
        var totalAmount = billData.reduce((acc, curr) => acc + parseFloat(curr.amount_total || 0), 0);

        var signatureData = [];
        
        signatureData.push({
            total: '‎', 
            signature: `<div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;"><span style="font-weight:bold;text-align:right;">Total Amount: ₱ ${numberWithCommas(totalAmount.toFixed(2))}</span></div>`,
        });

        for (var i = 0; i < 7; i++) {
            signatureData.push({
                signature: '‎',
                total: '‎',
            });
        }

        signatureData.push({
            total: '‎',
            signature: `<div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;"><span style='font-size:9pt;font-weight:600;'>Prepared by</span><br><span style='font-size:12pt;font-weight:600;'>${'{{ request.user.client.full_name}}'}</span></div>`,
        });
                

        signatureData.push({
            signature: '‎',
            total: '‎',
        });

        signatureData.push({
            total: '‎', 
            signature: `<div style="line-height:1.5;float:right; width:200px; text-align:center; margin-right:50px;"><span style='font-size:12pt;font-weight:600;'>____________________</span><br><span style='font-size:10pt;font-weight:600;'>Date Signed</span></div>`,
        });
                
        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 0px; border: 0px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center; padding: 0px;border: 0px solid #232323; ${font};`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: 600; margin-bottom: 20px; ${font}`;
        var headerName = "BILLING STATEMENT";
        var imgSrc = "{% static 'images/barraca.png' %}";

        var date = new Date();
        var formattedDate = getFormattedDate(date);

        var header = `
            <div style='display: flex; align-items: center; justify-content: space-between; padding: 10px 0; border-bottom: 0px solid #000;'>
                <div style='width: 70%; display: flex; flex-direction: column; align-items: flex-start;'>
                    <h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1>
                    <div><span style='font-size:12pt;font-weight:bold;'>Client:</span> ${clientName}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Bill No.:</span> ${billNo}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Bill Date:</span> ${billDate}</div>
                    <div><span style='font-size:12pt;font-weight:bold;'>Report Generated:</span> ${formattedDate}</div>
                </div>
                <img src='${imgSrc}' style='width: 30%;' />
            </div>
        `;
       
        var tableContent = billData.map(entry =>
        `
        <tr>
            <td>${entry.type}</td>
            <td>${entry.particulars}</td>
            <td>${numberWithCommas(entry.quantity) || 'N/A'}</td>
            <td>₱ ${numberWithCommas(entry.amount) || 'N/A'}</td>
            <td>₱ ${numberWithCommas(entry.amount_total)} ↓</td>
        </tr>
        `).join('');

        var footerContent = signatureData.map(row => `
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>${row.signature}</td>
            </tr>
        `).join('');

        var completeHTML = `
            ${header}
            <table class="first-table">
                <thead class="first-thead">
                    <tr>
                        <th class="table-header">Type</th>
                        <th class="table-header">Particulars</th>
                        <th class="table-header">Quantity</th>
                        <th class="table-header">Price</th>
                        <th class="table-header">Total Price</th>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    ${tableContent}
                </tbody>
            </table>
            <table>
                
                <tbody class="second-tbody">
                    ${footerContent}
                </tobdy>
            </table>
        `;

        printJS({
            printable: completeHTML,
            type: 'raw-html',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            repeatTableHeader: true,
            gridStyle: css_gridStyle,
            modalMessage: 'Generating billing statement, this might take a while...',
            afterPrint: function() {
                var totalRow = document.getElementById('total-row');
                if (totalRow) {
                    totalRow.style.border = 'none';
                }
            },
            style: `
            @page { 
                size: auto;  
                margin: 5mm; 
            }
            body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                color: #232323;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            .first-thead th, .first-tbody td {
                padding: 8px 12px;
                text-align: center; 
                border-top: 0px solid black;
                border-bottom: 1px solid black;
            }
            .first-thead th, .first-tbody td {
                padding-bottom: 12px !important;
                padding-top: 12px !important;
                font-size: 11pt;
            }

            .second-tbody td {
                border: 0px; 
                padding: 2px 2px;
                padding-top: 0px !important;
            }         
        `,
        
        
        });
    }
</script>

{% endblock %}
