{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} Calendar | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/calendar/fullcalendar-custom.css' %}">
<script src="{% static 'plugins/fullcalendar/js/index.global.js' %}"></script>
<!-- <script src="{% static 'js/calendar/fullcalendar-settings.js' %}"></script> -->
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script> -->
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
<style>
    .fc .fc-daygrid-event-harness {
        position: relative;
        background: #232323;
        border: none;
        border-radius: 8px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 1px !important;
        margin-bottom: 1px;
        text-align: left;
    }
    .fc .fc-daygrid-event-harness a.fc-event {
        border-radius: 8px;
        outline: none;
        background: none;
    }
   
    .fc-event-title
    {
        font-weight: 500 !important;
    }
    .fc-daygrid-event-harness {
        user-select: none !important;
    }
    .fc-daygrid-event-dot[style*="border-color: green"] + .fc-event-time,
    .fc-daygrid-event-dot[style*="border-color: green"] ~ .fc-event-title {
        color: green;
    }
    .fc-daygrid-event-dot[style*="border-color: rgb(55, 136, 216)"] + .fc-event-time,
    .fc-daygrid-event-dot[style*="border-color: rgb(55, 136, 216)"] ~ .fc-event-title {
        color: rgb(55, 136, 216);
    }

    .fc-daygrid-event-dot[style*="border-color: rgb(55, 136, 216)"] + .fc-daygrid-event-harness {
        background: rgb(55, 136, 216);
    }

    .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
        margin-bottom: 1.5em;
    }
</style>
{% endblock %}

{% block content %}
<div class="calendar-container mt-4">
    <div class="card mb-5 card-collapsable card-waves animated--fade-in-up">
        <a class="card-header" href="#collapseCardExample" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            Calendar
            {% comment %} <div>            
                <br>
                <small class="text-muted fw-100">Slots available today: {{ slotsAvailableToday }}</small>
            </div> {% endcomment %}

            <div>
                <div class="card-collapsable-arrow">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>

        </a>
        <div class="collapse show" id="collapseCardExample">
          <div class="card-body animated--fade-in-up flex-container">
            <div class="parent-container">
                
                <div id='external-events' {% if not rebook_appointments %} style="display: none;"{% endif %}>
                    <div class="height-wrapper">
                        <h4>Rebook List</h4>
                        <div id='external-events-list'>
                            {% if rebook_appointments %}
                            {% for appointment in rebook_appointments %}
                                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event custom-rebook-color' id='{{ appointment.id }}' data-client-id="{{ appointment.client.id }}" data-client-name="{{ appointment.client.full_name }}" data-pet-id="{{ appointment.pet.id }}" data-pet-rname="{{ appointment.pet.name }}" data-purpose-id="{{ appointment.purpose.id }}" data-purpose-val="{{ appointment.purpose.service_type }}" data-time-of-day="{{ appointment.timeOfTheDay }}" onclick="showAppointmentDetails('{{ appointment.id }}')">
                                    <div class='fc-event-main'>#{{ appointment.id }} - {{ appointment.pet.name }}</div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <p>
                            <span>View your appointment and click rebook to add here. <br><br>Note that dropping only works for <b>Month</b> calendar view.</span>
                        </p>
                    </div>
                </div>
                
                <div id='calendar-wrap'>
                    <div id='calendar'></div>
                </div>
            </div>
          </div>
            <div class="card-footer small text-muted">
                <div class="container">
                    <div class="row desktop-only">
                        <div class="col text-start">
                            Legend:&nbsp;
                            <span class="badge" style="background: #3788d8;">Morning</span> 
                            <span class="badge" style="background: green;">Afternoon</span> 
                            <span class="badge" style="background: darkorange;">Pending Rebook</span>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-xs btn-transparent-dark" type="button" data-bs-toggle="modal" data-bs-target="#guideModal">Guide</button>
                        </div>
                    </div>
                
                    <div class="row mobile-only">
                        Please visit the desktop version of this page for better experience.
                    </div>
                </div>                
            </div>
        </div>
      </div>
</div>

{% include 'client/calendar_modal.html' %}

<input id="hiddenClientPhone" value="" hidden>
<input id="hiddenAppointmentID" value="" hidden>
<input id="viewAppointmentFromOtherModuleData" 
        data-appointment-pet="{{ appointment.pet }}"
        data-appointment-id="{{ appointment.id }}" 
        data-appointment-timeOfDay="{{ appointment.timeOfTheDay }}"
        data-appointment-purpose="{{ appointment.purpose }}"
        data-appointment-date="{{ appointment.date.isoformat }}"
        data-appointment-dateNONISO="{{ appointment.date }}"
        data-appointment-status="{{ appointment.status }}"
        hidden>

<div id="sms-data" data-url="{% url 'send_sms_to_client' %}"></div>

{% endblock %}

{% block extrascripts %}
{% include 'client/calendar_script.html' %}
{% endblock %}
