<script>
function showError(message) {
    $('#errorModal .modal-body').text(message);
    $('#errorModal').modal('show');
}

function showSuccess(message) {
    $('#successModal .modal-body').text(message);
    $('#successModal').modal('show');
}

function formatDates(date) {
    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const day = String(date.getDate()).padStart(2, '0');
    const monthIndex = date.getMonth();
    const year = date.getFullYear();

    return monthNames[monthIndex] + ' ' + day + ', ' + year;
}

function formatStringDate(dateString) {
    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    const parts = dateString.split('-');
    const year = parts[0];
    const month = parts[1] - 1;
    const day = parts[2];

    const date = new Date(year, month, day);

    return monthNames[date.getMonth()] + ' ' + String(date.getDate()).padStart(2, '0') + ', ' + year;
}

function getEventCounts(events) {
    const eventCounts = {};

    events.forEach(event => {
        const date = FullCalendar.formatDate(event.start, {
            timeZone: 'local',
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
        });
        eventCounts[date] = (eventCounts[date] || 0) + 1;
    });

    return eventCounts;
}

function toLocalDate(date) {
    var localOffset = date.getTimezoneOffset() * 60000;
    var localTime = date.getTime();
    var utcTime = localTime - localOffset;
    var targetDate = new Date(utcTime);
    var dd = String(targetDate.getDate()).padStart(2, '0');
    var mm = String(targetDate.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = targetDate.getFullYear();
    return yyyy + '-' + mm + '-' + dd;
}

function getInitialView() {
    return window.innerWidth <= 576 ? 'listMonth' : 'dayGridMonth';
}

function showRebookList() {
    var rebookList = document.getElementById('external-events-list');

    if (rebookList.children.length === 0) {
        document.getElementById('external-events').style.display = 'block';
    }
}

function hideRebookList() {
    var rebookList = document.getElementById('external-events-list');
    if (rebookList.children.length === 0) {
        document.getElementById('external-events').style.display = 'none';
    }
}

function showAppointmentDetails(appointmentId) {
    document.getElementById('deleteRebookList').style.display = 'block';
    let appointment = document.getElementById(appointmentId);
    //console.log(appointment);
    let pet = appointment.getAttribute('data-pet-rname');
    let purpose = appointment.getAttribute('data-purpose-val');
    let timeOfDay = appointment.getAttribute('data-time-of-day')

    timeOfDay = timeOfDay.charAt(0).toUpperCase() + timeOfDay.slice(1);

    const details = [
        `<strong>Pet:</strong> ${pet}`,
        `<strong>Time of the Day:</strong> ${timeOfDay}`,
        `<strong>Purpose:</strong> ${purpose}`
    ].join('<br>');

    document.getElementById('rebookListAppointmentLabel').innerText = "#" + appointmentId + " from Rebook List";
    document.getElementById('rebookListAppointmentBody').innerHTML = details;

    document.getElementById('deleteRebookList').onclick = function() {
        $('#rebookListAppointmentModal').modal('hide');
        $('#deleteAppointmentModal').modal('show');
    };

    document.getElementById('yesDeleteAppointmentButton').onclick = function() {
        
        var reason = document.getElementById('cancel-appointment-reason').value;
        if(reason == ""){
            $('#deleteAppointmentModal').modal('hide');
            showError("Please enter a reason for cancellation.");
    
            $('#OKErrorModalButton').on('click', function() {
                $('#errorModal').modal('hide');
                $('#deleteAppointmentModal').modal('show');
            });
            return;
        }

        $.ajax({
            type: 'POST',
            url: '{% url "cancel_appointment" %}',
            data: {
                'appointment_id': appointmentId,
                'reason': $('#cancel-appointment-reason').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'Appointment cancelled successfully') {
                    appointment.remove();
                    $('#deleteAppointmentModal').modal('hide');
                    hideRebookList();
                    // location.reload();
                }
            },
            error: function(error) {
                $('#deleteAppointmentModal').modal('hide');
                showError(error.responseJSON.message);
            }
        });
    };

    var cancelDeleteAppointmentButton = document.getElementsByClassName('cancelDeleteAppointmentButton');
    for (var i = 0; i < cancelDeleteAppointmentButton.length; i++) {
        cancelDeleteAppointmentButton[i].onclick = function() {
            $('#deleteAppointmentModal').modal('hide');
            $('#rebookListAppointmentModal').modal('show');
        };
    }


    $('#rebookListAppointmentModal').modal('show');
}

function _showAppointmentDetails(event) {
    document.getElementById('deleteRebookList').style.display = 'block';
    let appointment = document.getElementById(event.id);
    //console.log(appointment)
    let client = event.extendedProps.client;
    let pet = event.extendedProps.pet;
    let purpose = event.extendedProps.purpose;
    let timeOfDay = event.extendedProps.timeOfTheDay;

    timeOfDay = timeOfDay.charAt(0).toUpperCase() + timeOfDay.slice(1);

    const details = [
        `<strong>Client:</strong> ${client}`,
        `<strong>Pet:</strong> ${pet}`,
        `<strong>Time of the Day:</strong> ${timeOfDay}`,
        `<strong>Purpose:</strong> ${purpose}`
    ].join('<br>');

    document.getElementById('rebookListAppointmentLabel').innerText = "#" + event.id + " from Rebook List";
    document.getElementById('rebookListAppointmentBody').innerHTML = details;

    document.getElementById('deleteRebookList').onclick = function() {
        $('#rebookListAppointmentModal').modal('hide');
        $('#deleteAppointmentModal').modal('show');
    };

    document.getElementById('yesDeleteAppointmentButton').onclick = function() {
        var reason = document.getElementById('cancel-appointment-reason').value;
        if(reason == ""){
            $('#deleteAppointmentModal').modal('hide');
            showError("Please enter a reason for cancellation.");
    
            $('#OKErrorModalButton').on('click', function() {
                $('#errorModal').modal('hide');
                $('#deleteAppointmentModal').modal('show');
            });
            return;
        }

        $.ajax({
            type: 'POST',
            url: '{% url "cancel_appointment" %}',
            data: {
                'appointment_id': event.id,
                'reason': $('#cancel-appointment-reason').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'Appointment cancelled successfully') {
                    appointment.remove();
                    $('#deleteAppointmentModal').modal('hide');
                    showSuccess(response.status + ".");
                    hideRebookList();
                    // location.reload();
                }
            },
            error: function(error) {
                $('#deleteAppointmentModal').modal('hide');
                showError(error.responseJSON.message);
            }
        });
    };

    var cancelDeleteAppointmentButton = document.getElementsByClassName('cancelDeleteAppointmentButton');
    for (var i = 0; i < cancelDeleteAppointmentButton.length; i++) {
        cancelDeleteAppointmentButton[i].onclick = function() {
            $('#deleteAppointmentModal').modal('hide');
            $('#rebookListAppointmentModal').modal('show');
        };
    }


    $('#rebookListAppointmentModal').modal('show');
}

function showAppointmentDetailsFromOtherModule() {
    let appointmentElement = document.getElementById('viewAppointmentFromOtherModuleData');

    let appointmentId = appointmentElement.getAttribute('data-appointment-id');
    let appointment = document.getElementById(appointmentId);

    if (appointmentId) {
        let pet = appointmentElement.getAttribute('data-appointment-pet');
        let timeOfDay = appointmentElement.getAttribute('data-appointment-timeOfDay');
        let purpose = appointmentElement.getAttribute('data-appointment-purpose');
        let date = appointmentElement.getAttribute('data-appointment-dateNONISO');
        let status = appointmentElement.getAttribute('data-appointment-status');

        timeOfDay = timeOfDay.charAt(0).toUpperCase() + timeOfDay.slice(1);

        const details = [
            `<strong>Pet:</strong> ${pet}`,
            `<strong>Time of the Day:</strong> ${timeOfDay}`,
            `<strong>Purpose:</strong> ${purpose}`
        ].join('<br>');

        let _date = status != "pending" ? "From Rebook List" : date;

        document.getElementById('rebookListAppointmentLabel').innerText = "#" + appointmentId + " - " + _date;
        document.getElementById('rebookListAppointmentBody').innerHTML = details;

        //hide deleteRebookList
        document.getElementById('deleteRebookList').style.display = 'none';

        document.getElementById('deleteRebookList').onclick = function() {
            $('#rebookListAppointmentModal').modal('hide');
            $('#deleteAppointmentModal').modal('show');
        };

        document.getElementById('yesDeleteAppointmentButton').onclick = function() {
            
            var reason = document.getElementById('cancel-appointment-reason').value;
            if(reason == ""){
                deleteAppointmentModal.hide();
                showError("Please enter a reason for cancellation.");
        
                $('#OKErrorModalButton').on('click', function() {
                    $('#errorModal').modal('hide');
                    deleteAppointmentModal.show();
                });
                return;
            }
            $.ajax({
                type: 'POST',
                url: '{% url "cancel_appointment" %}',
                data: {
                    'appointment_id': appointmentId,
                    'reason': $('#cancel-appointment-reason').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'Appointment cancelled successfully') {
                        // appointment.remove();
                        $('#deleteAppointmentModal').modal('hide');
                        showSuccess(response.status + ".");
                        hideRebookList();
                        location.reload();
                    }
                },
                error: function(error) {
                    $('#deleteAppointmentModal').modal('hide');
                    showError(error.responseJSON.message);
                }
            });
        };

        var cancelDeleteAppointmentButton = document.getElementsByClassName('cancelDeleteAppointmentButton');
        for (var i = 0; i < cancelDeleteAppointmentButton.length; i++) {
            cancelDeleteAppointmentButton[i].onclick = function() {
                $('#deleteAppointmentModal').modal('hide');
                $('#rebookListAppointmentModal').modal('show');
            };
        }

        $('#rebookListAppointmentModal').modal('show');
    }
}

function updateSlots(info, dateString, dateSlots, maxAppointments, allAppointments, slotElements) {

    var oldDate = new Date(info.oldEvent.start);
    var oldDateString = oldDate.getFullYear() + '-' + String(oldDate.getMonth() + 1).padStart(2, '0') + '-' + String(oldDate.getDate()).padStart(2, '0');

    if (info.type != "from_rebook_list") {
        var oldEventCount = allAppointments.filter(function(event) {
            var _date = new Date(event.start);
            var _formattedDate = _date.getFullYear() + '-' + (_date.getMonth() + 1).toString().padStart(2, '0') + '-' + _date.getDate().toString().padStart(2, '0');
            return _formattedDate === oldDateString;
        }).length;

        var oldSlots = (dateSlots[oldDateString] || maxAppointments);


        var [currentUsedSlots, totalSlots] = slotElements[oldDateString].textContent.split(' ');

        if (oldEventCount < oldSlots) {
            currentUsedSlots = parseInt(currentUsedSlots) + 1;
        }

        slotElements[oldDateString].textContent = `${currentUsedSlots} slots left`;
    }

    if (info.type != "mark_done") {
        var newEventCount = allAppointments.filter(function(event) {
            var _date = new Date(event.start);
            var _formattedDate = _date.getFullYear() + '-' + (_date.getMonth() + 1).toString().padStart(2, '0') + '-' + _date.getDate().toString().padStart(2, '0');
            return _formattedDate === dateString;
        }).length;

        var newSlots = (dateSlots[dateString] || maxAppointments);

        var newDateStringSlotElement = slotElements[dateString].textContent;
        var [currentUsedSlots, totalSlots] = newDateStringSlotElement.split(' ');

        slotElements[dateString].textContent = `${currentUsedSlots - newEventCount} slots left`;
    }
}

function updateTimeOfTheDayCell(date, timeOfDayInfo, timeOfTheDayElements) {
    var timeOfTheDayElement = timeOfTheDayElements[date];

    var _info = timeOfDayInfo[date];

    // console.log(_info.el.classList.contains('day-disabled-whole-day'));
    // console.log(_info.el.classList.contains('day-disabled-morning'));
    // console.log(_info.el.classList.contains('day-disabled-afternoon'));
    // console.log(_info.el.classList.contains('day-disabled-full'));
    // console.log(_info.el.classList.contains('day-available'));

    _info.el.querySelector('.fc-daygrid-day-top').removeChild(timeOfTheDayElement);

    if (_info.el.classList.contains('day-disabled-whole-day')) {
        timeOfTheDayElement.textContent = `Disabled`;
    }

    if (_info.el.classList.contains('day-disabled-morning')) {
        timeOfTheDayElement.textContent = `Afternoon Available`;
    }

    if (_info.el.classList.contains('day-disabled-afternoon')) {
        timeOfTheDayElement.textContent = `Morning Available`;
    }

    if (_info.el.classList.contains('day-full')) {
        timeOfTheDayElement.textContent = `Full`;
    }

    if (_info.el.classList.contains('day-available')) {
        timeOfTheDayElement.textContent = ``;
    }

    _info.el.querySelector('.fc-daygrid-day-top').appendChild(timeOfTheDayElement);
}

function updateTimeOfTheDayCellRebook(date, oldDate, timeOfDayInfo, timeOfTheDayElements) {

    function updateTimeOfTheDayCell(date, oldDate) {
        if (timeOfTheDayElements[date] && timeOfDayInfo[date]) {
            var timeOfTheDayElement = timeOfTheDayElements[date];
            var _info = timeOfDayInfo[date];
            //console.log(date, _info.el.classList);
            // console.log(_info.el.classList.contains('day-disabled-whole-day'));
            // console.log(_info.el.classList.contains('day-disabled-morning'));
            // console.log(_info.el.classList.contains('day-disabled-afternoon'));
            // console.log(_info.el.classList.contains('day-full'));

            _info.el.querySelector('.fc-daygrid-day-top').removeChild(timeOfTheDayElement);

            if (_info.el.classList.contains('day-available')) {
                timeOfTheDayElement.textContent = ``;
            }

            if (_info.el.classList.contains('day-disabled-whole-day')) {
                timeOfTheDayElement.textContent = `Disabled`;
            }

            if (_info.el.classList.contains('day-disabled-morning')) {
                timeOfTheDayElement.textContent = `Afternoon Available`;
            }

            if (_info.el.classList.contains('day-disabled-afternoon')) {
                timeOfTheDayElement.textContent = `Morning Available`;
            }

            if (_info.el.classList.contains('day-full')) {
                timeOfTheDayElement.textContent = `Full`;
            }

            _info.el.querySelector('.fc-daygrid-day-top').appendChild(timeOfTheDayElement);
        }

        if (oldDate && timeOfTheDayElements[oldDate] && timeOfDayInfo[oldDate]) {
            var oldTimeOfTheDayElement = timeOfTheDayElements[oldDate];
            var _oldInfo = timeOfDayInfo[oldDate];
            //console.log(oldDate, _oldInfo.el.classList);

            _oldInfo.el.querySelector('.fc-daygrid-day-top').removeChild(oldTimeOfTheDayElement);

            if (_oldInfo.el.classList.contains('day-available')) {
                oldTimeOfTheDayElement.textContent = ``;
            }

            if (_oldInfo.el.classList.contains('day-disabled-whole-day')) {
                oldTimeOfTheDayElement.textContent = `Disabled`;
            }

            if (_oldInfo.el.classList.contains('day-disabled-morning')) {
                oldTimeOfTheDayElement.textContent = `Afternoon Available`;
            }

            if (_oldInfo.el.classList.contains('day-disabled-afternoon')) {
                oldTimeOfTheDayElement.textContent = `Morning Available`;
            }

            if (_oldInfo.el.classList.contains('day-full')) {
                oldTimeOfTheDayElement.textContent = `Full`;
            }

            _oldInfo.el.querySelector('.fc-daygrid-day-top').appendChild(oldTimeOfTheDayElement);
        }
    }

    updateTimeOfTheDayCell(date, oldDate);

    if (oldDate) {
        updateTimeOfTheDayCell(oldDate);
    }
}

document.addEventListener('DOMContentLoaded', function() {

    var debugCounter = 0;
    var appointmentIdToMarkDone;
    var timeOfTheDayElements = {};
    var timeOfDayInfo = {};
    var slotElements = {};

    $.ajax({
        type: 'GET',
        url: '{% url "get_all_data_client" %}',
        dataType: 'json',
        success: function(response) {
            var _appointmentCounts = response.appointment_counts;
       
            var allAppointments = response.appointments;

            var disabledDays = response.disabled_days;
            var maxAppointments = response.max_appointments;

            var myPets = response.my_pets;

            let parameter = new URLSearchParams(window.location.search);
            let _pet_id = parameter.get('pet_id');

            if (_pet_id) {
                var petExists = myPets.some((pet) => pet.id == _pet_id);

                if (!petExists) {
                    parameter.delete('pet_id');
                    history.pushState({}, null, location.pathname);
                }
            }

            var index = allAppointments.findIndex((event) => {
                let parameter = new URLSearchParams(window.location.search);
                let _pet_id = parameter.get('pet_id');

                if (_pet_id) {
                    if (event.extendedProps.pet_id == _pet_id) {
                        parameter.delete('pet_id');
                        history.pushState({}, null, location.pathname);
                    }
                }
            });

            // console.log(_appointmentCounts)
             //console.log(allAppointments)
            // console.log(disabledDays)
            // console.log(maxAppointments)
            var dateSlotsMap = response.date_slots.reduce((map, slot) => {
                map[slot.date] = slot;
                return map;
            }, {});
            var dateSlots = {};

            for (let date in dateSlotsMap) {
                dateSlots[date] = dateSlotsMap[date].morning_slots + dateSlotsMap[date].afternoon_slots;
            }
            
            disabledDays.forEach(disabledDay => {
                if (dateSlots.hasOwnProperty(disabledDay.date)) {
                    var morning_slots = dateSlotsMap[disabledDay.date].morning_slots;
                    var afternoon_slots = dateSlotsMap[disabledDay.date].afternoon_slots;
                            
                    switch (disabledDay.timeOfTheDay) {
                        case 'whole_day':
                            morning_slots = 0;
                            afternoon_slots = 0;
                            break;
                        case 'morning':
                            morning_slots = 0;
                            break;
                        case 'afternoon':
                            afternoon_slots = 0;
                            break;
                        default:
                            break;
                    }
            
                    dateSlots[disabledDay.date] = morning_slots + afternoon_slots;
                } else {
                    if (!dateSlots.hasOwnProperty(disabledDay.date)) {
                        switch (disabledDay.timeOfTheDay) {
                            case 'whole_day':
                                dateSlots[disabledDay.date] = 0;
                                break;
                            case 'morning':
                                dateSlots[disabledDay.date] = maxAppointments / 2; // Only afternoon
                                break;
                            case 'afternoon':
                                dateSlots[disabledDay.date] = maxAppointments / 2; // Only morning
                                break;
                            default:
                                dateSlots[disabledDay.date] = maxAppointments; // If it doesn't match any condition, default to maxAppointments
                                break;
                        }
                    }
                }
            });

            //console.log(dateSlots);

            var calendarEl = document.getElementById('calendar');
            var containerEl = document.getElementById('external-events-list');
            new FullCalendar.Draggable(containerEl, {
                itemSelector: '.fc-event',
                eventData: function(eventEl) {
                    return {
                        title: eventEl.innerText.trim()
                    }
                }
            });

            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                eventOrder: 'none',
                lazyFetching: true,
                progressiveEventRendering: true,
                views: {
                    listDay: {
                        buttonText: 'Day'
                    },
                    dayGridMonth: {
                        buttonText: 'Month'
                    },
                    multiMonthYear: {
                        buttonText: 'Year'
                    },
                    listYear: {
                        buttonText: 'All'
                    },
                    listMonth: {
                        buttonText: 'List Month'
                    }
                },
                buttonText: {
                    today: 'Today',
                },
                allDayText: '',
                firstDay: 1,
                noEventsText: 'No appointments to show',
                initialDate: getCurrentDateString(),
                initialView: getInitialView(),
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                editable: true,
                droppable: true,
                dayMaxEvents: false, // allow "more" link when too many events
                height: 'auto',
                hiddenDays: [0],
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: true,
                    meridiem: 'long'
                },
                events: allAppointments,
                navLinkDayClick: function(date, jsEvent) {
                    {% include 'client/script/navLinkDayClick.js' %}
                },
                select: function(arg) {
                    {% include 'client/script/select.js' %}
                },
                eventClick: function(arg) {
                    {% include 'client/script/eventClick.js' %}              
                },
                dayCellClassNames: function(info) {
                    {% include 'client/script/dayCellClassNames.js' %}   
                },
                dayCellDidMount: function(info) {
                    {% include 'client/script/dayCellDidMount.js' %}   
                },
                selectAllow: function(selectInfo) {
                    {% include 'client/script/selectAllow.js' %}   
                },
                eventDrop: function(info) {
                    {% include 'client/script/eventDrop.js' %}   
                },
                drop: function(arg) {
                    {% include 'client/script/drop.js' %}   
                },
                eventAdd: function(addInfo) {
                    calendar.refetchEvents();
                },
                eventReceive: function(info) {
                    info.revert();
                },
                dayCellContent: function(arg) {
                    return {
                        html: `${arg.dayNumberText}`
                    }
                },
            });

            function refreshCalendar() {
                calendar.next();
                calendar.prev()
            }

            $('#addAppointmentModal').on('hidden.bs.modal', function(e) {
                $('#id_timeOfTheDay option[value="morning"]').show();
                $('#id_timeOfTheDay option[value="afternoon"]').show();
                $('#id_timeOfTheDay').val('morning');
                $("#id_purpose").off("change");
            });

            $('#rebookConfirmAppointmentModal').on('hidden.bs.modal', function(e) {
                $('#id_timeOfTheDay-rebook option[value="morning"]').show();
                $('#id_timeOfTheDay-rebook option[value="afternoon"]').show();
                $('#id_timeOfTheDay-rebook').val('morning');
                $("#id_purpose-rebook").off("change");
            });

            $('#enableDayModal').on('hidden.bs.modal', function(e) {
                $('#id_timeOfTheDay option[value="morning"]').show();
                $('#id_timeOfTheDay option[value="afternoon"]').show();
                $('#id_timeOfTheDay').val('morning');
            });

            function createRebookEvent(event) {
                var rebookList = document.getElementById('external-events-list');
                var rebookEvent = document.createElement('div');
                rebookEvent.classList.add('fc-event', 'fc-h-event', 'fc-daygrid-event', 'fc-daygrid-block-event', 'custom-rebook-color');
                rebookEvent.id = event.id;
            
                rebookEvent.dataset.clientId = event.extendedProps.client_id;
                rebookEvent.dataset.clientName = event.extendedProps.client;
                rebookEvent.dataset.petId = event.extendedProps.pet_id;
                rebookEvent.dataset.petName = event.extendedProps.pet;
                rebookEvent.dataset.purposeId = event.extendedProps.purpose_id;
                rebookEvent.dataset.purposeVal = event.extendedProps.purpose;
                rebookEvent.dataset.timeOfDay = event.extendedProps.timeOfTheDay_val;
                rebookEvent.dataset.daySmsSent = event.extendedProps.day_sms_reminder;
                rebookEvent.dataset.weekSmsSent = event.extendedProps.week_sms_reminder;
                rebookEvent.dataset.contactNumber = event.extendedProps.contact_number;
                rebookEvent.dataset.currentDate = event.extendedProps.current_date;
            
                rebookEvent.onclick = function() {
                    _showAppointmentDetails(event);
                };
            
                var eventMainDiv = document.createElement('div');
                eventMainDiv.classList.add('fc-event-main');
                eventMainDiv.innerHTML = '#' + event.id + ' - ' + event.extendedProps.client;
                rebookEvent.appendChild(eventMainDiv);
                rebookList.appendChild(rebookEvent);
            }
            
            function sortEventsForDate(calendar, targetDateStr) {
                let targetDate = new Date(targetDateStr);
            
                let eventsForDate = calendar.getEvents().filter(event => {
                    return event.start.getFullYear() === targetDate.getFullYear() &&
                           event.start.getMonth() === targetDate.getMonth() &&
                           event.start.getDate() === targetDate.getDate();
                });
            
                eventsForDate.sort((a, b) => {
                    if (a.start < b.start) return -1;
                    if (a.start > b.start) return 1;
                    return 0;
                });
            
                eventsForDate.forEach(event => event.remove());
                
                eventsForDate.forEach(event => {
                    calendar.addEvent(event.toPlainObject());
                });
            }

            $('#add-appointment-day-choice').click(function() {
                $('#dayChoiceModal').modal('hide');
                let date = window.selectedDate;
                let dateString = date.getFullYear() + '-' + String(date.getMonth() + 1).padStart(2, '0') + '-' + String(date.getDate()).padStart(2, '0');

                let currentDate = new Date();
                currentDate.setHours(0, 0, 0, 0);

                if (date < currentDate) {
                    showError('Cannot add appointments in the past.');
                    return;
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url "check_if_full" %}',
                    data: {
                        'selected_date': dateString,
                    },
                    success: function(response) {
                        if (response.status === 'full') {
                            showError('This date is full.');
                        } else {
                            $('#selectedDate').val(dateString);
                            $('#addAppointmentModal').modal('show');
                        }
                    },
                    error: function(error) {
                        showError(error.responseJSON.message);
                    }
                });
            });

            $('#addAppointmentModal').on('shown.bs.modal', function () {
                const updateBusyTimes = function() {
                    const selectedServiceId = $("#id_purpose").val();
                    const selectedDate = $("#selectedDate").val();

                    $('#id_time option').show();
                    $.ajax({
                        type: 'GET',
                        url: '{% url "check_if_full" %}',
                        data: {
                            'selected_date': selectedDate,
                        },
                        success: function(response) {
                            if (response.status === 'morning_full') {
                                $('#id_time option').each(function() {
                                    let time = $(this).val();
                                    if (time >= "07:30:00" && time < "12:00:00") {
                                        $(this).hide();
                                    }
                                });
                            } else if (response.status === 'afternoon_full') {
                                $('#id_time option').each(function() {
                                    let time = $(this).val();
                                    if (time >= "12:00:00" && time <= "17:59:00") { 
                                        $(this).hide();
                                    }
                                });
                            } 
                        },
                        error: function(error) {
                            showError(error.responseJSON.message);
                        }
                    });

                    if (selectedServiceId && selectedDate) {
                        $.ajax({
                            url: "{% url 'get-busy-times' %}", 
                            method: "GET",
                            data: {
                                service_id: selectedServiceId,
                                date: selectedDate
                            },
                            success: function(response) {
                                if (response.status === "success") {
                                    const busyTimes = response.busy_times;
        
                                    let disabledDay = disabledDays.find(function(day) {
                                        return day.date === selectedDate;
                                    });

                                    $('#id_time option').show();
        
                                    if (disabledDay) {
                                        if (disabledDay.timeOfTheDay === 'morning') {
                                            $('#id_time option').each(function() {
                                                const timeValue = $(this).val();
                                                if (timeValue < "12:00:00") {
                                                    $(this).hide();
                                                }
                                            });
                                        } else if (disabledDay.timeOfTheDay === 'afternoon') {
                                            $('#id_time option').each(function() {
                                                const timeValue = $(this).val();
                                                if (timeValue >= "12:00:00") {
                                                    $(this).hide();
                                                }
                                            });
                                        }
                                    } 

                                    busyTimes.forEach(function(time) {
                                        $("#id_time option[value='" + time + "']").hide();
                                    });

                                    var firstAvailableTime = $('#id_time option:visible:first').val();
                                    $('#id_time').val(firstAvailableTime);
                                }
                            },
                            error: function(error) {
                                showError("Failed to fetch busy times:", error);
                            }
                        });
                    }
                }
        
                updateBusyTimes();
        
                $("#id_purpose").change(updateBusyTimes);
            });

            $('#rebookConfirmAppointmentModal').on('shown.bs.modal', function () {
                const updateBusyTimes = function() {
                    const selectedServiceId = $("#id_purpose-rebook").val();
                    const selectedDate = window.newDate;
                    if (selectedServiceId && selectedDate) {
                        $.ajax({
                            url: "{% url 'get-busy-times' %}", 
                            method: "GET",
                            data: {
                                service_id: selectedServiceId,
                                date: selectedDate
                            },
                            success: function(response) {
                                if (response.status === "success") {
                                    const busyTimes = response.busy_times;
                                    let disabledDay = disabledDays.find(function(day) {
                                        return day.date === selectedDate;
                                    });
                
                                    $('#id_time-rebook option').show();

                                    if (disabledDay) {
                                        if (disabledDay.timeOfTheDay === 'morning') {
                                            $('#id_time-rebook option').each(function() {
                                                const timeValue = $(this).val();
                                                if (timeValue < "12:00:00") {
                                                    $(this).hide();
                                                }
                                            });
                                        } else if (disabledDay.timeOfTheDay === 'afternoon') {
                                            $('#id_time-rebook option').each(function() {
                                                const timeValue = $(this).val();
                                                if (timeValue >= "12:00:00") {
                                                    $(this).hide();
                                                }
                                            });
                                        }
                                    } 
                                    busyTimes.forEach(function(time) {
                                        $("#id_time-rebook option[value='" + time + "']").hide();
                                    });
                                    
                                    var firstAvailableTime = $('#id_time-rebook option:visible').not(":first").first().val();
                                    $('#id_time-rebook').val(firstAvailableTime);
                                }
                            },
                            error: function(error) {
                                showError("Failed to fetch busy times:", error);
                            }
                        });
                    }
                }
        
                updateBusyTimes();
        
                $("#id_purpose-rebook").change(updateBusyTimes);
            });

            $('#rebookAppointmentForm').submit(function(e) {
                e.preventDefault();

                var appointment_id = window.eventId;
                var new_date = window.newDate;
                var old_date = window.oldDate;
                var time_of_day = $('#id_timeOfTheDay-rebook').val();
                var time = $('#id_time-rebook').val();
                var pet = $('#id_pet-rebook').val();
                var purpose = $('#id_purpose-rebook').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "rebook_appointment" %}',
                    data: {
                        'appointment_id': appointment_id,
                        'new_date': new_date,
                        'time_of_day': time_of_day,
                        'time': time,
                        'pet': pet,
                        'purpose': purpose,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'Appointment rebooked successfully') {
                            var draggedEl = document.getElementById(response.appointment.id); //for rebook
                            
                            var eventToRemove = calendar.getEventById(appointment_id);
                            if (eventToRemove) {
                                eventToRemove.remove();
                            }

                            var newEvent = {
                                id: response.appointment.id,
                                title: response.appointment.pet.name,
                                start: response.appointment.date + "T" + response.appointment.time,
                                color: response.appointment.color,
                                allDay: false,
                                extendedProps: {
                                    'client_id': response.appointment.client.id,
                                    'client': response.appointment.client.first_name + " " + response.appointment.client.last_name,
                                    'contact_number': response.appointment.client.contact_number,
                                    'pet': response.appointment.pet.name,
                                    'pet_id': response.appointment.pet.id,
                                    'timeOfTheDay': response.appointment.timeOfTheDay,
                                    'timeOfTheDay_val': response.appointment.timeOfTheDay_val,
                                    'time': response.appointment.time,
                                    'purpose': response.appointment.purpose,
                                    'purpose_id': response.appointment.purpose_id,
                                    'current_date': response.appointment.date,
                                    'day_sms_reminder': response.appointment.daily_reminder_sent,
                                    'week_sms_reminder': response.appointment.weekly_reminder_sent,
                                }
                            };

                            calendar.addEvent(newEvent);

                            if(draggedEl) {
                                draggedEl.parentNode.removeChild(draggedEl);
                                hideRebookList();
                            }

                            var _event = calendar.getEventById(response.appointment.id);

                            if (_event) {
                                _event.setProp('color', response.appointment.color);
                            }

                            if (old_date != "from_rebook_list") {
                                _event.setExtendedProp('client_id', response.appointment.client.id);
                                _event.setExtendedProp('client', response.appointment.client.first_name + " " + response.appointment.client.last_name);
                                _event.setExtendedProp('contact_number', response.appointment.client.contact_number);
                                _event.setExtendedProp('pet', response.appointment.pet.name);
                                _event.setExtendedProp('pet_id', response.appointment.pet.id);
                                _event.setExtendedProp('timeOfTheDay', response.appointment.timeOfTheDay);
                                _event.setExtendedProp('timeOfTheDay_val', response.appointment.timeOfTheDay_val);
                                _event.setExtendedProp('time', response.appointment.time);
                                _event.setExtendedProp('purpose', response.appointment.purpose);
                                _event.setExtendedProp('purpose_id', response.appointment.purpose_id);
                                _event.setExtendedProp('current_date', response.appointment.date);
                                _event.setExtendedProp('day_sms_reminder', response.appointment.daily_reminder_sent);
                                _event.setExtendedProp('week_sms_reminder', response.appointment.weekly_reminder_sent);

                                var info = {
                                    event: _event,
                                    oldEvent: {
                                        start: old_date
                                    }
                                };
                            } else {
                                var info = {
                                    event: _event,
                                    oldEvent: {
                                        start: old_date
                                    },
                                    type: "from_rebook_list"
                                };

                                allAppointments.push({
                                    id: response.appointment.id,
                                    title: response.pet,
                                    start: response.appointment.date + "T" + response.appointment.time,
                                    color: response.appointment.color,
                                    allDay: false,
                                    extendedProps: {
                                        'client_id': response.appointment.client.id,
                                        'client': response.appointment.client.first_name + " " + response.appointment.client.last_name,
                                        'contact_number': response.appointment.client.contact_number,
                                        'pet': response.appointment.pet.name,
                                        'pet_id': response.appointment.pet.id,
                                        'timeOfTheDay': response.appointment.timeOfTheDay,
                                        'timeOfTheDay_val': response.appointment.timeOfTheDay_val,
                                        'time': response.appointment.time,
                                        'purpose': response.appointment.purpose,
                                        'purpose_id': response.appointment.purpose_id,
                                        'current_date': response.appointment.date,
                                        'day_sms_reminder': response.appointment.daily_reminder_sent,
                                        'week_sms_reminder': response.appointment.weekly_reminder_sent,
                                    }
                                });
                            }

                            var dateString = new_date;
                            var movedEventId = info.event.id;

                            var startDate = new Date(newEvent.start);
                            var formattedNewStart = startDate.getFullYear() + '-' + 
                                String(startDate.getMonth() + 1).padStart(2, '0') + '-' + 
                                String(startDate.getDate()).padStart(2, '0');

                            for (var i = 0; i < allAppointments.length; i++) {
                                if (allAppointments[i].id == newEvent.id) {
                                    allAppointments[i] = newEvent; 
                                    allAppointments[i].start = formattedNewStart;
                                    break;
                                }
                            }

                            updateSlots(info, dateString, dateSlots, maxAppointments, allAppointments, slotElements);

                            $('#rebookConfirmAppointmentModal').modal('hide');

                            showSuccess(response.status + ".");

                            var oldDate;
                            if (old_date == "from_rebook_list") {
                                oldDate = new Date("Wed Jul 26 2023 00:00:00 GMT+0800 (Philippine Standard Time)");
                            } else {
                                oldDate = old_date
                            }
                            var year = oldDate.getFullYear();
                            var month = (oldDate.getMonth() + 1).toString().padStart(2, '0');
                            var day = oldDate.getDate().toString().padStart(2, '0');
                            var formattedOldDate = year + '-' + month + '-' + day;

                            if (_appointmentCounts[dateString] == undefined) {
                                _appointmentCounts[dateString] = 1;
                            } else {
                                _appointmentCounts[dateString] = _appointmentCounts[dateString] + 1;
                            }


                            updateTimeOfTheDayCellRebook(dateString, formattedOldDate, timeOfDayInfo, timeOfTheDayElements);
                            refreshCalendar();
                            sortEventsForDate(calendar, newEvent.start);
                        }
                    },
                    error: function(error) {
                        $('#rebookConfirmAppointmentModal').modal('hide');
                        if(window.info){
                            window.info.revert();
                        }
                        showError(error.responseJSON.message);
                    }
                });
            });

            $('#appointmentForm').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '{% url "client-add-appointment" %}',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.message === 'Appointment created successfully') {
                            var c = calendar.addEvent({
                                id: response.appointment.id,
                                title: response.appointment.pet.name,
                                start: response.appointment.date + "T" + response.appointment.time,
                                color: response.appointment.color,
                                allday: false,
                                extendedProps: {
                                    'client_id': response.appointment.client.id,
                                    'client': response.appointment.client.first_name + " " + response.appointment.client.last_name,
                                    'contact_number': response.appointment.client.contact_number,
                                    'pet': response.appointment.pet.name,
                                    'pet_id': response.appointment.pet.id,
                                    'timeOfTheDay': response.appointment.timeOfTheDay,
                                    'timeOfTheDay_val': response.appointment.timeOfTheDay_val,
                                    'time': response.appointment.time,
                                    'purpose': response.appointment.purpose,
                                    'purpose_id': response.appointment.purpose_id,
                                    'current_date': response.appointment.date,
                                    'day_sms_reminder': response.appointment.daily_reminder_sent,
                                    'week_sms_reminder': response.appointment.weekly_reminder_sent,
                                }
                            });

                            var info = {
                                event: c,
                                oldEvent: {
                                    start: c.start
                                }
                            };

                            var dateString = response.appointment.date + "T" + response.appointment.time;

                            allAppointments.push({
                                id: response.appointment.id,
                                title: response.appointment.pet.name,
                                start: dateString,
                                color: response.appointment.color,
                                allDay: false,
                                extendedProps: {
                                    'client_id': response.appointment.client.id,
                                    'client': response.appointment.client.first_name + " " + response.appointment.client.last_name,
                                    'contact_number': response.appointment.client.contact_number,
                                    'pet': response.appointment.pet.name,
                                    'pet_id': response.appointment.pet.id,
                                    'timeOfTheDay': response.appointment.timeOfTheDay,
                                    'timeOfTheDay_val': response.appointment.timeOfTheDay_val,
                                    'time': response.appointment.time,
                                    'purpose': response.appointment.purpose,
                                    'purpose_id': response.appointment.purpose_id,
                                    'current_date': response.appointment.date,
                                    'day_sms_reminder': response.appointment.daily_reminder_sent,
                                    'week_sms_reminder': response.appointment.weekly_reminder_sent,
                                }
                            });
                            dateString = response.appointment.date.split("T")[0];
                            updateSlots(info, dateString, dateSlots, maxAppointments, allAppointments, slotElements);
                            updateTimeOfTheDayCell(dateString, timeOfDayInfo, timeOfTheDayElements);
                            
                            sortEventsForDate(calendar, c.start);

                            calendar.unselect();

                            showSuccess(response.message + ".");

                            let params = new URLSearchParams(window.location.search);
                            let pet_id = params.get('pet_id');

                            if (pet_id) {
                                params.delete('pet_id');
                                history.pushState({}, null, location.pathname);
                            }

                            $("#id_pet option[value='" + response.appointment.pet.id + "']").remove();

                            var url = "{% url 'client-get-pets' %}";

                            if (_appointmentCounts[dateString] == undefined) {
                                _appointmentCounts[dateString] = 1;
                            } else {
                                _appointmentCounts[dateString] = _appointmentCounts[dateString] + 1;
                            }

                            refreshCalendar();

                            $('#addAppointmentModal').modal('hide');
                        }
                    },
                    error: function(error) {
                        showError(error.responseJSON.message);
                    }
                });
            });

            calendar.render();

            let params = new URLSearchParams(window.location.search);
            let appointmentId = params.get('appointment_id');

            var calendarDate = localStorage.getItem('calendarDate');
            if (calendarDate) {
                calendar.gotoDate(new Date(calendarDate));
                localStorage.removeItem('calendarDate');
            }

            if (appointmentId) {
                let appointmentDate = document.getElementById('viewAppointmentFromOtherModuleData').getAttribute('data-appointment-date');
                let appointmentElement = document.getElementById('viewAppointmentFromOtherModuleData');
                let status = appointmentElement.getAttribute('data-appointment-status');

                if (status == "pending") {
                    calendar.gotoDate(new Date(appointmentDate));
                }

                // calendar.changeView('listDay');

                showAppointmentDetailsFromOtherModule();
                params.delete('appointment_id');
                history.pushState({}, null, location.pathname);
            }

            function updateCalendarOptions() {
                if (window.innerWidth <= 576) {
                    calendar.setOption('headerToolbar', {
                        left: 'title',
                        center: 'listDay,dayGridMonth,listMonth,listYear',
                        right: 'today prev,next'
                    });

                } else {
                    calendar.setOption('headerToolbar', {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'listDay,dayGridMonth,multiMonthYear,listYear'
                    });
                }
            }

            updateCalendarOptions();

            function getCurrentDateString() {
                const currentDate = new Date();
                const year = currentDate.getFullYear();
                const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed, so add 1
                const day = String(currentDate.getDate()).padStart(2, '0');

                return `${year}-${month}-${day}`;
            }
        },
        error: function(error) {
            console.error(error);
        }
    });
});
    </script>