{% extends 'customer_dashboard/base.html' %}

{% block title %} Delete Pet | Barraca Veterinary Clinic {% endblock %}

{% block content %}
<div class="container mt-5">
    <nav class="mt-4 rounded mb-5" aria-label="breadcrumb">
        <ol class="breadcrumb py-2 rounded mb-0">
            <li class="breadcrumb-item"><a href="{% url 'pet-list-page' %}">My Pets</a></li>
            <li class="breadcrumb-item"><a href="{% url 'view-pet-page' pet.id %}">{{ pet.name }}</a></li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
    </nav>
    <h2>Are you sure you want to delete {{ pet.name }}?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete this pet</button>
    </form>
    <a href="{% url 'view-pet-page' pet.id %}">Cancel</a>
</div>

{% endblock %}
