{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Update Item | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    label {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-5 mb-5">
        <nav class="mt-4 rounded mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb py-2 rounded mb-0">
                <li class="breadcrumb-item"><a href="{% url 'product-list-page' %}">Inventory</a></li>
                <li class="breadcrumb-item">{{ product.product_name }} (ID: {{ product.id }})</li>
                <li class="breadcrumb-item active">Update Product</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Update Product</div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Name</label>
                                    {{ form.product_name }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Quantity</label>
                                    {{ form.quantity_on_stock }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Type</label>
                                    {{ form.type }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Batch Number</label>
                                    {{ form.batch_number }}
                                    <datalist id="previous-batch-numbers">
                                        {% for batch_number in previous_batch_numbers %}
                                          <option value="{{ batch_number }}">
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Manufacturing Date</label>
                                    {{ form.manufacturing_date }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Expiration Date</label>
                                    {{ form.expiration_date }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Critical Level</label>
                                    {{ form.critical_level }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Price (₱)</label>
                                    {{ form.price }}
                                </div>
                            </div>
                            <button class="btn btn-dark" type="submit">Update Product</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block extrascripts %}

{% endblock %}
