{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Add Item | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    label 
    {
        font-weight: bold;
    }

</style>
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-5 mb-5 animated--fade-in-up">
        <nav class="mt-4 rounded mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                <li class="breadcrumb-item"><a href="{% url 'product-list-page' %}">Inventory</a></li>
                <li class="breadcrumb-item active">Add Product</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Add Product</div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputProductName">Name <span class="text-red">*</span></label>
                                    {{ form.product_name }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputQuantity">Quantity <span class="text-red">*</span></label>
                                    {{ form.quantity_on_stock }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputType">
                                        Type <span class="text-red">*</span>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'product-type-list-page' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="View List of Types">
                                            <i data-feather="external-link"></i>
                                        </a>
                                    </label>
                                    {{ form.type }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputVol">Volume (bottle size or per unit) <span class="text-red">*</span></label>
                                    {{ form.volume }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputForm">Form <span class="text-red">*</span></label>
                                    {{ form.form }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBatch">Batch Number <span class="text-red">*</span></label>
                                    {{ form.batch_number }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManu">Manufacturer <span class="text-red">*</span></label>
                                    {{ form.manufacturer }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManuDate">Manufacturing Date <span class="text-red">*</span></label>
                                    {{ form.manufacturing_date }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputExp">Expiration Date <span class="text-red">*</span></label>
                                    {{ form.expiration_date }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputCrit">Critical Level <span class="text-red">*</span></label>
                                    {{ form.critical_level }}
                                </div>

                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Product Description <span class="text-red">*</span></label>
                                    {{ form.product_description }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Selling Price (₱) <span class="text-red">*</span></label>
                                    {{ form.price }}
                                </div>
                            </div>

                            <button class="btn btn-dark lift lift-sm" type="submit">Add Product</button>
                        </form>
                    </div>
                </div>
                <div class="form-group gx-3 mb-3">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block extrascripts %}
<script>
    const quantityInput = document.getElementById('quantity');

    quantityInput.addEventListener('keydown', function(event) {
        if (event.keyCode === 69 || event.keyCode === 101 || event.keyCode === 190 || event.keyCode === 110) {
            event.preventDefault();
        }
    });
    quantityInput.addEventListener('paste', function(event) {
        event.preventDefault();
    });
</script>
{% endblock %}
