{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% load templatetags %}

{% block title %} New Batch | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    label {
        font-weight: bold;
    }
</style>
<script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script>
<style>
  .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
  {
    background-color: #232323;
  }
  .page-link, .datatable-pagination a
   {
    color: #232323;
  }
  .errorlist{
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
    color: red !important;
    font-size: smaller !important;
  }
</style>
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-5 mb-5 animated--fade-in-up">
        <nav class="mt-4 rounded mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                <li class="breadcrumb-item"><a href="{% url 'product-list-page' %}">Inventory</a></li>
                <li class="breadcrumb-item">{{ product.product_name }} (ID: {{ product.id }})</li>
                <li class="breadcrumb-item active">New Product Batch</li>
            </ol>
        </nav>
        <div class="row">
            <div>
                <div class="card mb-4">
                    <div class="card-header">Add New Product Batch</div>
                    <div class="card-body">
                        <form id="update-product" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputProductName">Name <span class="text-red">*</span></label>
                                    {{ form.product_name }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputQuantity">Quantity <span class="text-red">*</span></label>
                                    {{ form.quantity_on_stock }}
                                    {{ form.errors.quantity_on_stock }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputType">
                                        Type <span class="text-red">*</span>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'product-type-list-page' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="View List of Types">
                                            <i data-feather="external-link"></i>
                                        </a>
                                    </label>
                                    {{ form.type }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputVol">Volume (sold per unit) <span class="text-red">*</span></label>
                                    <div class="input-group">
                                        {{ form.volume }}
                                        {{ form.volume_unit }}
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputForm">Form <span class="text-red">*</span></label>
                                    {{ form.form }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBatch">Batch Number <span class="text-red">*</span> (Old Batch: {{ old_batch_number }})</label>
                                    {{ form.batch_number }}
                                    {{ form.errors.batch_number }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManu">Manufacturer <span class="text-red">*</span></label>
                                    {{ form.manufacturer }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManuDate">Manufacturing Date <span class="text-red">*</span></label>
                                    {{ form.manufacturing_date }}
                                    {{ form.errors.manufacturing_date }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputExp">Expiration Date <span class="text-red">*</span></label>
                                    {{ form.expiration_date }}
                                    {{ form.errors.expiration_date }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputCrit">Critical Level <span class="text-red">*</span></label>
                                    {{ form.critical_level }}
                                    {{ form.errors.critical_level }}
                                </div>

                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Product Description <span class="text-red">*</span></label>
                                    {{ form.product_description }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Selling Price (₱) <span class="text-red">*</span></label>
                                    {{ form.price }}
                                    {{ form.errors.price }}
                                </div>
                            </div>
                            <button disabled id="submit-button" class="btn btn-dark lift lift-sm" type="submit">Add New Batch</button>
                            <a href="{% url 'product-list-page' %}" class="ms-3" style="color: #121212; text-decoration: none;"><i class="fas fa-solid fa-angles-left"></i> Back</a>
                        </form>
                    </div>
                </div>
                <div class="form-group gx-3 mb-3">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: none;">
                <div class="card card-collapsable">
                    <a class="card-header collapsed" href="#collapseCardUpdates" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardUpdates">
                        <div>
                            <i data-feather="archive" style="margin-top:3px;"></i>
                            Updates
                        </div>
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseCardUpdates">
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Field</th>
                                        <th>Old Version</th>
                                        <th>New Version</th>
                                        <th>Date Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for change in product.changes_log reversed %}
                                    <tr>
                                        <td>{{ change.update_id }}</td>
                                        <td>
                                            {% for field, values in change.items %}
                                                {% if field != 'update_id' and field != 'date' %}
                                                    {{ field }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for field, values in change.items %}
                                                {% if field != 'update_id' and field != 'date' %}
                                                    {{ values.0 }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for field, values in change.items %}
                                                {% if field != 'update_id' and field != 'date' %}
                                                    {{ values.1 }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ change.date }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>

{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    $(document).ready(function() {
        var initial_form_state = $('#update-product').serialize();
        $('#update-product').change(function() {
            if ($('#update-product').serialize() !== initial_form_state) {
                $('#submit-button').prop('disabled', false);
            } else {
                $('#submit-button').prop('disabled', true);
            }
        });
        var collapseElement = document.getElementById('collapseCardUpdates');
        collapseElement.addEventListener('shown.bs.collapse', function () {
            window.dataTable.refresh();
        });

        document.getElementById('name').disabled = true;
        document.getElementById('type').disabled = true;
        document.getElementById('volume').disabled = true;
        document.getElementById('volume_unit').disabled = true;
        document.getElementById('form').disabled = true;
        document.getElementById('manufacturer').disabled = true;
    });
</script>
<script>
    const quantityInput = document.getElementById('quantity');
    const volumeInput = document.getElementById('volume');
    const priceInput = document.getElementById('price');

    function preventInvalidInput(event) {
        const invalidKeyCodes = [69, 101, 189, 187]; 
        
        if (event.target !== priceInput) {
            invalidKeyCodes.push(190, 110);
        }

        if (invalidKeyCodes.includes(event.keyCode)) {
            event.preventDefault();
        }
    }

    function enforceTwoDecimalPlaces(event) {
        const value = event.target.value;
        if (value.includes('.')) {
            const decimalPortion = value.split('.')[1];
            if (decimalPortion.length > 2) {
                event.target.value = parseFloat(value).toFixed(2);
            }
        }
    }

    function enforceMaxDigits(event) {
        const value = event.target.value;
        if (value.length > 5) {
            event.target.value = value.slice(0, 5); 
        }
    }

    function preventPaste(event) {
        event.preventDefault();
    }

    [quantityInput, volumeInput].forEach(input => {
        input.addEventListener('keydown', preventInvalidInput);
        input.addEventListener('paste', preventPaste);
        input.addEventListener('input', enforceMaxDigits);
    });

    priceInput.addEventListener('keydown', preventInvalidInput);
    priceInput.addEventListener('paste', preventPaste);
    priceInput.addEventListener('input', enforceTwoDecimalPlaces);

    $(document).ready(function() {
        $("#name").on("input", function() {
            let value = $(this).val();   

            if (value.length > 0) {
                value = value.charAt(0).toUpperCase() + value.slice(1);
            }

            $(this).val(value);
        });
    });
</script>
{% endblock %}
