{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Inventory | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script>
window.addEventListener('DOMContentLoaded', event => {
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
            paging: true,
            perPageSelect: [5, 10, 25, 50],
            perPage: 10,
            fixedHeight: true,
            sortable: true,
            searchable: true,
            hiddenHeader: false,
        });

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    }
});
</script>
<style>
  .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
  {
    background-color: #232323;
  }
  .page-link, .datatable-pagination a
   {
    color: #232323;
  }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Inventory
            <a href="{% url 'product-add-page' %}" type="button" class="btn btn-dark btn-sm">Add Product</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Type</th>
                        <th>Batch Number</th>
                        <th>Manufacturing Date</th>
                        <th>Expiration Date</th>
                        <th>Critical Level</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td >{{ product.product_name }}</td>
                        <td>{{ product.quantity_on_stock|floatformat:2|intcomma }}</td>
                        <td>{{ product.type.name }}</td>
                        <td>{{ product.batch_number }}</td>
                        <td>{{ product.manufacturing_date }}</td>
                        {% if product.is_product_expired %}
                          <td>{{ product.expiration_date }} <span style="color: red;">(Expired)</span></td>
                        {% else %}
                          <td>{{ product.expiration_date }}</td>
                        {% endif %}
                        <td>
                          {{ product.critical_level }}
                          {% if product.is_product_critical %}
                            <span style="color: red;">(Critical)</span>
                          {% endif %}
                        </td>
                        <td>₱ {{ product.price|intcomma }}</td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'product-update-page' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Update">
                                <i data-feather="settings"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-product-name="{{ product.product_name }}" data-product-id="{{ product.id }}" data-bs-placement="top" title="Delete">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProductModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this product?
            <br>
            <br>
            <span id="productName" style="font-weight: bolder;"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <a href="#" class="btn btn-dark" id="confirmDelete">Delete</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var deleteProductModal = document.getElementById('deleteProductModal');
      deleteProductModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var productName = button.getAttribute('data-product-name');
        var productNameElement = document.getElementById('productName');

        productNameElement.textContent = productName;

        var productId = button.getAttribute('data-product-id');
        var deleteUrl = '{% url "delete-product-page" 0 %}'.replace('0', productId);
        var confirmDelete = document.getElementById('confirmDelete');
        confirmDelete.onclick = function() {
          fetch(deleteUrl, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            }
          }).then(function(response) {
            return response.json();
          }).then(function(data) {
            if (data.result === 'success') {
              location.href = '{% url "product-list-page" %}';
            } else {
              alert('Error: ' + data.message);
            }
          });
        }
      });
    });
</script>
{% endblock %}
