{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% load templatetags %}

{% block title %} Inventory | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
  .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
  {
    background-color: #232323;
  }
  .page-link, .datatable-pagination a
   {
    color: #232323;
  }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Inventory
            <div class="buttons-inventory">
              <a href="{% url 'product-type-list-page' %}" type="button" class="btn btn-dark btn-sm lift lift-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Manage product types here.">Product Type</a>
              <a href="{% url 'product-add-page' %}" type="button" class="btn btn-dark btn-sm lift lift-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Product">Add Product</a>
            </div>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" style="display: none;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><span class="small">Product</span></th>
                        <th><span class="small">Quantity</span></th>
                        <th><span class="small">Volume</span></th>
                        <th><span class="small">Form</span></th>
                        <th><span class="small">Type</span></th>
                        <th><span class="small">Batch Number</span></th>
                        <th><span class="small">Manufacturer</span></th>
                        <th><span class="small">Manufacturing Date</span></th>
                        <th><span class="small">Expiration Date</span></th>
                        <th><span class="small">Date Added</span></th>
                        <th><span class="small">Critical Level</span></th>
                        <th><span class="small">Selling Price</span></th>
                        <th><span class="small">Description</span></th>
                        <th><span class="small">Actions</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><span class="small product-id">{{ product.id }}</span></td>
                        <td><span class="small product-name">{{ product.product_name }}</span></td>
                        <td>
                          <span class="small">{{ product.quantity_on_stock|floatformat:0|intcomma }}
                          {% if product.quantity_on_stock == 0 %}
                            <span style="color: red;">(Out of Stock)</span>
                          {% endif %}</span>
                        </td>
                        <td><span class="small">{{ product.formatted_volume }} {{ product.volume_unit }}</span></td>
                        <td><span class="small">{{ product.get_form_display }}</span></td>
                        <td><span class="small">{{ product.type.name }}</span></td>
                        <td><span class="small">{{ product.batch_number }}</span></td>
                        <td><span class="small">{{ product.manufacturer }}</span></td>
                        <td><span class="small">{{ product.manufacturing_date }}</span></td>
                        <td>
                          <span class="small">{{ product.expiration_date }} 
                          {% if product.is_product_expired %}
                          <span style="color: red;">
                            (Expired)
                          </span>
                          {% endif %}</span>
                        </td>
                        <td><span class="small">{{ product.date_added|date }}</span></td>
                        <td>
                          <span class="small">{{ product.critical_level }}
                          {% if product.is_product_critical %}
                            <span style="color: red;">(Critical)</span>
                          {% endif %}</span>
                        </td>
                        <td><span class="small">₱{{ product.price|intcomma }}</span></td>
                        {% if product.product_description|length > 10 %}
                            <td>
                                <span class="small" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ product.product_description }}">
                                    {{ product.product_description|truncatechars:10 }}
                                </span>
                            </td>
                        {% else %}
                            <td><span class="small">{{ product.product_description }}</span></td>
                        {% endif %}

                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'product-update-page' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Update">
                                <i data-feather="settings"></i>
                            </a>
                            {% if request.user|has_permission:'inventory.delete_product' %}
                            <span data-bs-toggle="modal" data-bs-target="#deleteProductModal">
                              <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip"  data-product-name="{{ product.product_name }}" data-product-id="{{ product.id }}" data-bs-placement="top" title="Delete">
                                  <i data-feather="trash-2"></i>
                              </a>
                            </span>
                            {% endif %}
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'add-new-batch-page' product.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Add New Batch">
                                <i class="fa-solid fa-box"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProductModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this product?
            <br>
            <br>
            <span id="productName" style="font-weight: bolder;"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <a href="#" class="btn btn-dark" id="confirmDelete">Delete</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {

      var deleteProductModal = document.getElementById('deleteProductModal');
      deleteProductModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var row = button.closest('tr'); 

        var productName = row.querySelector('.product-name').textContent;
        var productNameElement = document.getElementById('productName');

        productNameElement.textContent = productName;

        var productId = row.querySelector('.product-id').textContent;
        var deleteUrl = '{% url "delete-product-page" 0 %}'.replace('0', productId);
        var confirmDelete = document.getElementById('confirmDelete');
        confirmDelete.onclick = function() {
          fetch(deleteUrl, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            }
          }).then(function(response) {
            return response.json();
          }).then(function(data) {
            if (data.result === 'success') {
              location.href = '{% url "product-list-page" %}';
            } else {
              console.log('Error: ' + data.message);
            }
          });
        }
      });

      const datatablesSimple = document.getElementById('datatablesSimple');

      var max_page = {{ products|length }}
      var lastIndex = max_page > 25 ? max_page : 50;
      if (datatablesSimple) {
          datatablesSimple.style.display = "";
          let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
              paging: true,
              perPageSelect: [5, 10, 25, lastIndex],
              perPage: 10,
              fixedHeight: false,
              sortable: true,
              searchable: true,
              hiddenHeader: false,
          });
  
          window.dataTable = dataTable;
  
          dataTable.on('datatable.update', () => {
              feather.replace();
              
              var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
              var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                  return new bootstrap.Tooltip(tooltipTriggerEl)
              })
          });
  
          dataTable.on('datatable.page', function(page) {
              feather.replace();
              
              var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
              var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                  return new bootstrap.Tooltip(tooltipTriggerEl)
              })
          });
  
          dataTable.on('datatable.search', function(query, matched) {
              feather.replace();
  
              var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
              var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                  return new bootstrap.Tooltip(tooltipTriggerEl)
              })
          });
  
          dataTable.on('datatable.sort', function(column, direction) {
              feather.replace();
              
              var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
              var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                  return new bootstrap.Tooltip(tooltipTriggerEl)
              })
          });
  
          var searchInput = document.querySelector('.datatable-input');
          
          searchInput.addEventListener('search', function(e) {
              if (e.target.value == '') {
                  dataTable.search('');
              }
          });
      }

    });
</script>
{% endblock %}
