{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% load templatetags %}

{% block title %} Update Item | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    label {
        font-weight: bold;
    }
</style>
<script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script>
<style>
  .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
  {
    background-color: #232323;
  }
  .page-link, .datatable-pagination a
   {
    color: #232323;
  }
</style>
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-5 mb-5 animated--fade-in-up">
        <nav class="mt-4 rounded mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                <li class="breadcrumb-item"><a href="{% url 'product-list-page' %}">Inventory</a></li>
                <li class="breadcrumb-item">{{ product.product_name }} (ID: {{ product.id }})</li>
                <li class="breadcrumb-item active">Update Product</li>
            </ol>
        </nav>
        <div class="row">
            <div>
                <div class="card mb-4">
                    <div class="card-header">Update Product</div>
                    <div class="card-body">
                        <form id="update-product" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputProductName">Name</label>
                                    {{ form.product_name }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputQuantity">Quantity</label>
                                    {{ form.quantity_on_stock }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputType">
                                        Type
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'product-type-list-page' %}"  data-bs-toggle="tooltip" data-bs-placement="top" title="View List of Types">
                                            <i data-feather="external-link"></i>
                                        </a>
                                    </label>
                                    {{ form.type }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputVol">Volume (bottle size or per unit)</label>
                                    {{ form.volume }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputForm">Form</label>
                                    {{ form.form }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBatch">Batch Number</label>
                                    {{ form.batch_number }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManu">Manufacturer</label>
                                    {{ form.manufacturer }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputManuDate">Manufacturing Date</label>
                                    {{ form.manufacturing_date }}
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputExp">Expiration Date</label>
                                    {{ form.expiration_date }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputCrit">Critical Level</label>
                                    {{ form.critical_level }}
                                </div>

                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Product Description</label>
                                    {{ form.product_description }}
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPrice">Selling Price (₱)</label>
                                    {{ form.price }}
                                </div>
                            </div>
                            <button disabled id="submit-button" class="btn btn-dark lift lift-sm" type="submit">Update Product</button>
                            
                        </form>
                    </div>
                </div>
                <div class="form-group gx-3 mb-3">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="card mt-0 mb-0">
                    <div class="card-header">Updates</div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Field</th>
                                    <th>Old Version</th>
                                    <th>New Version</th>
                                    <th>Date Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for change in product.changes_log reversed %}
                                <tr>
                                    <td>{{ change.update_id }}</td>
                                    <td>
                                        {% for field, values in change.items %}
                                            {% if field != 'update_id' and field != 'date' %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for field, values in change.items %}
                                            {% if field != 'update_id' and field != 'date' %}
                                                {{ values.0 }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for field, values in change.items %}
                                            {% if field != 'update_id' and field != 'date' %}
                                                {{ values.1 }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ change.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>

{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    $(document).ready(function() {
        var initial_form_state = $('#update-product').serialize();
        $('#update-product').change(function() {
            if ($('#update-product').serialize() !== initial_form_state) {
                $('#submit-button').prop('disabled', false);
            } else {
                $('#submit-button').prop('disabled', true);
            }
        });
    });
    </script>
{% endblock %}
