{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Product Types | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script>
window.addEventListener('DOMContentLoaded', event => {
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
            paging: true,
            perPageSelect: [5, 10, 25, 50],
            perPage: 10,
            fixedHeight: true,
            sortable: true,
            searchable: true,
            hiddenHeader: false,
        });

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    }
});
</script>
<style>
  .datatable-pagination .datatable-active a, .datatable-pagination .datatable-active a:focus, .datatable-pagination .datatable-active a:hover 
  {
    background-color: #232323;
  }
  .page-link, .datatable-pagination a
   {
    color: #232323;
  }
</style>
{% endblock %}

{% block content %}
<main>
    <nav class="mt-5 rounded mb-3" aria-label="breadcrumb">
        <ol class="breadcrumb px-3 py-2  rounded mb-0">
            <li class="breadcrumb-item"><a href="{% url 'product-list-page' %}">Inventory</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product-add-page' %}">Add Product</a></li>
            <li class="breadcrumb-item active">Product Types</li>
        </ol>
    </nav>
    <div class="card card-header-actions mb-5 animated--fade-in-up">
        <div class="card-header">
            Product Types
            <a href="#" type="button" class="btn btn-dark btn-sm lift lift-sm" id="add-type-btn">Add Type</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in product_types %}
                    <tr>
                        <td><span class="type-id">{{ type.id }}</span></td>
                        <td><span class="type-name">{{ type.name }}</span></td>
                        <td><span class="type-description">{{ type.product_type_description }}</span></td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#" data-bs-toggle="modal" data-bs-target="#updateTypeModal" data-type-name="{{ type.name }}" data-type-id="{{ type.id }}" data-bs-placement="top" title="Update">
                                <i data-feather="settings"></i>
                            </a>
                            {% if type.name != 'Medicines' %}
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#" data-bs-toggle="modal" data-bs-target="#deleteTypeModal" data-type-name="{{ type.name }}" data-type-id="{{ type.id }}" data-bs-placement="top" title="Delete">
                                <i data-feather="trash-2"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="modal fade" id="deleteTypeModal" tabindex="-1" aria-labelledby="deleteTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTypeModalLabel">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this type?
            <br>
            <br>
            <span id="typeName" style="font-weight: bolder;"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <a href="#" class="btn btn-dark" id="confirmDelete">Delete</a>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="addTypeModal" tabindex="-1" aria-labelledby="addTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTypeModalLabel">Add Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTypeForm">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="typeName" class="form-label">Type Name</label>
                            <input type="text" class="form-control" id="typeName" required>
                        </div>
                        <div>
                            <label for="typeDescription" class="form-label">Description</label>
                            <input type="text" class="form-control" id="typeDescription" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" id="addTypeSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateTypeModal" tabindex="-1" aria-labelledby="updateTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTypeModalLabel">Update Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateTypeForm">
                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="typeName" class="form-label">Type Name</label>
                            <input type="text" class="form-control" id="updateTypeName" required>
                        </div>
                        <div>
                            <label for="typeDescription" class="form-label">Description</label>
                            <input type="text" class="form-control" id="updateTypeDescription" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" id="updateTypeSubmit">Update</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var deleteTypeModal = document.getElementById('deleteTypeModal');
      deleteTypeModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var row = button.closest('tr'); 
        var typeName = row.querySelector('.type-name').textContent;
        var typeNameElement = document.getElementById('typeName');

        typeNameElement.textContent = typeName;

        var typeId = row.querySelector('.type-id').textContent;
        typeId = parseInt(typeId);
        var deleteUrl = '{% url "delete-type-page" 0 %}'.replace('0', typeId);
        var confirmDelete = document.getElementById('confirmDelete');
        confirmDelete.onclick = function() {
            $.ajax({
                url: deleteUrl,
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(data) {
                    if (data.result === 'success') {
                        location.href = '{% url "product-type-list-page" %}';
                    } else {
                        alert('Error: ' + data.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Error: ' + errorThrown);
                }
            });
        }
      });
      var updateTypeModal = document.getElementById('updateTypeModal');
        updateTypeModal.addEventListener('show.bs.modal', function(event) {
            var button = event.relatedTarget;
            var row = button.closest('tr'); 

            var typeId = row.querySelector('.type-id').textContent;
            typeId = parseInt(typeId);
            var typeName = row.querySelector('.type-name').textContent;
            var typeDdescription = row.querySelector('.type-description').textContent;

            var typeNameElement = document.getElementById('updateTypeName');
            var typeDescriptionElement = document.getElementById('updateTypeDescription');

            typeNameElement.value = typeName;
            typeDescriptionElement.value = typeDdescription;
    
            var updateUrl = '{% url "update-type-page" 0 %}'.replace('0', typeId);
            var updateTypeSubmit = document.getElementById('updateTypeSubmit');

            updateTypeSubmit.onclick = function() {
                console.log(updateTypeForm.elements);
                var typeName = updateTypeForm.elements.updateTypeName.value;
                var typeDescription = updateTypeForm.elements.updateTypeDescription.value;
    
                if (!typeName.trim()) {
                    updateTypeForm.elements.updateTypeName.focus();
                    return;
                }
                else if(!typeDescription.trim()) {
                    updateTypeForm.elements.updateTypeDescription.focus();
                    return;
                }
    
                $.ajax({
                    url: updateUrl,
                    method: 'POST',
                    data: {
                        'type_name': typeName,
                        'type_description': typeDescription,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.result === 'success') {
                            location.reload();
                        } else {
                            alert('Error: ' + data.message);
                        }
                    }
                });
            }
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var addTypeButton = document.getElementById('add-type-btn');
    var addTypeModal = new bootstrap.Modal(document.getElementById('addTypeModal'), {});
    var addTypeForm = document.getElementById('addTypeForm');
    var addTypeSubmit = document.getElementById('addTypeSubmit');

    addTypeButton.addEventListener('click', function() {
        addTypeModal.show();
    });

    addTypeSubmit.addEventListener('click', function() {
        var typeName = addTypeForm.elements.typeName.value;
        var typeDescription = addTypeForm.elements.typeDescription.value;

        if (!typeName.trim()) {
            addTypeForm.elements.typeName.focus();
            return;
        }
        else if(!typeDescription.trim()) {
            addTypeForm.elements.typeDescription.focus();
            return;
        }

        $.ajax({
            url: '{% url "add-type-page" %}',
            method: 'POST',
            data: {
                'type_name': typeName,
                'type_description': typeDescription,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function(data) {
                if (data.result === 'success') {
                    location.reload();
                } else {
                    alert('Error: ' + data.message);
                }
            }
        });
    });
});
</script>
{% endblock %}
