{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Dashboard | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<!-- 
<style>
    *, *:before, *:after {
        position: unset;
    }
</style> -->
<style>
    .h-100 {
    height: none;
    }
</style>
{% endblock %}


{% block header %}
<!-- <header class="page-header page-header-light bg-light mb-0">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="layout"></i></div>
                        Dashboard
                    </h1>
                    <div class="page-header-subtitle">A light page header option is also available for a different page style</div>
                </div>
            </div>
        </div>
    </div>
</header> -->
{% endblock %}

{% block content %}
    <!-- Example Colored Cards for Dashboard Demo-->
    
    <div class="row mt-5 animated--fade-in-up">
        <div class="col-lg-6 col-xl-3 mb-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <div class="text-white-75 small">Gross Revenue (Today)</div>
                            <div class="text-lg fw-bold">₱{{ total_revenue|floatformat:2|intcomma }}</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="dollar-sign"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-4">
            <div class="card bg-danger text-white h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <div class="text-white-75 small">Expected Clients (Today)</div>
                            <div class="text-lg fw-bold">{{ done_appointment_count }} / {{ appointment_count }}</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-4">
            <div class="card bg-warning text-white h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <div class="text-white-75 small">Total Clients</div>
                            <div class="text-lg fw-bold">{{ client_count }}</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-4">
            <div class="card bg-success text-white h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-3">
                            <div class="text-white-75 small">Total Pets</div>
                            <div class="text-lg fw-bold">{{ pet_count }}</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="gitlab"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Example DataTable for Dashboard Demo-->
        <div class="card mb-4">
            <div class="card-header">Upcoming Appointments</div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Contact Number</th>
                            <th>Concern</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in upcoming_appointments %}
                        <tr>
                            <td>{{ appointment.client.full_name }}</td>
                            <td>{{ appointment.date|date:"F j" }}</td>
                            <td>{{ appointment.client.contact_number }}</td>
                            <td><div class="badge bg-warning text-white rounded-pill">{{ appointment.purpose.service_type }}</div></td>
                            <td>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-calendar' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View in Calendar"><i data-feather="external-link"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Example Charts for Dashboard Demo-->
    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card card-header-actions h-100">
                <div class="card-header">
                    Monthly Gross Revenue
                </div>
                <div class="card-body">
                    <div class="chart-area"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-4">
            <div class="card card-header-actions h-100">
                <div class="card-header">
                    Annual Gross Revenue
                </div>
                <div class="card-body">
                    <div class="chart-bar"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    {{ monthly_revenue|json_script:"monthly-revenue-data" }}
    {{ yearly_revenue|json_script:"yearly-revenue-data" }}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/Chart.js/Chart.min.js' %}"></script>
<script src="{% static 'plugins/sb-admin/assets/demo/chart-area-demo.js' %}"></script> 
<script src="{% static 'plugins/sb-admin/assets/demo/chart-bar-demo.js' %}"></script>
<script>
    Chart.plugins.register({
        afterDraw: function(chart) {
            if (chart.data.datasets[0].data.every(item => item === 0)) {
                let ctx = chart.chart.ctx;
                let width = chart.chart.width;
                let height = chart.chart.height;

                chart.clear();
                ctx.save();
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillStyle = '#000000';
                ctx.fillText('No data to display', width / 2, height / 2);
                ctx.restore();
            }
        }
    });
</script>
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/bundle.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/litepicker.js' %}"></script>
{% endblock %}