{% extends 'admin_dashboard/base.html' %}
{% load static %}

{% block title %} SMS History | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card card-collapsable mt-5 animated--fade-in-up">
    <a class="card-header" href="#collapseCardSystem" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardSystem">
        Appointment SMS Logs
        <div class="card-collapsable-arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </a>
    <div class="collapse show" id="collapseCardSystem">
        <div class="card-body">
            <table id="datatablesSimple2" class="sms-history-table">
                <thead>
                    <tr>
                        <th><span class="small">Message ID</span></th>
                        <th><span class="small">Client</span></th>
                        <th><span class="small">Type</span></th>
                        <th><span class="small">Content</span></th>
                        <th><span class="small">Date</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sms in sms_logs %}
                    <tr>
                        <td>
                            <span style="font-weight: 600;">
                                {{ sms.id }}
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-dark rounded-pill">
                                {{ sms.client.full_name }}
                            </span> 
                            <span class="badge bg-dark rounded-pill">
                                {{ sms.client.contact_number }}
                            </span>
                        </td>
                        <td><span class="small">{{ sms.sms_type|capfirst  }}</span></td>
                        <td><span class="small">{{ sms.text }}</span></td>
                        <td><span class="small">{{ sms.date_created|date:"F j, Y, g:i A" }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% comment %} <div class="card card-collapsable mb-3 mt-5 animated--fade-in-up">
    <a class="card-header" href="#collapseCardSemaphore" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardSemaphore">
        SMS History - Semaphore
        <div class="card-collapsable-arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </a>
    <div class="collapse show" id="collapseCardSemaphore">
        <div class="card-body">
            <table id="datatablesSimple" class="sms-history-table">
                <thead>
                    <tr>
                        <th>Message ID</th>
                        <th>Status</th>
                        {% comment %} <th>Message</th> {% endcomment %}
                        {% comment %}<th>Recipient</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sms in sms_data %}
                    <tr>
                        <td><span style="font-weight: 600;">{{ sms.message_id }}</span></td>
                        <td><span class="badge bg-success rounded-pill">{{ sms.status }}</span></td>
                        {% comment %} <td>{{ sms.message }}</td> {% endcomment %}
                        {% comment %}<td>{{ sms.recipient }}</td>
                        <td>{{ sms.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <span style="font-style: italic; font-size: 12px">Only shows 50 SMS history. For more detailed view of history, visit Semaphore dashboard.</span>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/bundle.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/litepicker.js' %}"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        var max_page;
        var lastIndex;
    
        const datatablesSimple = document.getElementById('datatablesSimple');
    
        max_page = {{ sms_data|length }}
        lastIndex = max_page > 25 ? max_page : 50;
        if (datatablesSimple) {
            let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
                paging: true,
                perPageSelect: [5, 10, 25, lastIndex],
                perPage: 10,
                fixedHeight: false,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });
        }
    
        const datatablesSimple2 = document.getElementById('datatablesSimple2');
        if (datatablesSimple2) {
            max_page = {{ sms_logs|length }}
            lastIndex = max_page > 25 ? max_page : 50;
    
            let dataTable = new simpleDatatables.DataTable(datatablesSimple2, {
                paging: true,
                perPageSelect: [5, 10, 25, lastIndex],
                perPage: 10,
                fixedHeight: false,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
    
            window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });
        }
    });
    </script>
{% endblock %}