{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}
{% load templatetags %}

{% block title %} Users | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}

{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="print-table" style="display: none;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client Profile</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Date Joined</th>
                        <th>Last Login</th>
                        <th>Status</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><span class="user-id">{{ user.id }}</span></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar me-2">
                                    <img class="avatar-img img-fluid" src="{% static user.client.get_image %}" />
                                </div>
                                {{ user.client.full_name }}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' user.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client" style="margin-bottom: 4px;">
                                    <i data-feather="external-link"></i>
                                </a>
                                <!-- {% if request.user.is_authenticated and client.user.id == request.user.id %}
                                (You)
                                {% endif %} -->
                            </div>
                        </td>
                        <td><span class="user-name">{{ user.username }}</span></td>
                        <td>
                            {% if user.email %}
                            {{ user.email }}
                            {% else %}
                            <span class="badge bg-danger">
                                No Email
                            </span>
                            {% endif %}
                        </td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>
                            {% if user.is_active %}
                            <span class="badge bg-success">
                                Active
                            </span>
                            {% else %}
                            <span class="badge bg-danger">
                                
                                {% if user.client.isBanned %}
                                Banned
                                {% else %}
                                Inactive
                                {% endif %}
                                
                            </span>
                            {% endif %}
                            
                        </td>
                        <td>
                            {% comment %} {% if user.is_superuser %}
                                <span class="badge bg-dark">Superuser</span>
                            {% elif user.is_staff %}
                                <span class="badge bg-orange">Staff</span>
                            {% endif %} {% endcomment %}

                            {% if not user.is_staff and not user.is_superuser %}
                                <span class="badge bg-warning">Client</span>
                            {% endif %}
                        
                            {% for group in user.groups.all %}
                                <span class="badge bg-dark">{{ group.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.is_staff %}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'update-user-page' user.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Update User">
                                    <i data-feather="settings"></i>
                                </a>
                            {% endif %}
                        
                            {% if not user.is_staff and not user.is_superuser %}
                                {% if user.client.isBanned %}
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark unban-user-btn" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Unban User">
                                        <i data-feather="user-check"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-datatable btn-icon btn-transparent-dark ban-user-btn" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Ban User">
                                        <i data-feather="slash"></i>
                                    </a>
                                    {% if request.user|has_permission:'auth.add_user' %}
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark promote-user-btn" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Promote to Secretary">
                                            <i data-feather="chevrons-up"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% elif user.is_staff and not user.is_superuser %}
                                {% if request.user|has_permission:'auth.add_user' %}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark demote-user-btn" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Demote Secretary">
                                    <i data-feather="chevrons-down"></i>
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<div class="modal fade" id="confirmationUnbanModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmationUnbanModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationUnbanModal">Confirmation</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Are you sure you want to unban <span class="user-to-unban fw-600"></span>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">No</button>
                <button id="confirm-unban-button" class="btn btn-dark" type="button" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Are you sure you want to ban <span class="user-to-ban fw-600"></span>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">No</button>
                <button id="confirm-ban-button" class="btn btn-dark" type="button" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark errorOKBtn" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                {% comment %} <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
            </div>
            <div class="modal-body">
                <span class="modal-body-success-message"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark successOKBtn" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationDemoteModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmationDemoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDemoteModalLabel">Confirmation</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Are you sure you want to demote <span class="user-to-demote fw-600"></span>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">No</button>
                <button id="confirm-demote-button" class="btn btn-dark" type="button" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationPromoteModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cconfirmationPromoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cconfirmationPromoteModalLabel">Confirmation</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to promote <span class="user-to-promote fw-600"></span> to Secretary?<br><br>
                <span class="small"><span class="fw-600">Note: </span> This user will gain access to admin page but with less power.</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">No</button>
                <button id="confirm-promote-button" class="btn btn-dark" type="button" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script>
    function showSuccess(message)
    {
        $('#successModal .modal-body-success-message').text(message);
        $('#successModal').modal('show');
    }

    function showError(message)
    {
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }

    $(document).ready(function() {

        const datatablesSimple = document.getElementById('datatablesSimple');

        var max_page = {{ users|length }}
        var lastIndex = max_page > 25 ? max_page : 50;
        var dataTable;

        if (datatablesSimple) {
            dataTable = new simpleDatatables.DataTable(datatablesSimple, {
                paging: true,
                perPageSelect: [5, 10, 25, lastIndex],
                perPage: 5,
                fixedHeight: false,
                sortable: true,
                searchable: true,
                hiddenHeader: false,
            });
            dataTable.paging = false;
            //window.dataTable = dataTable;
    
            dataTable.on('datatable.update', () => {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.page', function(page) {
                feather.replace();
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.search', function(query, matched) {
                feather.replace();
    
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            dataTable.on('datatable.sort', function(column, direction) {
                feather.replace();
                
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            });
    
            var searchInput = document.querySelector('.datatable-input');
            
            searchInput.addEventListener('search', function(e) {
                if (e.target.value == '') {
                    dataTable.search('');
                }
            });

            datatablesSimple.style.display = "";
            //dataTable.paging = true;
        }
        
        var selected_id = -1;
        var selected_name = "";
      
        $("#datatablesSimple").on('click', '.ban-user-btn', function(event) {
            event.preventDefault();
            
            var $row = $(this).closest('tr');  
            var user_id = $row.find('.user-id').text();
            var user_name = $row.find('.user-name').text();
            selected_id = parseInt(user_id);
            selected_name = user_name;
            $(".user-to-ban").text(selected_name);
            $("#confirmationModal").modal('show');
        });
    
        $("#confirm-ban-button").on('click', function() {
            var url = "{% url 'ban-user-page' 0 %}".replace('0', selected_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if(response.success){
                        showSuccess(response.message);

                        $(".successOKBtn").on('click', function() {
                            location.reload();
                        });
                    }
                },
                error: function(error) {
                    showError(error.responseJSON.message);
                }
            });
        });

        $("#datatablesSimple").on('click', '.unban-user-btn', function(event) {
            event.preventDefault();
            var $row = $(this).closest('tr');  
            var user_id = $row.find('.user-id').text();
            var user_name = $row.find('.user-name').text();
            selected_id = parseInt(user_id);
            selected_name = user_name;
            $(".user-to-unban").text(selected_name);
            $("#confirmationUnbanModal").modal('show');
        });

        $("#confirm-unban-button").on('click', function() {
            var url = "{% url 'unban-user-page' 0 %}".replace('0', selected_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if(response.success){
                        showSuccess(response.message);

                        $(".successOKBtn").on('click', function() {
                            location.reload();
                        });
                    }
                },
                error: function(error) {
                    showError(error.responseJSON.message);
                }
            });
        });

        $("#datatablesSimple").on('click', '.promote-user-btn', function(event) {
            event.preventDefault();
            
            var $row = $(this).closest('tr');  
            var user_id = $row.find('.user-id').text();
            var user_name = $row.find('.user-name').text();
            selected_id = parseInt(user_id);
            selected_name = user_name;
            $(".user-to-promote").text(selected_name);
            $("#confirmationPromoteModal").modal('show');
        });

        $("#confirm-promote-button").on('click', function(event){
            event.preventDefault();
            var url = "{% url 'promote-user-page' 0 %}".replace('0', selected_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if(response.success){
                        showSuccess(response.message);

                        $(".successOKBtn").on('click', function() {
                            location.reload();
                        });
                    }
                },
                error: function(error) {
                    showError(error.responseJSON.message);
                }
            });
        });

        $("#datatablesSimple").on('click', '.demote-user-btn', function(event) {
            event.preventDefault();
            
            var $row = $(this).closest('tr');  
            var user_id = $row.find('.user-id').text();
            var user_name = $row.find('.user-name').text();
            selected_id = parseInt(user_id);
            selected_name = user_name;
            $(".user-to-demote").text(selected_name);
            $("#confirmationDemoteModal").modal('show');
        });

        $("#confirm-demote-button").on('click', function(event){
            event.preventDefault();
            var url = "{% url 'demote-user-page' 0 %}".replace('0', selected_id);
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if(response.success){
                        showSuccess(response.message);

                        $(".successOKBtn").on('click', function() {
                            location.reload();
                        });
                    }
                },
                error: function(error) {
                    showError(error.responseJSON.message);
                }
            });
        });

        //initialize tooltip
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        
    });
</script>
{% endblock %}
