{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Calendar | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/calendar/fullcalendar-custom.css' %}">
<script src="{% static 'plugins/fullcalendar/js/index.global.js' %}"></script>
<script src="{% static 'js/calendar/fullcalendar-settings.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/my-datatable-setting.js' %}"></script>
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/sms/send_sms.js' %}"></script>
{% endblock %}

{% block content %}
<div class="calendar-container">
    <div class="card mb-5 card-collapsable card-waves animated--fade-in-up">
        <a class="card-header" href="#collapseCardExample" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">Calendar
          <div class="card-collapsable-arrow">
              <i class="fas fa-chevron-down"></i>
          </div>
        </a>
        <div class="collapse show" id="collapseCardExample">
          <div class="card-body animated--fade-in-up">
              <div id='calendar'></div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">
           <!-- Event start will be displayed here -->
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="eventModalBody">
        <!-- Event title will be displayed here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark btn-sm" id="deleteEvent">Delete Event</button>
        <button type="button" class="btn btn-dark btn-sm" id="notifyEvent">Notify</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
    <div class="card-header">August 5, 2020 | Appointments</div>
    <div class="card-body">
        <table id="datatablesSimple" class="appointments-list-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.first_name }} {{ client.last_name }}</td>
                    <td>{{ client.contact_number }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm lift lift-sm" onclick="confirmSendSMS('{{ client.id }}', '{{ client.first_name }}', '{{ client.last_name }}', '{{ client.contact_number }}')">
                            Notify
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-warning btn-sm lift lift-sm" onclick="confirmSendBulkSMS()">Notify All</button>&nbsp;&nbsp;<span style="font-size: 12px;"><i>Only the visible rows will be notified</i></span>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Send SMS Confirmation</h5>
            <button id="close-sms-confirmation-button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to remind this client?<br><br>
            <b>Name:</b> <span id="clientName"></span><br>
            <b>Phone Number:</b> <span id="clientPhoneNumber"></span>
        </div>
        <div class="modal-footer">
            <button id="cancelSMSButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button id="sendSMSButton" type="button" class="btn btn-success btn-sm" onclick="sendSMS(document.getElementById('hiddenClientId').value)">
                Yes
                <span id="smsSendingSpinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
            </button>
        </div>
        </div>
    </div>
</div>   

<div class="modal fade" id="bulkConfirmationModal" tabindex="-1" aria-labelledby="bulkConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulkConfirmationModalLabel">Send Bulk SMS Confirmation</h5>
                <button id="closeBulkSMSButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bulk-modal-body">
                Are you sure you want to send SMS reminders to all clients?
            </div>
            <div class="modal-footer">
                <button id="cancelBulkSMSButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button id="sendBulkSMSButton" type="button" class="btn btn-success btn-sm" onclick="sendBulkSMS()">
                    Yes
                    <span id="bulkSMSSendingSpinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">SMS Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="messageModalBody">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<input type="hidden" id="hiddenClientId" value="">
<div id="sms-data" data-url="{% url 'send_sms_to_client' %}"></div>

{% endblock %}

{% block extrascripts %}

{% endblock %}
