{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Clients | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/print-js/print.min.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Clients
            <button class="btn btn-dark btn-sm lift lift-sm" onclick="printTable('datatablesSimple')">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="print-table" style="display: none;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Total Pets</th>
                        <th>Status</th>
                        <th class="hide-on-print">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-between">  
                                <div class="d-flex align-items-center">  
                                    <div class="avatar me-2">
                                        <img class="avatar-img img-fluid" src="{% static client.get_image %}" />
                                    </div>
                                    {{ client.full_name }}
                                    {% if request.user.is_authenticated and client.user.id == request.user.id %}
                                    (You)
                                    {% endif %}
                                </div>
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client Details" style="margin-bottom: 4px;">
                                    <i data-feather="external-link"></i>
                                </a>
                            </div>
                        </td>                        
                        <td>{{ client.gender }}</td>
                        <td>{{ client.get_address }}</td>
                        <td>{{ client.contact_number }}</td>
                        <td>{{ client.total_pets }}</td>
                        <td>
                            {% if client.user.is_active %}
                                <span class="badge bg-success">Active</span>
                            {% else %}
                                <span class="badge bg-danger">Inactive</span>
                            {% endif %}
                        </td>
                        <td class="hide-on-print">
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'billing-page' %}?to={{ client.id }}" data-client-id="{{ client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Billing Statement">
                                <i data-feather="dollar-sign"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% static 'images/barraca.png' as static_image %}
{{ clients|length|json_script:"CM_max_page" }}
{{ clients_for_print|json_script:"CM_dataRaw" }}
{{ clients|length|json_script:"CM_clients_length" }}
{{ request.user.client.full_name|json_script:"CM_logged_in_user" }}
{{ static_image|json_script:"CM_print_image" }}
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<script src="{% static 'js/record/client_module/client_module.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
{% endblock %}
