{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Clients | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/print-js/print.min.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Clients
            <button class="btn btn-dark btn-sm lift lift-sm" onclick="printTable('datatablesSimple')">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="print-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Total Pets</th>
                        <th class="hide-on-print">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td >
                            <div class="d-flex align-items-center">
                                <div class="avatar me-2">
                                    <img class="avatar-img img-fluid" src="{% static 'plugins/sb-admin/assets/img/illustrations/profiles/profile-1.png' %}" />
                                </div>
                                {{ client.full_name }}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client" style="margin-bottom: 4px;">
                                    <i data-feather="external-link"></i>
                                </a>
                                <!-- {% if request.user.is_authenticated and client.user.id == request.user.id %}
                                (You)
                                {% endif %} -->
                            </div>
                        </td>
                        <td>{{ client.gender }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.contact_number }}</td>
                        <td>{{ client.total_pets }}</td>
                        <td class="hide-on-print">
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'billing-page' %}?to={{ client.id }}" data-client-id="{{ client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Billing Statement">
                                <i data-feather="dollar-sign"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/print-js/print.min.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script> -->
<script>
window.addEventListener('DOMContentLoaded', event => {
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
            paging: true,
            perPageSelect: [5, 10, 25, 50],
            perPage: 10,
            fixedHeight: true,
            sortable: true,
            searchable: true,
            hiddenHeader: false,
        });

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    }
});
</script>
<script>
    function getTableData(tableID) {
        var table = document.getElementById(tableID);
        var data = [];

        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];
            var rowData = {
                'ID': row.cells[0].innerText,
                'Name': row.cells[1].innerText,
                'Gender': row.cells[2].innerText,
                'Address': row.cells[3].innerText,
                'Phone': row.cells[4].innerText,
                'Total Pets': row.cells[5].innerText
            };
            data.push(rowData);
        }

        return data;
    }

    function printTable(tableID) 
    {
        var data = getTableData(tableID);
        var font = "font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
        var css_gridHeaderStyle = `color: #232323; padding: 8px; border: 1px solid #232323; ${font}`;
        var css_gridStyle = `text-align: center;padding: 8px;border: 1px solid #232323; ${font}`;
        var css_headerStyle = `text-align: center; font-size: 14pt; color: #232323; font-weight: bold; margin-bottom: 20px; font-family: Roboto;`;
        var headerName = "Client List Report";
        var imgSrc = "{% static 'images/barraca.png' %}";
        var header = `<hr><br><div style='text-align: center'><img src='${imgSrc}' style='width: 50%;' /><style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');</style><h1 style='${css_headerStyle}; font-family: Roboto;'>${headerName}</h1><span style='font-size:12pt; font-family: Roboto;'>Total Clients: ${data.length}</span></div><br>`;

        printJS({
            printable: data,
            properties: ['ID', 'Name', 'Gender', 'Address', 'Phone', 'Total Pets'],
            type: 'json',
            gridHeaderStyle: css_gridHeaderStyle,
            font_size: "15pt",
            documentTitle: 'Original Copy',
            showModal: true,
            header: header,
            gridStyle: css_gridStyle,
        });
    }
</script>
{% endblock %}
