{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Clients | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script>
window.addEventListener('DOMContentLoaded', event => {
    const datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        let dataTable = new simpleDatatables.DataTable(datatablesSimple, {
            paging: true,
            perPageSelect: [5, 10, 25, 50],
            perPage: 10,
            fixedHeight: true,
            sortable: true,
            searchable: true,
            hiddenHeader: false,
        });

        dataTable.on('datatable.update', () => {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.page', function(page) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.search', function(query, matched) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });

        dataTable.on('datatable.sort', function(column, direction) {
            feather.replace();
            
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    }
});
</script>
{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5 animated--fade-in-up">
        <div class="card-header">
            Clients
            <button class="btn btn-dark btn-sm">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Total Pets</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td >
                            <div class="d-flex align-items-center">
                                <div class="avatar me-2"><img class="avatar-img img-fluid" src="{% static 'plugins/sb-admin/assets/img/illustrations/profiles/profile-1.png' %}" /></div>
                                {{ client.full_name }}
                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client" style="margin-bottom: 4px;">
                                    <i data-feather="external-link"></i>
                                </a>
                                {% if request.user.is_authenticated and client.user.id == request.user.id %}
                                (You)
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ client.gender }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.contact_number }}</td>
                        <td>{{ client.total_pets }}</td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'billing-page' %}?to={{ client.id }}" data-client-id="{{ client.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Billing Statement">
                                <i data-feather="dollar-sign"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<!-- <script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script> -->
{% endblock %}
