{% extends 'admin_dashboard/base.html' %}

{% load static %}
{% load humanize %}

{% block title %} Medical Record | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
.nav-wizard .nav-link {
    padding: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #232323;
}
.nav-wizard .nav-link.active .wizard-step-icon {
    color: #232323;
}
.nav-wizard .nav-link .wizard-step-text .wizard-step-text-name {
    color: #232323;
}
.nav-wizard .nav-link .wizard-step-icon {
    background-color: #232323;
}
.text-primary {
    color: #232323 !important;
}
.next-button
{
    background-color: #232323 !important;
    border: none;
}
.submit-button
{
    background-color: green !important;
    border: none;
}
.modal-xl {
    --bs-modal-width: 1540px;
}
</style>
{% include 'admin/medical_record_script.html' %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container-xl mt-5">
    <!-- Wizard card example with navigation-->
    <div class="card">
        <div class="card-header border-bottom">
            <!-- Wizard navigation-->
            <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                <!-- Wizard navigation item 1-->
                <a class="nav-item nav-link active" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab" role="tab" aria-controls="wizard1" aria-selected="true">
                    <div class="wizard-step-icon">1</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Find Pet</div>
                        <div class="wizard-step-text-details">Locate a pet for consultation</div>
                    </div>
                </a>
                <!-- Wizard navigation item 2-->
                <a class="nav-item nav-link" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab" aria-controls="wizard2" aria-selected="true">
                    <div class="wizard-step-icon">2</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Medical Form</div>
                        <div class="wizard-step-text-details">Fill this form for data recording</div>
                    </div>
                </a>
                <!-- Wizard navigation item 3-->
                <a class="nav-item nav-link" id="wizard3-tab" href="#wizard3" data-bs-toggle="tab" role="tab" aria-controls="wizard3" aria-selected="true">
                    <div class="wizard-step-icon">3</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Prescription</div>
                        <div class="wizard-step-text-details">Add a prescription for this record</div>
                    </div>
                </a>
                <!-- Wizard navigation item 4-->
                <a class="nav-item nav-link" id="wizard4-tab" href="#wizard4" data-bs-toggle="tab" role="tab" aria-controls="wizard4" aria-selected="true">
                    <div class="wizard-step-icon">4</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Review &amp; Submit</div>
                        <div class="wizard-step-text-details">Review and submit changes</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="cardTabContent">
                <!-- Wizard tab pane item 1-->
                <div class="tab-pane py-2 py-xl-2 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                    <div class="row justify-content-center">
                        <div class="col-xxl-10 col-xl-8">
                            <h3 class="text-primary">Step 1</h3>
                            <h5 class="card-title mb-4 fw-100">Find a pet and click select</h5>
                            <table id="petTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Pet</th>
                                        <th>Species</th>
                                        <th>Owner</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pet in pets %}
                                    <tr>
                                        <td>{{ pet.id }}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2">
                                                    <img class="avatar-img img-fluid" src="{{ pet.picture.url }}" loading="lazy"/>
                                                </div>
                                                {{ pet.name }}
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark btn-to-pet" href="{% url 'admin-view-pet-page' pet.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Pet">
                                                    <i data-feather="external-link"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>{{ pet.species }}</td>
                                        <td >
                                            {{ pet.client.full_name }}
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="{% url 'admin-view-client-page' pet.client.id %}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="View Client">
                                                <i data-feather="external-link"></i>
                                            </a>
                                            {% if request.user.is_authenticated and pet.client.user.id == request.user.id %}
                                            (You)
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-transparent-dark select-pet-button">
                                                <span class="small">Select</span> 
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr class="my-4" />
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-light disabled previous-button" type="button" disabled>Previous</button>
                                <button class="btn btn-primary next-button" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wizard tab pane item 2-->
                <div class="tab-pane py-2 py-xl-2 fade" id="wizard2" role="tabpanel" aria-labelledby="wizard2-tab">
                    <div class="row justify-content-center">
                        <div class="col-xxl-10 col-xl-8">
                            <h3 class="text-primary">Step 2</h3>
                            <h5 class="card-title mb-4 fw-100">Fill-in medical record fields</h5>
                            {% csrf_token %}
                            <form method="POST" id="medical-record-form">
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputLabResults">Lab Results</label>
                                    <input class="form-control" id="inputLabResults" type="text" placeholder="Enter lab results"/>
                                </div>
                                <div class="row gx-3">
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputFindings">Findings</label>
                                        <input class="form-control" id="inputFindings" type="text" placeholder="Enter findings"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputTemperature">Temperature (Celcius)</label>
                                        <input class="form-control" id="inputTemperature" type="text" placeholder="Enter pet temperature"/>
                                    </div>
                                </div>
                                <div class="row gx-3">
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputDiagnosis">Diagnosis</label>
                                        <input class="form-control" id="inputDiagnosis" type="text" placeholder="Enter diagnosis"/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputTreatment">Treatment</label>
                                        <input class="form-control" id="inputTreatment" type="text" placeholder="Enter treatment"/>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputMedImages">Medical Image</label>
                                    <input class="form-control" id="inputMedImages" type="file"/>
                                </div>
                                <hr class="my-4" />
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-light previous-button" type="button">Previous</button>
                                    <button class="btn btn-primary next-button" type="button">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Wizard tab pane item 3-->
                <div class="tab-pane py-2 py-xl-2 fade" id="wizard3" role="tabpanel" aria-labelledby="wizard3-tab">
                    <div class="row justify-content-center">
                        <div class="col-xxl-10 col-xl-8">
                            <h3 class="text-primary">Step 3</h3>
                            <h5 class="card-title mb-4 fw-100">Add a prescription if needed</h5>
                            <div class="table-responsive billing-table">
                                <table class="table table-borderless mb-0 mt-4">
                                    <thead class="">
                                        <tr class="small text-uppercase text-muted">
                                            <th scope="col">
                                                Medicines
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#addMedicineModal" data-bs-toggle="modal" data-bs-placement="top" title="Add Medicine" id="addMedicineBtn">
                                                    <i data-feather="plus-circle"></i>
                                                </a>
                                            </th>
                                            <th class="text-end" scope="col">Strength</th>
                                            <th class="text-end" scope="col">Form</th>
                                            <th class="text-end" scope="col">Dosage</th>
                                            <th class="text-end" scope="col">Frequency</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-products">
                                        <!-- added product here -->
                                        <tr id="total-row">
                                            <td class="text-end pb-0" colspan="3"><!-- empty for spacing --></td>
                                            <td class="text-end pb-0" colspan="3"><!-- empty for spacing --></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            Remarks:<br>
                            <textarea class="form-control wider-input multitext-custom prescription-remarks" id="remarks" cols="30" rows="5" style="resize: none;" placeholder="Ex. Reduce exposure to smoke and dust."></textarea>
                            <hr class="my-4" />
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-light previous-button" type="button">Previous</button>
                                <button class="btn btn-primary next-button" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wizard tab pane item 4-->
                <div class="tab-pane py-2 py-xl-2 fade" id="wizard4" role="tabpanel" aria-labelledby="wizard4-tab">
                    <div class="row justify-content-center">
                        <div class="col-xxl-10 col-xl-8">
                            <h3 class="text-primary">Step 4</h3>
                            <h5 class="card-title mb-4 fw-100">Review the following information and submit</h5>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Username:</em></div>
                                <div class="col">username</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Name:</em></div>
                                <div class="col">Valerie Luna</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Organization Name:</em></div>
                                <div class="col">Start Bootstrap</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Location:</em></div>
                                <div class="col">San Francisco, CA</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Email Address:</em></div>
                                <div class="col">name@example.com</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Phone Number:</em></div>
                                <div class="col">555-123-4567</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Birthday:</em></div>
                                <div class="col">06/10/1988</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Credit Card Number:</em></div>
                                <div class="col">**** **** **** 1111</div>
                            </div>
                            <div class="row small text-muted">
                                <div class="col-sm-3 text-truncate"><em>Credit Card Expiration:</em></div>
                                <div class="col">06/2024</div>
                            </div>
                            <hr class="my-4" />
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-light previous-button" type="button">Previous</button>
                                <button class="btn btn-primary submit-button" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- finish consultation -->
<div class="modal fade" id="addMedicineModal" tabindex="-1" role="dialog" aria-labelledby="addMedicineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMedicineModalLabel">Add Medicine</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header border-bottom">
                        <!-- Dashboard card navigation-->
                        <ul class="nav nav-tabs card-header-tabs scrollable-tab" id="dashboardNav" role="tablist">
                            {% for type, products in product_dict.items %}
                                <li class="nav-item me-1">
                                    <a class="nav-link{% if forloop.first %} active{% endif %}" id="{{ type }}-pill" href="#{{ type }}" data-bs-toggle="tab" role="tab" aria-controls="{{ type }}" aria-selected="{{ forloop.first }}">
                                        {{ type }} ({{ products|length }})
                                    </a>
                                </li>
                            {% endfor %}      
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="dashboardNavContent">
                            {% for type, products in product_dict.items %}
                            <!-- Dashboard Tab Pane 2-->
                            <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="{{ type }}" role="tabpanel" aria-labelledby="{{ type }}-pill">
                                <table id="table-medicines-{{ forloop.counter }}">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Medicine</th>
                                            <th>Strength</th>
                                            <th>Form</th>
                                            <th>Quantity</th>
                                            <th>Dosage</th>
                                            <th>Frequency</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        {% if product.active %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>
                                                <span class="product-name">
                                                    {{ product.product_name }}
                                                </span>
                                                <span class="product-type" style="display: none;">
                                                    {{ product.type }}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-strength" placeholder="Ex. 100mg" required>
                                            </td>
                                            <td>
                                                <select type="text" class="form-select product-form" required>
                                                    <option value="">----</option>
                                                    {% for value, form_type in formList %}
                                                        <option value="{{ value }}">{{ form_type }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" class="form-control product-quantity" min="1" step="0.01" value="1" style="width: 80px;" onkeydown="javascript: return event.keyCode !== 69" required>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-dosage" placeholder="Ex. 1 tablet twice daily" required>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control product-frequency" placeholder="Ex. Every 12 hours" required>
                                            </td>
                                            <td>
                                                <button class="btn btn-dark btn-sm add-product" data-product-id="{{ product.id }}">
                                                    <span class="add-text">Add</span>
                                                    <span class="add-product-ajax-loading spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
                                                </button>                                                                      
                                            </td>                                
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
{% endblock %}