{% extends 'admin_dashboard/base.html' %}

{% load static %}

{% block title %} Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}

{% endblock %}

{% block content %}
<main>
    <div class="card card-header-actions mt-5 mb-5">
        <div class="card-header">
            Pets
            <button class="btn btn-dark btn-sm">Print</button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pet</th>
                        <th>Species</th>
                        <th>Birthday</th>
                        <th>Owner</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.species }}</td>
                        <td>{{ pet.birthday }}</td>
                        <td >{{ pet.client.first_name }} {{ pet.client.last_name }}</td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="View Pet">
                                <i data-feather="external-link"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Encode Health Card">
                                <i data-feather="credit-card"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Create Medical Prescription">
                                <i data-feather="list"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Encode Medical Record">
                                <i data-feather="heart"></i>
                            </a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Set Appointment">
                                <i data-feather="calendar"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'plugins/sb-admin/js/datatables/simple-datatables.js' %}"></script>
<script src="{% static 'plugins/sb-admin/js/datatables/datatables-simple-demo.js' %}"></script>
{% endblock %}
