{% load static %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
  .footer-wrapper {
      background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
      font-family: 'Rubik', sans-serif;
      background: white;
      height: 100% !important;
      color: black;
      margin: 0 auto;
  }

  .footer-wrapper .container-fluid{
      overflow:hidden; 
      margin-top: 250px ;
      background:white ;
      color: black  !important;
      margin-bottom: 0 ;
      padding-bottom:0  ;
      
  }

  .footer-wrapper small{
      font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
  }

  .footer-wrapper .bold-text{
      color: black !important;
  }


  .footer-wrapper .mt-55{
      margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
  }


  .footer-wrapper h3{
      font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
  }
  
  .footer-wrapper .social{
      font-size: 21px !important; 
  }

  .footer-wrapper .rights{
      font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
  }

  .footer-custom
  {
    color: black;
  }

  .footer-wrapper hr
  {
    width: 98%;
    margin: 0 auto;
  }

  .menu-links
  {
    text-decoration: none;
    color: black;
  }

  .menu-links:hover
  {
    color: #232323;
  }
</style>
<center>
  <hr style="width: 98%;">
</center>

<div class="container-fluid pb-0 mb-0 justify-content-center text-light footer-wrapper">
  <footer>
      <div class="row my-5 justify-content-center py-5 footer-custom">
          <div class="col-11">
              <div class="row ">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-12  my-auto mx-auto a">
                    <h3 class="text-muted mb-md-0 mb-5 bold-text">
                      Barraca Veterinary Clinic
                    </h3>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                    <h6 class="mb-3 mb-lg-4 bold-text ">
                      <b>
                        Menu
                      </b>
                    </h6>
                    <ul class="list-unstyled">
                      <li><a href="{% url 'about-page' %}" class="menu-links">About</a></li>
                      <!-- <li><a href="#" class="menu-links">FAQs</a></li> -->
                      <li><a href="{% url 'contact-page' %}" class="menu-links">Contact</a></li>
                      <li><a href="{% url 'pricing-page' %}" class="menu-links">Pricing</a></li>
                      <!-- <li><a href="#" class="menu-links">Blog</a></li> -->
                    </ul>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                    <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
                      <b>
                        Address
                      </b>
                    </h6>
                    <p class="mb-1">
                      Door 5 & 6 SLB Building
                    </p>
                    <p class="mb-1">
                      431 Abad Santos Street
                    </p> 
                    <p class="mb-1">
                      Koronadal, Philippines
                    </p> 
                  </div>
              </div>
              <div class="row">
                  <div class="col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                    <p class="social text-muted mb-0 pb-0 bold-text"> 
                      <span  class="mx-2">
                        <a href="https://www.facebook.com/profile.php?id=100089814014439" class="menu-links" target="_blank">
                          <i class="fa-brands fa-facebook-f"></i>
                        </a>
                      </span> 
                      <span class="mx-2">
                        <a href="https://www.facebook.com/messages/t/105736329099012" class="menu-links" target="_blank">
                          <i class="fa-brands fa-facebook-messenger"></i>
                        </a>
                      </span> 
                      <span class="mx-2">
                        <a href="#" class="menu-links" target="_blank">
                          <i class="fa-brands fa-twitter"></i>
                        </a>
                      </span> 
                      <span class="mx-2">
                        <a href="#" class="menu-links" target="_blank">
                          <i class="fa-brands fa-instagram"></i>
                        </a>
                      </span> 
                    </p>
                    <small class="rights">
                      <span>
                        &#174;
                      </span> 
                      {% now "Y" %} All Rights Reserved.
                    </small>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                    <h6 class="mt-55 mt-2 text-muted bold-text">
                      <b>
                        Yvette Mae Barraca
                      </b>
                    </h6>
                    <small> 
                      <span>
                        <i class="fa-regular fa-envelope"></i>
                      </span> 
                      yvettebarraca@gmail.com
                    </small>
                  </div>
                  <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3">
                    <h6 class="text-muted bold-text">
                      <b>
                        Yvette Mae Barraca
                      </b>
                    </h6>
                    <small>
                      <span>
                        <i class="fa-solid fa-phone"></i>
                      </span> 
                      0928 793 6150
                    </small>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>