{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
      <a class="navbar-brand" href="{% url 'home' %}">Barraca Veterinary Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <div class="">
              {% if user.is_authenticated %}
                {% if user.is_staff %}
                <a class="btn btn-info me-2 btn-sm" href="{% url 'admin-vet' %}">Admin</a>
                {% endif %}
                <a class="btn btn-warning me-2 btn-sm" href="{% url 'pet-list-page' %}">My Pets</a>
                <a class="btn btn-danger me-2 btn-sm" href="{% url 'logout-page' %}">Logout</a>
              {% else %}
                <a class="btn btn-primary me-2 btn-sm" href="{% url 'login-page' %}">Login</a>
                <a class="btn btn-primary btn-sm" href="{% url 'register-user-page' %}">Signup</a>
              {% endif %}
            </div>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Contact
                </a>
              </li>
          </ul>
      </div>
  </div>
</nav>