{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}">

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Barraca Veterinary Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
        </ul>
        <div class="d-flex">
          
          {% if user.is_authenticated %}
            {% if user.is_staff %}
            <a class="btn btn-info me-2" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="btn btn-warning me-2" href="{% url 'pet-list-page' %}">My Pets</a>
            <a class="btn btn-danger me-2" href="{% url 'logout-page' %}">Logout</a>
          {% else %}
            <a class="btn btn-primary me-2" href="{% url 'login-page' %}">Login</a>
            <a class="btn btn-primary" href="{% url 'register-user-page' %}">Signup</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/navbar/custom.js' %}"></script>