{% load static %}
<div id="fullscreen-spinner" class="d-flex justify-content-center align-items-center" style="display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); z-index: 1000000;">
   <div class="spinner-border text-light" role="status">
       <span class="visually-hidden">Loading...</span>
   </div>
</div>
<script>
   $(document).ready(function() {
       setTimeout(function() {
           $('#fullscreen-spinner').addClass('d-none');
       }, 300);

       $(document).ajaxStart(function() {
           $('#fullscreen-spinner').removeClass('d-none'); 
       });

       $(document).ajaxStop(function() {
            $('#fullscreen-spinner').addClass('d-none');
       });
   });
</script>
