{% load static %}
<link id="loader-css" rel="stylesheet" href="{% static 'css/loader.css' %}">

<div class="loader">
    <div class="dog">
       <div class="dog-body">
          <div class="dog-tail">
             <div class="dog-tail">
                <div class="dog-tail">
                   <div class="dog-tail">
                      <div class="dog-tail">
                         <div class="dog-tail">
                            <div class="dog-tail">
                               <div class="dog-tail"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="dog-torso"></div>
       <div class="dog-head">
          <div class="dog-ears">
             <div class="dog-ear"></div>
             <div class="dog-ear"></div>
          </div>
          <div class="dog-eyes">
             <div class="dog-eye"></div>
             <div class="dog-eye"></div>
          </div>
          <div class="dog-muzzle">
             <div class="dog-tongue"></div>
          </div>
       </div>
    </div>
 </div>

 <script>
window.addEventListener("load", function() {
  const loader = document.querySelector(".loader");
  const navbar = document.querySelector(".frontend-navbar");
  const loaderCSS = document.getElementById("loader-css");
  const body = document.body;

  body.classList.add("loader-active");

  if (loaderCSS != null) {
    loaderCSS.parentNode.removeChild(loaderCSS);
  }

  loader.style.display = "none";

  if (navbar != null) {
    navbar.classList.remove("navbar-hidden");
  }

  body.classList.remove("loader-active");
});
</script>