
body {
    overflow: auto;
}

.header-barraca
{
  font-size: 4rem;
  margin-top: 110px
}

.title-barraca
{
  text-align: center;
  margin-bottom: 20px;
  cursor: default;
}

.description-barraca
{
  font-size: 1.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; ALTERNATIVE */ 
  line-height: 1.2;
  font-weight: 500;
}

.btn-dark
{
  background: #121212;
}

.form-container {
  width: 20%;
  margin: 0 auto;
}

.modal-content {
  font-size: 14px;
  line-height: 1.5;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.modal-footer {
  background-color: #f8f9fa;
}

body
{
  background: white;
}

.barraca-title
{
  padding-top: 50px;
  cursor: default;
}

.barraca-title a
{
  color:#121212;
}

.title-barraca h1
{
  font-weight: 600;
}

.mb-3 button
{
  background: #121212;
  border: none;
  width: 50%;
}

.mb-3 button:hover
{
  background: #2b2b2b;
}

.forgot-pass
{
  color: #9b9b9b;
  margin: 0 auto;
}

.create-acc
{
  color: #9b9b9b;
  margin: 0 auto;
}

.footer-barraca
{
  color: #9b9b9b;
  cursor: default;
}

.form-container {
  width: 40%;
}

#layoutAuthentication {
  min-height: 0px;
}

#layoutAuthentication {
margin-top: 132px;
}

@media (max-width: 1200px) {
    body {
        overflow: auto;
    }
  /* Add fixed-top to your title */
  .barraca-title {
    position: static;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
  }

  .title-barraca
  {
    margin-top: 50px
  }

  .footer-admin {
    position: static;
  }

  #layoutAuthentication {
    min-height: none;
    }

  .header-barraca {
    font-size: 4rem;
    margin-top: 20px
  }

  .description-barraca {
    font-size: 1.2rem;
    max-width: 300px;
  }

  .form-container {
    width: 100%;
    margin: 0 auto;
    margin-top: -30px;
  }

  .row
  {
    margin: 0 auto;
    text-align: center;
  }

  .mb-3 button {
    width: 94%;
  }

  .create-acc {
    margin-bottom: 20px;
  }  

  #layoutAuthentication
  {
    margin-top: 0px;
  }
}

.wider-input {
  width: 100%; 
}

.get-started-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* or any desired height */
}

.multitext-custom
{
  height: 104px;
}

.form-select, .datatable-selector 
{
  color: #69707aab;
}

.datatable-input::-webkit-search-clear-button {
  appearance: none;
}

.datatable-input::-webkit-search-cancel-button {
  appearance: none;
}

.datatable-input::-ms-clear {
  display: none;
}

.datatable-input::-moz-cancel {
  display: none;
}