{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} Contact - Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
  .header-barraca
  {
    font-size: 5rem;
  }
  .title-barraca
  {
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
  }

  .description-barraca
  {
    font-size: 1.5rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; ALTERNATIVE */ 
    line-height: 1.2;
    font-weight: 500;
  }

  .btn-dark
  {
    background: #121212;
  }

  .second-part {
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;  
    margin-top: 150px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
  }

  .dog-doogle-1 {
      width: 10%;
      position: absolute;  
      bottom: -5.5%;           
      right: -2%;            
  }

  .dog-doogle-2 {
    width: 10%;
    position: absolute;  
    top: -50%;          
    left: 0;         
  }

  .third-part {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;  
    margin-top: 40px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .about-barraca {
    width: 50%; 
    margin: 0 auto; 
    font-weight: 600; 
    line-height: 2; 
    margin-bottom: 50px !important;
  }

  @media (max-width: 767px) {
    .header-barraca {
      font-size: 4rem;
    }

    .description-barraca {
      font-size: 1.2rem;
      max-width: 300px;
    }
    .third-part {
      margin-top: 0px;
      margin-bottom: 25px;
    }
    .dog-doogle-2
    {
      display: none;
    }
    .dog-doogle-1
    {
      display: none;
    }
    .second-part {
      margin-top: 25px;
      margin-bottom: 25px;
      height: 100%;
      padding: 10px;
    }
    .groom
    {
      margin-bottom: 10px;
    }

    .about-barraca {
        width: 100%;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="title-barraca">
        <h1 class="header-barraca fw-bold">
        Contact<br>
        </h1>
        <p class="description-barraca">
            Barraca Veterinary Clinic
        </p>
        <br>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h4>Contact Number</h4>
            <p class="lead mb-4">0928 793 6150</p>
            <h4>Email</h4>
            <p class="lead mb-4">yvettebarraca@gmail.com</p>
            <div class="alert alert-primary alert-icon mb-0" role="alert">
                <div class="alert-icon-aside"><i data-feather="alert-triangle"></i></div>
                <div class="alert-icon-content">
                    <h5 class="alert-heading">Social Media Platforms</h5>
                    Go to the very bottom and click the social media icons to redirect you to our social media platforms!
                </div>
            </div>
        </div>
    </div>
    <img class="ending-img img-fluid" src="{% static 'images/thank-you.png' %}" width="100%"/>
</div>
{% endblock %}

{% block extrascript %}

{% endblock %}