{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} Account Settings | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4 animated--fade-in-up">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ms-0" href="{% url 'client-account-settings-page' %}">Account</a>
            <a class="nav-link" href="{% url 'client-password-settings-page' %}">Password</a>
            <a class="nav-link active" href="{% url 'client-otp-settings-page' %}">2FA</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Two-Factor Authentication</div>
                    <div class="card-body">
                        <p>Add another level of security to your account by enabling two-factor authentication during login.</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ two_factor_form.as_p }}
                            <button class="btn btn-sm btn-dark" type="submit">Save</button>
                        </form>
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Phone Number</div>
                    <div class="card-body">
                        <center style="font-weight: 500;" class="text-primary">{{ sms_number }}</center>
                        <p class="mt-2">If you want to change your phone number, please contact an administrator or visit the clinic.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const genderSelect = document.getElementById('gender');

        genderSelect.addEventListener('focus', function() {
            for (let i = 0; i < this.options.length; i++) {
                if (this.options[i].value === '') {
                    this.options[i].style.display = 'none';
                }
            }
        });

        genderSelect.addEventListener('blur', function() {
            for (let i = 0; i < this.options.length; i++) {
                if (this.options[i].value === '') {
                    this.options[i].style.display = 'block';
                }
            }
        });

        genderSelect.addEventListener('change', function() {
            if (this.value === 'Male' || this.value === 'Female') {
                this.style.color = '#69707a';
            } else {
                this.style.color = ''; // Reset to default color if selection is not 'Male' or 'Female'
            }
        });
    });
  </script>
{% endblock %}
