{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} Account Settings | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
    ul.errorlist {
    margin-top: 15px;  /* Adjust this value to your liking */
}
</style>
{% endblock %}

{% block content %}
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4 animated--fade-in-up">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ms-0" href="{% url 'client-account-settings-page' %}">Account</a>
            <a class="nav-link active" href="{% url 'client-password-settings-page' %}">Password</a>
            <a class="nav-link" href="{% url 'client-otp-settings-page' %}">2FA</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form method="POST" class="form-pass-change">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <span>{{ password_form.old_password.label_tag }}</span>
                                {{ password_form.old_password }}
                                <span style="color:maroon;" class="mt-2">{{ password_form.old_password.errors }}</span>
                            </div>
                            <div class="form-group mb-3">
                                <span>{{ password_form.new_password1.label_tag }}</span>
                                {{ password_form.new_password1 }}
                                <span style="color:maroon;" class="mt-2">{{ password_form.new_password1.errors }}</span>
                            </div>
                            <div class="form-group mb-3">
                                <span>{{ password_form.new_password2.label_tag }}</span>
                                {{ password_form.new_password2 }}
                                <span style="color:maroon;" class="mt-2">{{ password_form.new_password2.errors }}</span>
                            </div>
                            <button class="btn btn-sm btn-dark mt-2" type="submit">Save</button>
                        </form>
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                                {% if 'password_form' in message.tags %}
                                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                        <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
                    </div>
                </div>
            </div> -->
        </div>
        
    </div>
</main>

{% endblock %}

{% block extrascripts %}

{% endblock %}
