{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Login" />
        <meta name="author" content="Kent J" />
        <title>Login | Barraca Veterinary Clinic</title>

        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.webp' %}" />
        <link href="{% static 'plugins/sb-admin/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="{% static 'plugins/feather-icons/js/feather.min.js' %}"></script>
    </head>
    <body>

        <center>
          <div class="large fixed-top text-dark fw-bold barraca-title">
            <a href="{% url 'home' %}">
              Barraca Veterinary Clinic
            </a>
          </div>
        </center>
      </header>
      <div class="container">
        <p>{{ message_balance }}</p>
        <div class="title-barraca">
          <h1 class="header-barraca">
            Log in
          </h1>
          <br>
        </div>
      </div>
      <div class="container form-container">
        <form method="post">
          {% csrf_token %}
          <!-- Form Group (email address)-->
          <div class="mb-3">
              {{ form.username }}
          </div>
          <!-- Form Group (password)-->
          <div class="mb-3">
              {{ form.password }}
          </div>
          <div class="form-group">
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary rounded">Get Started</button>
          </div>
          <!-- Form Group (login box)-->
          <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
              <a class="small forgot-pass" href="#">Forgot Password?</a>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small create-acc" href="{% url 'register-user-page' %}">Create Account</a>
          </div>
        </form>
      </div>
      <div id="layoutAuthentication">
          <div id="layoutAuthentication_footer">
              <footer class="footer-admin mt-auto footer-dark fixed-bottom">
                  <div class="container-xl px-4">
                      <div class="row">
                          <div class="col-md-6 small footer-barraca">&copy; Barraca Veterinary Clinic {% now "Y" %}</div>
                          <div class="col-md-6 text-md-end small footer-barraca">
                              <a href="#!" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy Policy</a>
                              &middot;
                              <a href="#!" data-bs-toggle="modal" data-bs-target="#termsModal">Terms &amp; Conditions</a>
                          </div>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
      <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Privacy Policy Content -->
              <p>At Barraca Veterinary Clinic, we are committed to protecting the privacy and security of our website visitors and clients. This privacy policy explains how we collect, use, and protect your personal information when you visit our website or use our services.</p>
      
              <p>We collect personal information that you provide to us when you fill out forms on our website, contact us through email or phone, or use our services. This may include your name, address, email address, phone number, pet information, and payment information. We also collect non-personal information, such as your IP address, browser type, and operating system, which we use to improve our website and services.</p>
      
              <p>We use your personal information to provide you with the services you request, such as scheduling appointments, processing payments, and communicating with you about your pet's health. We may also use your information to improve our services and website, to send you promotional emails or newsletters, and to comply with legal obligations.</p>
      
              <p>We do not share your personal information with third parties except as necessary to provide our services, such as sharing your pet's health information with specialists or other veterinary clinics for treatment purposes. We may also share your information with our service providers who assist us with website hosting, payment processing, and email communication. We may disclose your information if required by law or if we believe it is necessary to protect our rights or the safety of our clients, staff, or others.</p>
      
              <p>We use industry-standard security measures to protect your personal information from unauthorized access, use, or disclosure. We also limit access to your information to authorized personnel who need to know the information to provide our services.</p>
      
              <p>Our website uses cookies and other tracking technologies to personalize your experience, improve our website, and analyze website usage. You can disable cookies in your browser settings, but please note that this may affect the functionality of our website.</p>
      
              <p>You have the right to access, modify, or delete your personal information. You may also opt-out of receiving promotional emails or newsletters. To exercise your rights, please contact us by <a href="#">clicking here</a>.</p>
      
              <p>We may update this privacy policy from time to time to reflect changes in our practices or applicable laws. We will post the updated policy on our website and notify you by email or through our website.</p>
              <!-- End Privacy Policy Content -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Terms and Conditions Modal -->
      <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Terms and Conditions Content -->
              <p>By accessing or using the Barraca Veterinary Clinic website, you agree to be bound by the following terms and conditions:</p>

              <p>1. Content: The content on this website is provided for informational purposes only and is not intended to be a substitute for professional veterinary advice, diagnosis, or treatment. Always seek the advice of a licensed veterinarian with any questions you may have regarding your pet's health.</p>

              <p>2. Intellectual Property: The content on this website, including but not limited to text, graphics, images, and logos, is the property of arraca Veterinary Clinic and is protected by applicable copyright and trademark laws. You may not copy, reproduce, distribute, or display any part of this website without our prior written consent.</p>

              <p>3. Links: This website may contain links to third-party websites that are not under our control. We are not responsible for the content, accuracy, or reliability of any third-party websites, and we do not endorse or make any representations about them. Your use of third-party websites is at your own risk.</p>

              <p>4. Limitation of Liability: We are not liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or in connection with your use of this website or our services, including but not limited to damages for loss of profits, goodwill, or data. This limitation of liability applies even if we have been advised of the possibility of such damages.</p>

              <p>5. Governing Law: These terms and conditions are governed by and construed in accordance with the laws of [Your Jurisdiction], and you irrevocably submit to the exclusive jurisdiction of the courts in that jurisdiction.</p>

              <p>6. Changes to these Terms and Conditions: We may update these terms and conditions from time to time by posting the updated version on our website. Your continued use of our website after the posting of the updated terms and conditions constitutes your acceptance of the updated terms and conditions.</p>
              <!-- End Terms and Conditions Content -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'plugins/sb-admin/js/scripts.js' %}"></script>
    </body>
</html>
