{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} Pet Register | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<style>
  .col-xl-8 
  {
    width: 100%;
  }
  
  .col-md-6 .small
  {
    font-weight: 700;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
  <nav class="mt-4 rounded mb-5" aria-label="breadcrumb">
    <ol class="breadcrumb px-3 py-2 rounded mb-0">
        <li class="breadcrumb-item"><a href="{% url 'pet-list-page' %}">My Pets</a></li>
        <li class="breadcrumb-item active">Add Pet</li>
    </ol>
  </nav>
  <div class="row mt-5">
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Add Pet</div>
            <div class="card-body">
              <form id="pet_registration_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputFirstName">Name</label>
                      {{ form.name }}
                  </div>
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputLastName">Birthday</label>
                      {{ form.birthday }}
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputFirstName">Specie</label>
                      {{ form.species }}
                  </div>
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputLastName">Breed</label>
                      {{ form.breed }}
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputFirstName">Gender</label>
                      {{ form.gender }}
                  </div>
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputLastName">Color</label>
                      {{ form.color }}
                  </div>
                </div>
                <div class="row gx-3 mb-3">
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputFirstName">Weight (kg)</label>
                      {{ form.weight }}
                  </div>
                  <div class="col-md-6">
                      <label class="small mb-1" for="inputLastName">Picture</label>
                      {{ form.picture }}
                  </div>
                </div>
                <button class="btn btn-dark" type="button" id="addPetButton">Add Pet</button>
                <!-- <button class="btn btn-dark" type="submit">Add Pet</button> -->
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- Picture Error Modal -->
<div class="modal fade" id="errorModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="errorModalLabel" style="color: red;">Error</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="error-message">
              <!-- message here -->
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-dark" type="button" data-bs-dismiss="modal">
              OK
            </button>
          </div>
      </div>
  </div>
</div>
<!-- Add Pet Confirmation Modal -->
<div class="modal fade" id="addPetConfirmationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addPetConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPetConfirmationModalLabel">Add Pet Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add this pet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-dark" type="submit" form="pet_registration_form" id="add-pet-button">Add Pet</button>
      </div>
    </div>
  </div>
</div>
<!-- Missing Fields -->
<div class="modal fade" id="addPetMissingFields" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addPetMissingFieldsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPetMissingFieldsLabel" style="color: red;">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Missing fields.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
{% if form.picture.errors %}
<script>
  $(document).ready(function() {
    $('#error-message').text("{{ form.picture.errors|striptags }}");
    $('#errorModal').modal('show');
    
  });
</script>
{% endif %}
<script>
  $(document).ready(function() {
    $('#pet_registration_form').on('submit', function(e) {
      $('#add-pet-button').attr('disabled', true).html(`
        Submitting Pet&nbsp;
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      `);
    });
  });
</script>
<script>
  $(document).ready(function(){
      $('#weight').on('keydown', function(e) {
          var value = $(this).val();
          var decimal_point_index = value.indexOf('.');
          if (e.key === '-' || e.key === 'e' || (decimal_point_index >= 0 && value.length - decimal_point_index > 2 && 
             !(e.key === 'Backspace' || e.key === 'Delete' || e.key === 'ArrowLeft' || e.key === 'ArrowRight'))) {
              e.preventDefault();
          }
      }).bind("cut copy paste",function(e) {
        e.preventDefault();
      });
  });
</script>
<script>
  document.getElementById("addPetButton").addEventListener("click", function() {
    const name = document.getElementById("name").value;
    const birthday = document.getElementById("birthday").value;
    const species = document.getElementById("species").value;
    const breed = document.getElementById("breed").value;
    const gender = document.getElementById("gender").value;
    const color = document.getElementById("color").value;
    const weight = document.getElementById("weight").value;
    const picture = document.getElementById("picture").value;

    if (!name || !birthday || !species || !breed || !gender || !color || !weight || !picture) {
      const modal = new bootstrap.Modal(document.getElementById("addPetMissingFields"));
      modal.show();
    } else {
      const modal = new bootstrap.Modal(document.getElementById("addPetConfirmationModal"));
      modal.show();
    }
  });
  </script>
  
{% endblock %}