{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} My Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
<style>
    .card {
        box-shadow: none;
    }

    .loading-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8); 
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-custom {
        width: calc(25% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .card-custom .card-img-top {
        height: 200px; 
        object-fit: cover;
    }

    .card-custom .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-deck-custom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        margin: 0 -5px;
    }
    .custom-btn {
        width: 100%;
        background: #121212;
        border: none;
    }

    @media (max-width: 991px) {
        .card {
            margin: 0 auto;
            margin-bottom: 10px;
            width: 100%;
        }
        .card-custom {
            width: 100%; 
            margin-right: 0; 
        }
        .card-deck-custom {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: auto;
        }
    }

    .wave {
        position: absolute;
        width: 80%;
        height: 80%;
        background: #eee;
        border-radius: 10%;
        animation: waveAnimation 1.5s infinite;
    }

    @keyframes waveAnimation {
        0%, 100% {
            transform: scale(1);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.1);
            opacity: 1;
        }
    }
</style>
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
    <h1>My Pets</h1> 
    Click <a href="{% url 'register-pet-page' %}">here</a> to register another pet</p>
    <div class="card-deck-custom">
        {% for pet in pets %}
        {% if pet.is_active %}
        <div class="card card-custom">
            <div class="loading-placeholder">
                <div class="wave"></div>
            </div>
            <img class="card-img-top" src="{{ pet.picture.url }}" alt="{{ pet.name }}" onload="hidePlaceholder(this)">
            <div class="card-body">
                <center><h5 class="card-title mt-3 mb-4 pet-name" style="display: none;">{{ pet.name }}</h5></center>
                <a href="{% url 'view-pet-page' pet.id %}" class="btn btn-dark custom-btn lift lift-sm" style="display: none;">View Pet</a>
                {% if not pet.has_active_appointment %}
                <a href="#" data-pet-id="{{ pet.id }}" class="btn btn-dark custom-btn mt-2 lift lift-sm set-appointment" style="display: none;">Set Appointment</a>
                {% else %}
                <a href="#" data-pet-id="{{ pet.id }}" data-appointment-id="{{ pet.active_appointment_id }}" class="btn btn-dark custom-btn mt-2 lift lift-sm view-appointment" style="display: none;">View Appointment</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Oh no!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- message here -->
        </div>
        <div class="modal-footer">
            <button id="OKErrorModalButton" type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block extrascripts %}
<script>
    function showError(message) {
        $('#errorModal .modal-body').text(message);
        $('#errorModal').modal('show');
    }

    $(".set-appointment").on('click', function(e){
        e.preventDefault();
        const petId = $(this).data('pet-id');
        $.ajax({
            url: `{% url "does_pet_have_appointment" pet_id=0 %}`.replace('0', petId),
            method: 'GET',
            success: function(response) {
                if (response.has_appointment) {
                    showError("This pet already has an appointment. Click view pet to check your pet's appointment.");
                } else {
                    window.location.href = `{% url 'client_calendar' %}?pet_id=${petId}`;
                }
            }
        });
    });

    $(".view-appointment").on('click', function(e){
        e.preventDefault();

        const appointmentId = $(this).data('appointment-id');

        if (appointmentId) {
            window.location.href = `{% url 'client_calendar' %}?appointment_id=${appointmentId}`;
        } else {
            showError("This pet does not have an appointment. Click set appointment to set an appointment for this pet.");
        }
    });

    function hidePlaceholder(imgElement) {
        const card = imgElement.closest('.card-custom');
        const placeholder = card.querySelector('.loading-placeholder');
        const btns = card.querySelectorAll('.custom-btn');
        const petName = card.querySelector('.pet-name');
        if (placeholder) {
            placeholder.style.display = 'none';
            btns.forEach(btn => {
                btn.style.display = 'block';
            });
            petName.style.display = 'block';
        }
    }
</script>

{% endblock %}
