{% extends 'customer_dashboard/base.html' %}

{% load static %}

{% block title %} My Pets | Barraca Veterinary Clinic {% endblock %}

{% block extrastyles %}
<script src="{% static 'plugins/jQuery/jquery-3.6.4.min.js' %}"></script>
<style>
    .card {
        box-shadow: none;
    }

    .card-custom {
    width: calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-custom .card-img-top {
    height: 200px; /* Adjust the height according to your needs */
    object-fit: cover;
}

.card-custom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card-deck-custom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        margin: 0 -5px;
    }
    .custom-btn {
        width: 100%;
        background: #121212;
        border: none;
    }

    @media (max-width: 991px) {
        .card {
            margin: 0 auto;
            margin-bottom: 10px;
            width: 100%;
        }
        .card-custom {
            width: 100%; 
            margin-right: 0; 
        }
        .card-deck-custom {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: auto;
        }
    }

</style>
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="container mt-5 animated--fade-in-up">
    <h1>My Pets</h1> 
    Click <a href="{% url 'register-pet-page' %}">here</a> to register another pet</p>
    <div class="card-deck-custom">
        {% for pet in pets %}
        <div class="card card-custom">
            <img class="card-img-top" src="{{ pet.picture.url }}" alt="{{ pet.name }}">
            <div class="card-body">
                <center><h5 class="card-title mt-3 mb-4">{{ pet.name }}</h5></center>
                <a href="{% url 'view-pet-page' pet.id %}" class="btn btn-dark custom-btn lift lift-sm">View Pet</a>
                <a href="#" class="btn btn-dark custom-btn mt-2 lift lift-sm">Set Appointment</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}



{% endblock %}
